<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-layout column>
          <v-flex>
            <v-tabs v-model="selected_tab_id"
                    height="35" dark
                    color="secondary"
                    show-arrows
                    slider-color="white"
                    mandatory>
              <v-tab v-for="tab in tabs"
                     style="text-transform: none"
                     :href="`#${tab.id}`"
                     :disabled="processes.list_itinerary.in_progress"
                     :key="tab.id">
                <span>{{$trans.itinerary[tab.id][locale]}}</span>
              </v-tab>
            </v-tabs>
          </v-flex>
          <v-flex>
            <v-layout row wrap>
              <v-flex xs12 md6>
                <v-text-field height="30"
                              single-line class="pa-0 caption"
                              v-model="query.search_text"
                              @input="search"
                              prepend-inner-icon="search"
                              :placeholder="$trans.common.search[locale]"/>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex>
            <template v-if="processes.list_itinerary.in_progress">
              <div class="text-xs-center">
                <v-progress-circular indeterminate/>
              </div>
            </template>
            <template v-else>
              <template v-if="total > 0">
                <v-layout row wrap>
                  <v-flex xs12 sm6 md4
                          :key="it.id"
                          v-for="it in records">
                    <list-item :itinerary="it"
                               @removed="handle_itinerary_removed"
                               status_showed/>
                  </v-flex>
                  <v-flex text-xs-center v-if="pagination.page * pagination.per_page < total">
                    <v-btn small flat
                           :loading="processes.load_more_it.in_progress"
                           @click="load_more_it"
                           color="primary">
                      {{$trans.common.view_more[locale]}}
                    </v-btn>
                  </v-flex>
                </v-layout>
              </template>
              <template v-else>
                <v-layout column>
                  <v-flex text-xs-center>
                    <div class="text--disabled caption">
                      <template v-if="query.search_text">
                        <div>{{$trans.itinerary.no_fit_result[locale]}}:</div>
                        <div class="font-weight-bold">{{query.search_text}}</div>
                      </template>
                      <template v-else>
                        <div v-if="selected_tab_id === 'all'">
                          {{$trans.itinerary.has_no_it[locale]}}
                        </div>
                        <div v-else>{{$trans.itinerary.it_not_found[locale]}}</div>
                      </template>
                    </div>
                    <v-btn
                      :loading="processes.create_itinerary.in_progress"
                      @click="create_itinerary" flat
                      style="text-transform: none" depressed
                      color="primary" small class="ma-0">
                      <span>{{$trans.itinerary.create_it[locale]}}</span>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </template>
            </template>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <div style="height: 50px"></div>
    <v-tooltip v-model="create_it_button_tooltip_showed" right>
      <template v-slot:activator="{on}">
        <v-btn fab fixed bottom left
               class="white--text"
               v-on="on"
               :loading="processes.create_itinerary.in_progress"
               @click="create_itinerary"
               small
               color="pink accent-2">
          <v-icon>add</v-icon>
        </v-btn>
      </template>
      <span>{{$trans.itinerary.create_it[locale]}}</span>
    </v-tooltip>
  </v-container>
</template>
<script>
  import PublicList from '@/components/itinerary/list/public'
  import ListItem from '@/components/itinerary/list/item'
  import debounce from 'lodash/debounce'

  export default {
    components: {PublicList, ListItem},
    data: () => ({
      tabs: [
        {
          id: 'planning',
        },
        {
          id: 'ongoing',
        },
        {
          id: 'finished',
        },
        {
          id: 'public_it_list',
        }
      ],
      selected_tab_id: 'planning',
      records: [],
      total: 0,
      pagination: {
        page: 1,
        per_page: 12
      },
      query: {
        search_text: ''
      },
      processes: {
        list_itinerary: {
          in_progress: false
        },
        load_more_it: {
          in_progress: false
        },
        create_itinerary: {
          in_progress: false
        }
      },
      create_it_button_tooltip_showed: true
    }),
    created () {
      let selected_tab_id = this.$route.query.tab_id
      let valid_tab_ids = this.tabs.map(t => t.id)
      if (selected_tab_id && valid_tab_ids.includes(selected_tab_id)) {
        this.selected_tab_id = selected_tab_id
      }
      this.list_itinerary()
    },
    mounted () {
      setTimeout(() => {
        this.create_it_button_tooltip_showed = false
      }, 3000)
    },
    watch: {
      'selected_tab_id' (val) {
        this.pagination.page = 1
        this.list_itinerary()
        this.$router.replace({query: {tab_id: val}})
      }
    },
    methods: {
      handle_itinerary_removed (itinerary_id) {
        const index = this.records.findIndex(i => i.id === itinerary_id)
        if (index < 0) return
        this.records.splice(index, 1)
        this.total--
      },
      search: debounce(async function () {
        this.list_itinerary()
      }, 500),
      async list_itinerary () {
        let process = this.processes.list_itinerary
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          ...this.query,
          ...this.pagination
        }
        if (this.selected_tab_id !== 'public_it_list') {
          payload.progress_state = this.selected_tab_id
          payload.include_shared = true
        } else {
          payload.public_only = true
        }
        const response = await this.$services.itinerary.list(payload)
        if (response.status === 200) {
          // success
          this.records = response.data.result
          this.total = response.data.total
        }
        process.in_progress = false
      },
      async create_itinerary () {
        let process = this.processes.create_itinerary
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.itinerary.create()
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$router.push(`/app/cp/itinerary/${response.data.id}`)
        }
      },
      async load_more_it () {
        let process = this.processes.load_more_it
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          include_shared: true,
          per_page: this.pagination.per_page,
          page: this.pagination.page + 1,
          search_text: this.query.search_text
        }
        if (this.selected_tab_id !== 'all') {
          payload.progress_state = this.selected_tab_id
        }
        const response = await this.$services.itinerary.list(payload)
        if (response.status === 200) {
          this.records = this.records.concat(response.data.result)
          this.pagination.page++
        }
        process.in_progress = false
      }
    }
  }
</script>