<template>
  <v-layout column>
    <template v-if="processes.list_image.in_progress">
      <v-flex text-xs-center>
        <v-progress-circular indeterminate/>
      </v-flex>
    </template>
    <template v-else>
      <v-flex>
        <template v-if="mode === 'view'">
          <view-mode :images="images" :event="event"/>
        </template>
        <template v-else>
          <edit-mode :images="images" :event="event"/>
        </template>
      </v-flex>
    </template>
  </v-layout>
</template>
<script>
  import ViewMode from './view'
  import EditMode from './edit'

  export default {
    components: {
      EditMode,
      ViewMode
    },
    props: {
      mode: {type: String, default: 'view'},
      event: {type: Object, required: true}
    },
    data: () => ({
      processes: {
        list_image: {
          in_progress: false
        }
      },
      images: []
    }),
    created () {
      this.list_image()
    },
    methods: {
      async list_image () {
        let process = this.processes.list_image
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          object_id: this.event.id,
          object_type: 'event'
        }
        const response = await this.$services.image.list(payload)
        if (response.status === 200) {
          this.images = response.data.result
        }
        process.in_progress = false
      }
    }
  }
</script>