<template>
  <v-dialog v-model="showed"
            lazy
            max-width="100%"
  >
    <v-carousel v-model="selected_image_id"
                :height="height" hide-delimiters
                :cycle="false">
      <v-carousel-item
        v-for="image in images"
        :value="image.id"
        :key="image.id"
      >
        <v-card :height="height" class="text-xs-center">
          <img :src="image.url"
               height="100%"/>
          <div v-if="image.desc"
            class="pa-1 white--text"
            style="position: absolute; bottom: 0; background: rgba(0,0,0,0.5); width: 100%">
            {{image.desc}}
          </div>
        </v-card>
      </v-carousel-item>
    </v-carousel>
  </v-dialog>
</template>
<script>
  import {mapState} from 'vuex'
  export default {
    props: {
      images: {type: Array, required: true},
      aspect_ratio: {type: Number, default: 7/3}
    },
    data: () => ({
      showed: false,
      selected_image_id: null
    }),
    computed: {
      ...mapState('Device', {
        screen_width: 'width'
      }),
      height () {
        return this.screen_width * (1 / this.aspect_ratio)
      }
    },
    methods: {
      show (selected_image_id) {
        if (selected_image_id) this.selected_image_id = selected_image_id
        this.showed = true
      },
      close () {
        this.showed = false
      }
    }
  }
</script>