<template>
  <v-card class="pa-2">
    <v-layout column wrap>
      <v-flex>
        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
             class="title">{{group.name}}
        </div>
      </v-flex>
      <v-flex>
        <span class="text--disabled">{{`${group.member_count} ${$trans.common.member[locale].toLowerCase()}`}}</span>
      </v-flex>
      <v-flex>
        <template v-if="auth_user.id === group.creator_id">
          <v-tooltip bottom>
            <template v-slot:activator="{on}">
              <v-btn icon small
                     v-on="on" @click="$refs.member.show()"
                     class="ma-0 mr-1" color="primary">
                <v-icon small>group</v-icon>
              </v-btn>
            </template>
            <span>{{$trans.common.member[locale]}}</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{on}">
              <v-btn icon small
                     v-on="on" @click="$refs.edit_dialog.show()"
                     class="ma-0 mr-1" color="success">
                <v-icon small>edit</v-icon>
              </v-btn>
            </template>
            <span>{{$trans.common.edit[locale]}}</span>
          </v-tooltip>
        </template>
        <v-tooltip bottom>
          <template v-slot:activator="{on}">
            <v-btn icon small
                   v-on="on" @click="$refs.itinerary_list.show()"
                   class="ma-0 mr-1 white--text" color="indigo">
              <v-icon small>assignment</v-icon>
            </v-btn>
          </template>
          <span>{{$trans.common.itinerary[locale]}}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{on}">
            <v-btn icon small
                   v-on="on" @click="$refs.share_dialog.show()"
                   class="ma-0 mr-1 white--text" color="orange">
              <v-icon small>share</v-icon>
            </v-btn>
          </template>
          <span>{{$trans.common.share[locale]}}</span>
        </v-tooltip>
      </v-flex>
    </v-layout>
    <member ref="member" :group="group"/>
    <edit-dialog v-model="group"
                 @updated="handle_group_updated"
                 ref="edit_dialog"/>
    <share-dialog ref="share_dialog" :group="group"/>
    <it-list :group="group"
             ref="itinerary_list"/>

    <v-btn icon @click="delete_group"
           v-if="group.creator_id === auth_user.id"
           small class="ma-0"
           :loading="processes.delete_group.in_progress"
           style="right: -7px; top: -7px; width: 20px; height: 20px"
           color="error" absolute>
      <v-icon small>clear</v-icon>
    </v-btn>
  </v-card>
</template>
<script>
  import EditDialog from '../edit-dialog'
  import ItList from '../itinerary-list'
  import Member from '../member'
  import ShareDialog from '../share-dialog'

  export default {
    components: {ShareDialog, EditDialog, Member, ItList},
    props: {
      group: {type: Object, required: true}
    },
    data () {
      return {
        processes: {
          update_group: {
            in_progress: false
          },
          delete_group: {
            in_progress: false
          }
        }
      }
    },
    computed: {
      is_owner () {
        return this.group.creator_id === this.auth_user.id
      }
    },
    methods: {
      async delete_group () {
        let process = this.processes.delete_group
        if (process.in_progress) return
        if (!window.confirm('Bạn có muốn xóa nhóm này?')) return
        process.in_progress = true
        const response = await this.$services.group.delete({ids: this.group.id})
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$notify({
            type: 'success',
            text: 'Xóa nhóm thành công'
          })
          this.$emit('deleted', this.group)
        }
      },
      handle_group_updated (data) {
        Object.assign(this.group, data)
      },
      handle_member_removed (member) {
        const index = this.members.indexOf(member)
        if (index < 0) return
        if (this.is_owner) {
          this.members.splice(index, 1)
          this.group.member_count--
        } else {
          this.$emit('deleted', this.group)
        }
      },
      handle_member_added (members) {
        this.group.member_count += members.length
        this.members = this.members.concat(members)
      }
    }
  }
</script>