<template>
  <v-img height="300"
         :src="itinerary.default_image ? itinerary.default_image.url : no_image">
    <template v-slot:placeholder>
      <v-layout
        fill-height
        align-center
        justify-center
        ma-0
      >
        <v-progress-circular indeterminate color="grey"/>
      </v-layout>
    </template>
    <div class="pa-2 white--text it-name">
      <span class="font-weight-medium title">{{itinerary.name}}</span>
    </div>
  </v-img>
</template>
<script>
  export default {
    props: {
      itinerary: {type: Object, required: true}
    },
    data: () => ({
      no_image: require('@/assets/banner_image.jpg')
    })
  }
</script>
<style scoped>
  .it-name {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%
  }
</style>