<template>
  <v-card id="intro" flat>
    <v-toolbar flat card>
      <v-avatar>
        <img :src="itinerary.creator.avatar_url"/>
      </v-avatar>
      <v-toolbar-title>{{itinerary.creator.name}}</v-toolbar-title>
      <v-spacer/>
      <template v-if="access_token">
        <template v-if="auth_user.id === itinerary.creator_id">
          <v-btn icon small @click="$router.push(`/app/cp/itinerary/${itinerary.id}`)"
                 class="ma-0 mr-1"
                 v-if="itinerary.creator_id === auth_user.id"
                 color="secondary">
            <v-icon small>edit</v-icon>
          </v-btn>
        </template>
        <v-tooltip bottom>
          <template v-slot:activator="{on}">
            <v-btn icon small
                   v-on="on" class="white--text ma-0"
                   @click="$refs.clone_itinerary_handler.show()"
                   color="indigo">
              <v-icon small>file_copy</v-icon>
            </v-btn>
          </template>
          <span>{{$trans.common.copy[locale]}}</span>
        </v-tooltip>
      </template>
    </v-toolbar>
    <cover-image :itinerary="itinerary"/>
    <v-card-text>
      <v-layout row wrap>
        <v-flex xs6 sm6 md3>
          <div style="display: flex; align-items: center">
            <div class="mr-1">
              <v-icon>flag</v-icon>
            </div>
            <div>
              <div>{{$trans.common.start_date[locale]}}</div>
              <div><b>{{itinerary.start_date}}</b></div>
            </div>
          </div>
        </v-flex>
        <v-flex xs6 sm6 md3>
          <div style="display: flex; align-items: center">
            <div class="mr-1">
              <v-icon>event</v-icon>
            </div>
            <div>
              <div>{{$trans.itinerary.period[locale]}}</div>
              <div>
                <b>
                  <span>{{itinerary.day_count}}</span>
                  <span class="ml-1">{{$trans.common.day[locale]}}</span>
                  <span v-if="locale === 'en' && itinerary.day_count > 1">s</span>
                </b>
              </div>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-divider/>
    <v-card-text v-if="!!itinerary.desc">
      <v-layout column>
        <v-flex>
          <div>{{itinerary.desc}}</div>
        </v-flex>
      </v-layout>
    </v-card-text>
    <clone-handler ref="clone_itinerary_handler" :itinerary_id="itinerary.id"/>
  </v-card>
</template>
<script>
  import CoverImage from './cover-image'
  import CloneHandler from '../../../clone-handler'

  export default {
    components: {CoverImage, CloneHandler},
    props: {
      itinerary: {type: Object, required: true}
    }
  }
</script>