<template>
  <div style="display: flex; width: 70%"
       :class="is_owner ? 'owner-message' : 'other-message'">
    <div v-if="!is_owner" class="mr-1">
      <v-avatar size="30">
        <img :src="message.creator.avatar_url ? message.creator.avatar_url : no_image"/>
      </v-avatar>
    </div>
    <div>
      <div class="text--disabled caption"
           :class="is_owner ? 'owner-caption' : 'other-caption'">{{message.created_at}}
      </div>
      <div :class="is_owner ? 'owner-content' : 'other-content'"
           class="grey lighten-2 pa-2">
        <span>{{message.content.text}}</span>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      message: {type: Object, required: true}
    },
    mounted () {
      this.$emit('mounted', this.message)
    },
    data: () => ({
      no_image: require('@/assets/no_image.png')
    }),
    computed: {
      is_owner () {
        return this.auth_user.id === this.message.creator_id
      }
    }
  }
</script>
<style scoped>
  .owner-message {
    justify-content: flex-end;
    float: right;
  }

  .owner-caption {
    text-align: right;
  }

  .owner-content {
    border-radius: 10px 10px 0 10px;
    text-align: right;
  }

  .other-message {
    justify-content: flex-start;
    float: left;
  }

  .other-caption {
    text-align: left;
  }

  .other-content {
    border-radius: 0 10px 10px 10px;
    text-align: left;
  }
</style>