<template>
  <v-layout column>
    <v-flex v-for="(day, d_index) in days" :key="day.id">
      <v-card hover
        class="pa-2" flat
        :class="value === day.id ? 'indigo--text' : ''"
        @click="$emit('day_selected', day.id)">
        <v-layout column>
          <v-flex>
            <v-layout row wrap>
              <v-flex xs10>
                <div class="font-weight-bold"
                     style="word-break: break-word">
                  {{`${$trans.common.day[locale]} ${d_index + 1}`}}
                </div>
                <div class="caption">
                  <span>{{get_date(d_index)}}</span>
                  <template v-if="day.name">
                    <span class="mx-1">-</span>
                    <span>{{day.name}}</span>
                  </template>
                </div>
              </v-flex>
              <v-flex xs2 text-xs-right>
                <v-icon class="font-weight-bold"
                        :class="value === day.id ? 'indigo--text' : ''"
                        v-if="value === day.id">chevron_right</v-icon>
              </v-flex>
            </v-layout>
          </v-flex>
          <template v-if="day.events.length > 0">
            <v-flex>
              <v-avatar size="22"
                        :color="event.category.color"
                        v-for="event in day.events"
                        class="ma-1"
                        :key="event.id">
                <v-icon small dark>{{event.category.icon}}</v-icon>
              </v-avatar>
            </v-flex>
          </template>
        </v-layout>
      </v-card>
    </v-flex>
    <v-flex v-if="mode === 'edit'">
      <v-btn depressed small
             @click="create_day"
             :loading="processes.create_day.in_progress"
             round color="secondary" block>
        <v-icon class="mr-1">add</v-icon>
        <span>{{$trans.itinerary.add_day[locale]}}</span>
      </v-btn>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    props: {
      mode: {type: String, default: 'view'},
      days: {type: Array, required: true},
      value: {type: String},
      itinerary: {type: Object, required: true},
    },
    data: () => ({
      processes: {
        create_day: {
          in_progress: false
        }
      }
    }),
    methods: {
      get_date (d_index) {
        let start_date = this.common_utils.convert_string_to_date(this.itinerary.start_date, 'DD/MM/YYYY')
        start_date.add(d_index, 'days')
        return start_date.format('ddd, DD/MM/YYYY')
      },
      async create_day () {
        let process = this.processes.create_day
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          itinerary_id: this.itinerary.id
        }
        const response = await this.$services.day.create(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.days.push(response.data)
        }
      }
    }
  }
</script>