<template>
  <v-layout column>
    <v-flex>
      <text-box ref="text_box"
                @submit="handle_text_box_submit"
                :new_comment="reply"
                :object_id="object_id"
                :object_type="object_type"
                :processes="processes"/>
    </v-flex>
    <v-flex>
      <v-layout column>
        <v-flex v-for="comment in comments"
                :key="comment.id">
          <item :comment="comment"
                :spot_data="$attrs.spot_data"
                :object_id="object_id"
                :object_type="object_type"/>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>
<script>
  import TextBox from '../text-box'
  import Item from './item'

  export default {
    name: 'CommentReply',
    components: {TextBox, Item},
    props: {
      parent_id: {type: String, required: true},
      object_id: {type: String, required: true},
      object_type: {type: String, required: true},
    },
    data: () => ({
      processes: {
        create_comment: {
          in_progress: false
        },
        list_comment: {
          in_progress: false
        }
      },
      comments: [],
      total: 0,
      pagination: {
        page: 1,
        per_page: 10,
        sort_by: ['-created_at']
      },
      reply: null
    }),
    created () {
      this.handle_spot_content()
      this.init_reply()
      this.list_comment()
    },
    methods: {
      handle_spot_content () {
        if (this.$route.query.ignore_spot_content) return
        let spot_data = this.$attrs.spot_data
        if (!spot_data) return
        if (spot_data.type !== 'comment') return
        if (spot_data.object_type !== this.object_type) return
        if (spot_data.object_id !== this.object_id) return
        if (!spot_data.parent_id) return
        if (spot_data.parent_id !== this.parent_id) return
        this.pagination.sort_by.unshift(`-id==${spot_data.comment_id}`)
      },
      handle_text_box_submit () {
        let content = this.reply.content
        let attachment = this.reply.attachment
        if ((!content || !content.trim()) && !attachment) return
        this.create_reply()
      },
      init_reply () {
        this.reply = {
          parent_id: this.parent_id,
          object_id: this.object_id,
          object_type: this.object_type,
          content: '',
          attachment_type: null,
          attachment: null
        }
      },
      async list_comment () {
        let process = this.processes.list_comment
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          object_id: this.object_id,
          object_type: this.object_type,
          parent_id: this.parent_id,
          page: this.pagination.page,
          per_page: this.pagination.per_page,
          sort_by: this.pagination.sort_by.join(',')
        }
        const response = await this.$services.comment.list(payload)
        if (response.status === 200) {
          this.comments = response.data.result
          this.total = response.data.total
        }
        process.in_progress = false
      },
      async create_reply () {
        let process = this.processes.create_comment
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.comment.create(this.reply)
        if (response.status === 200) {
          this.comments.unshift(response.data)
          this.total++
          this.init_reply()
        }
        process.in_progress = false
      }
    }
  }
</script>