<template>
  <div style="display: flex" :id="comment.id">
    <div class="mr-1">
      <v-avatar size="30">
        <img :src="comment.creator.avatar_url ? comment.creator.avatar_url : no_image"/>
      </v-avatar>
    </div>
    <div style="width: 100%">
      <c-content :comment="comment"
                 :spot_at_mounted="spot_at_mounted"/>
      <div class="px-2">
        <create-time :value="comment.created_at"/>
      </div>
    </div>
  </div>
</template>
<script>
  import CreateTime from '../create-time'
  import CContent from '../content'

  export default {
    name: 'CommentItem',
    components: {CreateTime, CContent},
    props: {
      comment: {type: Object, required: true},
      object_id: {type: String, required: true},
      object_type: {type: String, required: true}
    },
    data: () => ({
      no_image: require('@/assets/no_image.png'),
      spot_at_mounted: false
    }),
    created () {
      this.handle_spot_data()
    },
    mounted () {
      if (this.spot_at_mounted) {
        setTimeout(() => {
          this.$vuetify.goTo(document.getElementById(this.comment.id))
          let router_query = this.$route.query
          router_query.ignore_reload = 'true'
          router_query.ignore_spot_content = 'true'
          this.$router.replace({query: router_query})
        }, 300)
      }
    },
    methods: {
      handle_spot_data () {
        if (this.$route.query.ignore_spot_content) return
        let spot_data = this.$attrs.spot_data
        if (spot_data.type !== 'comment') return
        if (spot_data.comment_id !== this.comment.id) return
        this.spot_at_mounted = true
      }
    }
  }
</script>