<template>
  <v-footer
    height="auto"
  >
    <v-card flat tile style="width: 100%">
      <v-card-text class="white--text secondary text-xs-center">
        &copy;2019 — <strong>Tripary</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
<script>
  export default {
    props: {
      theme: {type: Object, required: true}
    },
    data: () => ({})
  }
</script>