<template>
  <div class="item-action">
    <v-menu offset-y lazy>
      <template v-slot:activator="{on}">
        <v-btn icon small dark v-on="on" class="mx-0">
          <v-icon dark>more_vert</v-icon>
        </v-btn>
      </template>
      <v-list dense class="pa-0" subheader>
        <v-list-tile :to="`/app/view/itinerary/${itinerary.id}`">
          <v-icon small class="mr-1">forward</v-icon>
          <span>{{$trans.common.detail[locale]}}</span>
        </v-list-tile>
        <v-list-tile @click="$refs.clone_itinerary_handler.show()">
          <v-icon small class="mr-1">file_copy</v-icon>
          <span>{{$trans.common.copy[locale]}}</span>
        </v-list-tile>
        <template v-if="is_owner">
          <v-list-tile :to="`/app/cp/itinerary/${itinerary.id}`">
            <v-icon small class="mr-1">edit</v-icon>
            <span>
              {{$trans.common.edit[locale]}}
            </span>
          </v-list-tile>
          <v-list-tile @click="$refs.setting_dialog.show()">
            <v-icon small class="mr-1">settings</v-icon>
            <span>
              {{$trans.common.settings[locale]}}
            </span>
          </v-list-tile>
          <v-divider/>
          <v-list-tile @click="remove">
            <v-icon color="error"
                    class="mr-1"
                    small>delete
            </v-icon>
            <span class="error--text">
              {{$trans.common.remove[locale]}}
            </span>
          </v-list-tile>
        </template>
      </v-list>
    </v-menu>
    <setting-dialog ref="setting_dialog"
                    v-if="is_owner"
                    :itinerary="itinerary"/>
    <clone-handler ref="clone_itinerary_handler"
                   :itinerary_id="itinerary.id"/>
  </div>
</template>
<script>
  import SettingDialog from '../../setting-dialog'
  import CloneHandler from '../../clone-handler'

  export default {
    components: {SettingDialog, CloneHandler},
    props: {
      itinerary: {type: Object, required: true},
      status_showed: {type: Boolean, default: false}
    },
    data: () => ({
      processes: {
        remove: {
          in_progress: false
        }
      },
    }),
    computed: {
      is_owner () {
        return this.auth_user.id === this.itinerary.creator_id
      }
    },
    methods: {
      async remove () {
        let process = this.processes.remove
        if (process.in_progress) return
        if (!window.confirm(this.$trans.itinerary.remove_confirmation[this.locale])) return
        process.in_progress = true
        const response = await this.$services.itinerary.delete({ids: this.itinerary.id})
        if (response.status === 200) {
          this.$emit('removed', this.itinerary.id)
        }
        process.in_progress = false
      }
    }
  }
</script>
<style scoped>
  .item-action {
    position: absolute;
    right: 0;
    top: 0;
  }
</style>