<template>
  <v-card flat hover style="position: relative">
    <v-img :src="itinerary.default_image ? itinerary.default_image.url : no_image"
           @click="$router.push(`/app/view/itinerary/${itinerary.id}`)"
           style="cursor: pointer"
           :aspect-ratio="aspect_ratio">
      <template v-slot:placeholder>
        <v-layout fill-height align-center justify-center ma-0>
          <v-progress-circular indeterminate color="grey"></v-progress-circular>
        </v-layout>
      </template>
      <v-layout ma-0 fill-height wrap pa-1
                style="background: rgba(0,0,0,0.3)">
        <v-flex xs12 class="white--text">
          <div class="caption">
            <span>{{itinerary.start_date}}</span>
            <span> - </span>
            <span>{{`${itinerary.day_count} ${$trans.common.day[locale].toLowerCase()}`}}</span>
            <span v-if="locale === 'en' && itinerary.day_count > 1">s</span>
            <template v-if="is_owner">
              <span> - </span>
              <v-icon small dark>{{itinerary_status.icon}}</v-icon>
            </template>
          </div>
        </v-flex>
      </v-layout>
      <div class="pa-2 it-title">
        <div :title="itinerary.name"
             class="body-2 white--text font-weight-medium">{{itinerary.name}}
        </div>
        <div class="caption white--text">
          <slot name="source">
            <template v-if="itinerary.status === 'public'">
              <span class="mr-1">{{$trans.common.by[locale].toLowerCase()}}</span>
              <span class="font-weight-medium">{{itinerary.creator.name}}</span>
            </template>
            <template v-else>
              <template v-if="is_owner">
                <span class="white--text">{{itinerary.creator.name}}</span>
              </template>
              <template v-else>
                <template v-if="shared.group_id">
                  <span class="white--text mr-1">{{$trans.itinerary.of_group[locale].toLowerCase()}}</span>
                  <span class="font-weight-bold">{{shared.group.name}}</span>
                </template>
                <template v-else>
                  <span class="white--text mr-1">{{$trans.common.by[locale].toLowerCase()}}</span>
                  <span class="font-weight-bold">{{itinerary.creator.name}}</span>
                </template>
              </template>
            </template>
          </slot>
        </div>
      </div>
    </v-img>
    <actions @removed="$emit('removed', itinerary.id)"
             :itinerary="itinerary"/>
  </v-card>
</template>
<script>
  import Actions from './actions'

  export default {
    components: {Actions},
    props: {
      itinerary: {type: Object, required: true},
      aspect_ratio: {type: Number, default: 7/4}
    },
    data: () => ({
      processes: {
        remove: {
          in_progress: false
        }
      },
      no_image: require('@/assets/banner_image.jpg')
    }),
    computed: {
      is_owner () {
        return this.auth_user.id === this.itinerary.creator_id
      },
      shared () {
        if (this.itinerary.shares.length > 0) return this.itinerary.shares[0]
        return null
      },
      itinerary_status () {
        return this.common_data.itinerary_statuses.find(s => s.id === this.itinerary.status)
      }
    }
  }
</script>
<style scoped>
  .it-title {
    position: absolute;
    bottom: 0;
  }
</style>