<template>
  <v-layout column align-center fill-height>
    <v-flex text-xs-center>
      <h1>
        <v-icon color="error" style="font-size: 100px">sentiment_dissatisfied</v-icon>
      </h1>
      <v-divider class="my-3"></v-divider>
      <div class="text--secondary mb-2">Bạn không có quyền truy cập vào lịch trình này</div>
      <div
        v-if="access_token"
        class="text--secondary mb-2">Bạn đăng nhập bằng email: <b>{{auth_user.email}}</b></div>
      <div>
        <v-btn small flat class="ma-0 mr-1"
               v-if="access_token"
               to="/app/cp/itinerary"
               color="primary">
          <span>Danh sách lịch trình</span>
        </v-btn>
        <v-btn small flat class="ma-0"
               @click="sign_out"
               color="primary">
          <span v-if="access_token">Đăng xuất</span>
          <span v-else>Đăng nhập</span>
        </v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    methods: {
      sign_out () {
        this.$store.commit('User/signed_out')
        this.$router.push({
          path: '/auth',
          query: {
            callback: this.$route.fullPath
          }
        })
      }
    }
  }
</script>
