<template>
  <v-app v-resize="handle_screen_resized">
    <template v-if="constants_loaded">
      <topbar :topbar="topbar"
              :left_drawer="left_drawer"/>
      <v-content class="grey lighten-3">
        <router-view/>
      </v-content>
    </template>
    <template v-else-if="constants_loaded === null">
      <v-content>
        <v-container fill-height>
          <v-layout fill-height row wrap align-center>
            <v-flex text-xs-center>
              <v-progress-circular color="indigo" size="100" indeterminate/>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </template>
    <template v-else>
      <e500/>
    </template>
  </v-app>
</template>
<script>
  import {mapState} from 'vuex'
  import Topbar from '../../components/app/topbar'
  import E500 from '../../components/error/e500'

  export default {
    components: {E500, Topbar},
    data () {
      return {
        left_drawer: {
          showed: false,
          clipped: false,
          fixed: true,
          temporary: true,
          permanent: false,
          width: 250
        },
        topbar: {
          dense: true,
          fixed: true,
          clipped_left: true
        }
      }
    },
    computed: {
      ...mapState('Common', {
        constants_loaded: 'constants_loaded'
      })
    },
    async created () {
      const response = await this.$services.entrance.get()
      if (response.status === 200) {
        // success
        let auth_user = response.data.auth_user
        if (auth_user) this.$store.commit('User/auth_user', auth_user)
        this.$store.commit('Common/loading_constants_success', response.data.constants)
        return
      }
      if (response.status >= 500) {
        // error, get cached data then do nothing
        this.$store.commit('Common/constants_loaded', false)
      }
    },
    mounted () {
      this.get_current_location()
      window.addEventListener('focus', () => {
        this.$store.commit('Device/background', false)
      })
      window.addEventListener('blur', () => {
        this.$store.commit('Device/background', true)
      })
    },
    methods: {
      handle_screen_resized () {
        let width = window.innerWidth
        let height = window.innerHeight
        let size = this.common_utils.get_window_size(width)
        this.$store.commit('Device/screen_resized', {width, height, size})
      },
      get_current_location () {
        if (!navigator.geolocation) return
        navigator.geolocation.getCurrentPosition(position => {
          this.$store.commit('Device/current_location', position)
        }, error => {
          console.log('Cannot get current location', error)
        }, {timeout: 10000})
      }
    }
  }
</script>
