<template>
  <v-flex v-if="need_to_suggest.length > 0">
    <v-layout row wrap>
      <v-flex xs12 sm6 v-for="(suggestion, index) in need_to_suggest"
              :key="index">
        <v-slide-x-reverse-transition appear>
          <v-card flat class="pa-2 caption" height="50"
                  style="position: relative; overflow: hidden">
            <v-icon color="grey lighten-2"
                    style="position: absolute; top: 0; right:0" size="50">
              {{suggestion.category.icon}}
            </v-icon>
            <div>
              <a @click="create_event_request(suggestion)">
                <template v-if="suggestion.category.code === 'stay'">
                  <v-icon small class="mr-1" color="blue">add_circle</v-icon>
                  <span>{{$trans.common.add[locale]}} {{$trans.event_categories[stay_category.code][locale].toLowerCase()}}</span>
                </template>
                <template v-else-if="suggestion.category.code === 'cuisine'">
                  <v-icon small class="mr-1" color="blue">add_circle</v-icon>
                  <span>{{$trans.common.add[locale]}} {{$trans.event_sub_categories[suggestion.sub_category.code][locale].toLowerCase()}}</span>
                </template>
              </a>
            </div>
          </v-card>
        </v-slide-x-reverse-transition>
      </v-flex>
    </v-layout>
  </v-flex>
</template>
<script>
  export default {
    props: {
      day: {type: Object, required: true},
      itinerary: {type: Object, required: true},
      days: {type: Array, required: true},
      day_order: {type: Number, required: true}
    },
    data: () => ({

    }),
    computed: {
      cuisine_category () {
        return this.common_data.event_categories.find(c => c.code === 'cuisine')
      },
      stay_category () {
        return this.common_data.event_categories.find(c => c.code === 'stay')
      },
      need_to_suggest () {
        let result = []
        let last_checkin = this.get_last_event(this.stay_category.code, 'check-in', this.days)
        if (!last_checkin) {
          let checkin_category = this.get_sub_category('check-in', this.stay_category.id)
          result.push({
            category: this.stay_category,
            sub_category: checkin_category
          })
        }
        ['break-fast', 'lunch', 'dinner'].forEach(sub_cuisine => {
          if (!this.get_last_event(this.cuisine_category.code, sub_cuisine, [this.day])) {
            let sub_category = this.get_sub_category(sub_cuisine, this.cuisine_category.id)
            result.push({
              category: this.cuisine_category,
              sub_category
            })
          }
        })
        return result
      }
    },
    methods: {
      get_last_event (category_code, sub_category_code, days) {
        let result = null
        days.forEach((d, d_index) => {
          let target_events = d.events.filter(
            e => e.category.code === category_code &&
              e.sub_category.code === sub_category_code
          )
          target_events.sort((a, b) => {
            return new Date('1970/01/01 ' + a.start_time) - new Date('1970/01/01 ' + b.start_time)
          })
          if (target_events.length > 0) {
            result = {
              day_order: d_index,
              day: d,
              event: target_events[target_events.length - 1]
            }
          }
        })
        return result
      },
      get_sub_category (code, category_id) {
        return this.common_data.event_sub_categories.find(
          s => s.code === code &&
            s.category_id === category_id
        )
      },
      create_event_request (suggestion) {
        return this.$emit('request', suggestion)
      }
    }
  }
</script>