<template>
  <v-layout column align-center fill-height>
    <v-flex text-xs-center>
      <h1>
        <v-icon color="error" style="font-size: 100px">pan_tool</v-icon>
      </h1>
      <v-divider class="my-3"></v-divider>
      <div class="title mb-3">{{message || $trans.errors.e403[locale]}}</div>
      <div>
        <v-btn small flat class="ma-0"
               :to="back_url"
               color="primary">
          <v-icon class="mr-1">keyboard_return</v-icon>
          <span>Quay lại</span>
        </v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    props: {
      message: {type: String},
      back_url: {type: String, default: '/app/cp'}
    }
  }
</script>
