<template>
  <div style="display: flex" :id="comment.id">
    <div class="mr-1">
      <v-avatar size="30">
        <img :src="comment.creator.avatar_url ? comment.creator.avatar_url : no_image"/>
      </v-avatar>
    </div>
    <div style="width: 100%">
      <c-content :comment="comment"
                 :spot_at_mounted="spot_at_mounted"
                 ref="content"/>
      <div class="px-2">
        <template v-if="access_token">
          <a style="font-size: 12px"
             @click="reply_showed = true">Reply</a>
          <span class="text--disabled mx-1">-</span>
        </template>
        <create-time :value="comment.created_at"/>
      </div>
      <div class="px-2">
        <template v-if="reply_showed">
          <div>
            <a style="font-size: 12px"
               @click="reply_showed = false">
              <span>Ẩn phản hồi</span>
              <v-icon small
                      color="blue"
                      class="ml-2">expand_less
              </v-icon>
            </a>
          </div>
          <reply :parent_id="comment.id"
                 :spot_data="$attrs.spot_data"
                 :object_type="object_type"
                 :object_id="object_id"/>
        </template>
        <template v-else>
          <template v-if="comment.children_count > 0">
            <a style="font-size: 12px"
               @click="reply_showed = true">
              <span>{{comment.children_count}} phản hồi</span>
              <v-icon small
                      color="blue"
                      class="ml-2">reply
              </v-icon>
            </a>
          </template>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
  import CreateTime from '../../create-time'
  import CContent from '../../content'
  import Reply from '../../reply'

  export default {
    name: 'CommentItem',
    components: {CreateTime, CContent, Reply},
    props: {
      comment: {type: Object, required: true},
      object_id: {type: String, required: true},
      object_type: {type: String, required: true},
    },
    data: () => ({
      no_image: require('@/assets/no_image.png'),
      reply_showed: false,
      spot_at_mounted: false
    }),
    created () {
      this.handle_spot_content()
    },
    mounted () {
      if (this.spot_at_mounted) {
        setTimeout(() => {
          this.$vuetify.goTo(document.getElementById(this.comment.id))
          let router_query = this.$route.query
          router_query.ignore_reload = 'true'
          router_query.ignore_spot_content = 'true'
          this.$router.replace({query: router_query})
        }, 300)
      }
    },
    methods: {
      handle_spot_content () {
        if (this.$route.query.ignore_spot_content) return
        let spot_data = this.$attrs.spot_data
        if (!spot_data) return
        if (spot_data.type !== 'comment') return
        if (spot_data.parent_id === this.comment.id) {
          this.reply_showed = true
          return
        }
        if (spot_data.comment_id === this.comment.id) {
          this.spot_at_mounted = true
        }
      }
    }
  }
</script>