<template>
  <v-layout column v-if="attachments.length > 0">
    <v-flex>
      <v-layout row wrap>
        <v-flex xs12 sm12 md6
                v-for="att in attachments"
                :key="att.id">
          <attachment :attachment="att"/>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>
<script>
  import Attachment from '../attachment'

  export default {
    components: {Attachment},
    props: {
      attachments: {type: Array, required: true},
      event: {type: Object, required: true},
    }
  }
</script>