<template>
  <v-card>
    <v-layout column>
      <v-flex>
        <div class="pa-2 caption">
          <span class="font-weight-bold mr-2">{{$trans.common.notification[locale]}}</span>
          <a class="right" v-if="total > 0"
             @click="read_all">
            {{$trans.notification.read_all[locale]}}
          </a>
        </div>
      </v-flex>
      <v-flex>
        <v-divider/>
      </v-flex>
      <v-flex>
        <v-list three-line ref="list"
                dense subheader class="pa-0"
                style="max-height: 400px; overflow-y: auto">
          <template v-if="processes.list.in_progress">
            <v-list-tile>
              <v-layout column>
                <v-flex text-xs-center>
                  <v-progress-circular indeterminate/>
                </v-flex>
              </v-layout>
            </v-list-tile>
          </template>
          <template v-else>
            <template v-if="total > 0">
              <template v-for="notif in records">
                <item :value="notif"
                      @notification_clicked="$emit('notification_clicked')"
                      :key="notif.id"/>
                <v-divider :key="`divider-${notif.id}`"/>
              </template>
              <div class="pa-2 text-xs-center"
                   v-if="processes.load_more.in_progress">
                <v-progress-circular indeterminate size="25"/>
              </div>
            </template>
            <template v-else>
              <v-layout column>
                <v-flex text-xs-center>
                  <v-card-text class="pa-2 caption text--disabled">
                    Chưa có thông báo
                  </v-card-text>
                </v-flex>
              </v-layout>
            </template>
          </template>
        </v-list>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import Item from './item'

  export default {
    components: {Item},
    data: () => ({
      records: [],
      total: 0,
      pagination: {
        page: 1,
        per_page: 10
      },
      processes: {
        list: {
          in_progress: false
        },
        load_more: {
          in_progress: false
        },
        read_all: {
          in_progress: false
        }
      }
    }),
    mounted () {
      let list_el = this.$refs.list.$el
      list_el.addEventListener('scroll', event => {
        this.handle_bottom_list_reached(list_el)
      })
    },
    methods: {
      handle_bottom_list_reached (list_el) {
        let gap = list_el.scrollHeight - list_el.scrollTop - list_el.clientHeight
        let reached_bottom = gap <= list_el.scrollHeight / 20
        if (!reached_bottom) return
        if (this.pagination.page * this.pagination.per_page < this.total) {
          this.load_more()
        }
      },
      async list () {
        let process = this.processes.list
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          ...this.pagination
        }
        const response = await this.$services.notification.list(payload)
        if (response.status === 200) {
          this.records = response.data.result
          this.total = response.data.total
          this.$emit('got_list')
        }
        process.in_progress = false
      },
      async load_more () {
        let process = this.processes.load_more
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          page: this.pagination.page + 1,
          per_page: this.pagination.per_page
        }
        const response = await this.$services.notification.list(payload)
        if (response.status === 200) {
          this.total = response.data.total
          this.records = this.records.concat(response.data.result)
          this.pagination.page++
        }
        process.in_progress = false
      },
      async read_all () {
        let process = this.processes.read_all
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.notification.read_all()
        if (response.status === 200) {
          this.records.forEach(n => {
            n.status = 'read'
          })
        }
        process.in_progress = false
      }
    }
  }
</script>