<template>
  <v-list-tile avatar
               :class="value.status !== 'read' ? 'unread' : ''"
               @click="read">
    <v-list-tile-avatar>
      <img :src="avatar">
    </v-list-tile-avatar>

    <v-list-tile-content>
      <v-list-tile-sub-title>
        <span class="secondary--text" v-html="value.content"></span>
      </v-list-tile-sub-title>
      <v-list-tile-title>
        <span class="caption text--disabled">{{value.event_time}}</span>
      </v-list-tile-title>
    </v-list-tile-content>
  </v-list-tile>
</template>
<script>
  export default {
    props: {
      value: {type: Object, required: true},
    },
    data: () => ({
      no_image: require('@/assets/no_image.png'),
      processes: {
        read: {
          in_progress: false
        }
      }
    }),
    computed: {
      avatar () {
        return this.value.avatar_url || this.no_image
      },
      redirect_url () {
        let result = ''
        if (['comment', 'reply-comment'].includes(this.value.action_type_code)) {
          let data = this.value.last_event_creator.data
          if (this.$route.name === 'itinerary.edit') {
            result += `/app/cp/itinerary/${data.itinerary_id}?spot_content=true`
          } else {
            result += `/app/view/itinerary/${data.itinerary_id}?spot_content=true`
          }
          result += `&object_type=${data.comment.object_type}&object_id=${data.comment.object_id}`
          result += `&comment_id=${data.comment.id}&day_id=${data.day_id}&spot_type=comment`
          if (data.comment.parent_id) result += `&parent_id=${data.comment.parent_id}`
        }
        return result
      }
    },
    methods: {
      async read () {
        let process = this.processes.read
        if (process.in_progress) return
        process.in_progress = true
        this.$emit('notification_clicked')
        const response = await this.$services.notification.read({id: this.value.id})
        if (response.status === 200) {
          this.value.status = 'read'
        }
        process.in_progress = false
        this.$router.push(this.redirect_url)
      }
    }
  }
</script>
<style scoped>
  .unread {
    background: #edf2fa;
  }
</style>