<template>
  <v-layout column id="message-list"
            style="overflow-y: auto; max-height: 300px">
    <v-flex v-for="message in messages"
            :id="message.id">
      <message-content :message="message"/>
    </v-flex>
  </v-layout>
</template>
<script>
  import MessageContent from '../message-content'

  export default {
    components: {
      MessageContent
    },
    props: {
      messages: {type: Array, required: true}
    },
    data: () => ({}),
    mounted () {
      this.$emit('mounted')
    },
    methods: {
      scroll_to_bottom () {
        let message_list_el = document.getElementById('message-list')
        setTimeout(() => {
          message_list_el.scrollTop = message_list_el.offsetHeight + 1000
        }, 300)
      }
    }
  }
</script>