<template>
  <v-dialog max-width="500"
            v-model="showed"
            lazy>
    <v-card>
      <v-toolbar dense height="35" flat card>
        <b>{{$trans.itinerary.edit_it_info[locale]}}</b>
        <v-spacer/>
        <v-btn icon small @click="close">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-toolbar>
      <v-container fluid grid-list-md>
        <v-layout column>
          <v-flex>
            <v-text-field height="30"
                          color="secondary" hide-details
                          append-icon="assignment"
                          v-model="itinerary.name"
                          :label="$trans.itinerary.it_name[locale]"/>
          </v-flex>
          <v-flex>
            <v-menu
              ref="start_date_menu"
              :close-on-content-click="false"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px">
              <v-text-field height="30"
                            slot="activator"
                            color="secondary"
                            append-icon="flag"
                            readonly hide-details
                            :value="itinerary.start_date"
                            :label="$trans.common.start_date[locale]"/>
              <v-date-picker
                @input="val => {
                itinerary.start_date = common_utils.convert_date_format(val, 'YYYY-MM-DD', 'DD/MM/YYYY');
                $refs.start_date_menu.save()
                }"
                :value="common_utils.convert_date_format(itinerary.start_date, 'DD/MM/YYYY', 'YYYY-MM-DD')"
                no-title scrollable/>
            </v-menu>
          </v-flex>
          <v-flex>
            <v-textarea v-model="itinerary.desc"
                        placeholder=" "
                        :label="$trans.common.desc[locale]"/>
          </v-flex>
        </v-layout>
        <v-layout column>
          <v-flex text-xs-right>
            <v-btn small @click="reset" flat
                   :disabled="processes.update_itinerary.in_progress"
                   color="secondary" class="ma-0 mr-1">
              <span>{{$trans.common.cancel[locale]}}</span>
            </v-btn>
            <v-btn small flat
                   @click="update_itinerary"
                   :loading="processes.update_itinerary.in_progress"
                   color="primary" class="ma-0">
              <span>{{$trans.common.save[locale]}}</span>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  import cloneDeep from 'lodash/cloneDeep'

  export default {
    props: {
      value: {type: Object, required: true}
    },
    created () {
      this.itinerary = cloneDeep(this.value)
    },
    data: () => ({
      showed: false,
      itinerary: null,
      processes: {
        update_itinerary: {
          in_progress: false
        }
      }
    }),
    methods: {
      show () {
        this.showed = true
      },
      close () {
        this.showed = false
      },
      reset () {
        this.itinerary = cloneDeep(this.value)
        this.close()
      },
      async update_itinerary () {
        let process = this.processes.update_itinerary
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.itinerary.update(this.itinerary)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$emit('updated', response.data)
          this.close()
        }
      }
    }
  }
</script>