<template>
  <v-img :src="default_image.url"
         height="250">
    <template v-slot:placeholder>
      <v-layout
        fill-height
        align-center
        justify-center
        ma-0
      >
        <v-progress-circular indeterminate color="grey"/>
      </v-layout>
    </template>
    <v-layout column fill-height class="lightbox white--text" ma-0>
      <v-flex>
        <v-layout row wrap>
          <v-flex xs8>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-chip label small v-on="on" class="ml-0 mt-0">
                  <v-icon left>flag</v-icon>
                  <span>{{itinerary.start_date}}</span>
                </v-chip>
              </template>
              <span>{{$trans.common.start_date[locale]}}</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{on}">
                <v-chip v-on="on" label small class="ml-0 mt-0">
                  <v-icon small>{{itinerary_status.icon}}</v-icon>
                </v-chip>
              </template>
              <span>{{$trans.itinerary.settings.statuses[itinerary_status.id][locale]}}</span>
            </v-tooltip>
          </v-flex>
          <v-flex xs4 text-xs-right>
            <v-tooltip bottom v-if="itinerary.creator_id === auth_user.id">
              <template v-slot:activator="{ on }">
                <v-btn fab small v-on="on"
                       @click="$refs.setting_dialog.show()"
                       style="width: 30px; height: 30px"
                       color="primary"
                       class="ma-1">
                  <v-icon>settings</v-icon>
                </v-btn>
              </template>
              <span>{{$trans.common.settings[locale]}}</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn fab small v-on="on"
                       @click="$router.push(`/app/view/itinerary/${itinerary.id}`)"
                       style="width: 30px; height: 30px"
                       color="green"
                       class="ma-1">
                  <v-icon class="white--text">visibility</v-icon>
                </v-btn>
              </template>
              <span>{{$trans.common.view[locale]}}</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn fab small v-on="on"
                       :loading="processes.upload_image.in_progress"
                       @click="$refs.image_input.click()"
                       style="width: 30px; height: 30px"
                       color="orange" class="ma-1 white--text">
                  <v-icon>cloud_upload</v-icon>
                </v-btn>
              </template>
              <span>{{$trans.itinerary.change_cover_image[locale]}}</span>
            </v-tooltip>
            <v-menu lazy offset-y>
              <template v-slot:activator="{ on }">
                <v-btn fab small
                       v-on="on"
                       style="width: 30px; height: 30px"
                       color="secondary"
                       class="ma-1 white--text">
                  <v-icon>more_vert</v-icon>
                </v-btn>
              </template>
              <v-list dense class="pa-0" subheader>
                <v-list-tile @click="$refs.clone_itinerary_handler.show()">
                  <v-icon small class="mr-1">file_copy</v-icon>
                  <span>{{$trans.common.copy[locale]}}</span>
                </v-list-tile>
                <v-divider/>
                <v-list-tile @click="remove_itinerary">
                  <v-icon color="error"
                          class="mr-1"
                          small>delete
                  </v-icon>
                  <span class="error--text">
                    {{$trans.common.remove[locale]}}
                  </span>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-spacer></v-spacer>
      <v-flex shrink style="background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0))">
        <v-tooltip top>
          <template v-slot:activator="{on}">
            <v-btn small v-on="on" @click="$refs.edit_dialog.show()"
                   outline dark>
              <span style="max-width: 200px; text-transform: none; overflow: hidden; text-overflow: ellipsis">{{itinerary.name}}</span>
              <v-icon class="ml-1">edit</v-icon>
            </v-btn>
          </template>
          <span>{{itinerary.name}}</span>
        </v-tooltip>
      </v-flex>
    </v-layout>
    <input style="display: none" type="file"
           @change="upload_image"
           accept="image/*" ref="image_input"/>
    <edit-dialog ref="edit_dialog"
                 @updated="handle_itinerary_updated"
                 :value="itinerary"/>
    <setting-dialog :itinerary="itinerary"
                    v-if="auth_user.id === itinerary.creator_id"
                    ref="setting_dialog"/>
    <clone-handler ref="clone_itinerary_handler" :itinerary_id="itinerary.id"/>
  </v-img>
</template>
<script>
  import EditDialog from './dialog'
  import SettingDialog from '@/components/itinerary/setting-dialog'
  import CloneHandler from '@/components/itinerary/clone-handler'

  export default {
    components: {EditDialog, SettingDialog, CloneHandler},
    props: {
      itinerary: {type: Object, required: true},
    },
    created () {
      this.get_default_image()
    },
    data: () => ({
      processes: {
        upload_image: {
          in_progress: false
        },
        get_default_image: {
          in_progress: false
        },
        remove_itinerary: {
          in_progress: false
        },
        clone_itinerary: {
          in_progress: false
        }
      },
      default_image: {
        url: require('@/assets/banner_image.jpg')
      }
    }),
    computed: {
      itinerary_status () {
        return this.common_data.itinerary_statuses.find(s => s.id === this.itinerary.status)
      }
    },
    methods: {
      handle_itinerary_updated (data) {
        Object.assign(this.itinerary, data)
      },
      async get_default_image () {
        let process = this.processes.get_default_image
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          object_type: 'itinerary',
          object_id: this.itinerary.id
        }
        const response = await this.$services.image.get_default(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          if (response.data) this.default_image = response.data
        }
      },
      async upload_image ($e) {
        if ($e.target.files.length <= 0) return
        let process = this.processes.upload_image
        if (process.in_progress) return
        process.in_progress = true
        let file = $e.target.files[0]
        let payload = new FormData()
        payload.append('file', file)
        payload.append('object_id', this.itinerary.id)
        payload.append('object_type', 'itinerary')
        payload.append('is_default', 'true')
        const response = await this.$services.image.create(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.default_image = response.data
        }
      },
      async remove_itinerary () {
        let process = this.processes.remove_itinerary
        if (process.in_progress) return
        if (!window.confirm('Bạn có chắc chắn muốn xóa?')) return
        process.in_progress = true
        const response = await this.$services.itinerary.delete({ids: this.itinerary.id})
        if (response.status === 200) {
          this.$router.push('/cp/itinerary')
        }
        process.in_progress = false
      }
    }
  }
</script>