<template>
  <v-app>
    <v-content class="grey lighten-3">
      <v-container fill-height grid-list-md>
        <v-layout fill-height row align-center justify-center>
          <v-flex text-xs-center xs12 sm6 md4>
            <template v-if="handling">
              <v-progress-circular indeterminate/>
            </template>
            <template v-else>
              <template v-if="error">
                <template v-if="error === 'ItineraryNotFound'">
                  <v-card-text>
                    <v-layout column>
                      <v-flex>
                        <v-icon size="100">sentiment_dissatisfied</v-icon>
                      </v-flex>
                      <v-flex>
                        <v-divider/>
                      </v-flex>
                      <v-flex>
                        <span class="text--secondary">
                          Không tìm thấy lịch trình hoặc đã bị xóa
                        </span>
                      </v-flex>
                      <v-flex>
                        <v-btn small flat class="ma-0"
                               @click="$router.push('/app/cp/itinerary')"
                               color="primary">
                          <span>Danh sách lịch trình</span>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </template>
              </template>
            </template>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>

  export default {
    data: () => ({
      itinerary_id: null,
      handling: true,
      error: null
    }),
    created () {
      this.itinerary_id = this.$route.params.id
      this.handle_share_url()
    },
    methods: {
      sign_out () {
        this.$store.commit('User/signed_out')
        this.$router.push({
          path: '/auth',
          query: {
            callback: this.$route.fullPath
          }
        })
      },
      async handle_share_url () {
        let payload = {
          itinerary_id: this.itinerary_id
        }
        const response = await this.$services.share.handle_share_url(payload)
        if (response.status === 200) {
          this.$router.push(`/app/view/itinerary/${response.data.itinerary_id}`)
        } else {
          this.error = 'GroupNotFound'
        }
        this.handling = false
      }
    }
  }
</script>