<template>
  <v-layout column
            :id="day.id">
    <v-flex>
      <v-toolbar dense flat dark
                 color="secondary"
                 height="40">
        <template v-if="edit_mode">
          <v-toolbar-side-icon small
                               :loading="processes.edit_day.in_progress"
                               @click="edit_day">
            <v-icon>save</v-icon>
          </v-toolbar-side-icon>
          <v-text-field height="30"
                        @keypress.enter="edit_day"
                        v-model="day.name"
                        :placeholder="$trans.itinerary.set_day_title[locale]"
                        single-line color="white"/>
        </template>
        <template v-else>
          <v-toolbar-side-icon small v-if="mode === 'edit'"
                               @click="edit_mode = true">
            <v-icon small>edit</v-icon>
          </v-toolbar-side-icon>
          <div class="font-weight-bold"
               style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
            <span>{{`${$trans.common.day[locale]} ${day_order + 1} - ${get_date(day_order)}`}}</span>
          </div>
          <v-spacer/>
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn icon :loading="processes_are_handling"
                     v-on="on"
                     small class="ma-0">
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>
            <v-list dense subheader class="pa-0">
              <v-list-tile
                v-if="mode !== 'view'"
                @click="$refs.create_event_dialog.show()">
                <v-list-tile-title>
                  <v-icon small class="mr-1">note_add</v-icon>
                  <span>{{$trans.itinerary.add_event[locale]}}</span>
                </v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="show_map">
                <v-list-tile-title>
                  <v-icon small class="mr-1">map</v-icon>
                  <span>{{$trans.common.view_map[locale]}}</span>
                </v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="summary_showed = true">
                <v-list-tile-title>
                  <v-icon small class="mr-1">vertical_split</v-icon>
                  <span>{{$trans.itinerary.day_overview[locale]}}</span>
                </v-list-tile-title>
              </v-list-tile>
              <template v-if="total_day > 1 && mode !== 'view'">
                <v-divider/>
                <v-list-tile @click="delete_day">
                  <v-list-tile-title>
                    <v-icon small
                            color="error"
                            class="mr-1">delete
                    </v-icon>
                    <span class="error--text">{{$trans.itinerary.delete_day[locale]}}</span>
                  </v-list-tile-title>
                </v-list-tile>
              </template>
            </v-list>
          </v-menu>
        </template>
      </v-toolbar>
    </v-flex>
    <v-flex v-if="day.name && mode === 'view'"
            class="text-xs-center">
      <div style="display: flex; align-items: center; justify-content: center">
        <v-icon>format_quote</v-icon>
        <span>{{day.name}}</span>
        <v-icon>format_quote</v-icon>
      </div>
    </v-flex>
    <template v-if="processes.list_event.in_progress">
      <v-flex text-xs-center>
        <v-progress-circular indeterminate color="secondary"/>
      </v-flex>
    </template>
    <template v-else>
      <template v-if="mode === 'edit'">
        <event-suggestion :itinerary="itinerary"
                          @disabled="handle_suggestion_disabled"
                          @request="handle_suggestion_request"
                          :day="day"
                          :day_order="day_order"
                          :days="$attrs.days"/>
      </template>
      <template v-if="events.length > 0">
        <v-flex v-for="event in events" :key="event.id">
          <v-slide-x-transition>
            <event :relevant_places="places"
                   :value="event"
                   :mode="mode"
                   :itinerary="itinerary"
                   :spot_data="$attrs.spot_data"
                   @moved="handle_event_moved"
                   @updated="arrange_event"
                   @deleted="handle_event_deleted"
                   :key="event.id"/>
          </v-slide-x-transition>
        </v-flex>
      </template>
      <v-flex v-if="events.length === 0 && mode === 'view'" text-xs-center>
        <div>
          <span class="text--disabled mr-1">{{$trans.itinerary.has_no_event[locale]}}</span>
        </div>
      </v-flex>
      <v-flex>
        <v-divider/>
      </v-flex>
      <v-flex text-xs-right>
        <v-btn small flat
               v-if="day_order > 0"
               @click="$emit('previous_day_request', day.id)"
               class="ma-0 white--text"
               color="primary">
          <v-icon small>chevron_left</v-icon>
          <span>{{$trans.itinerary.previous_day[locale]}}</span>
        </v-btn>
        <v-btn small flat
               @click="$emit('next_day_request', day.id)"
               class="ma-0 white--text"
               v-if="day_order < total_day - 1"
               color="primary">
          <span>{{$trans.itinerary.next_day[locale]}}</span>
          <v-icon small>chevron_right</v-icon>
        </v-btn>
      </v-flex>
      <v-flex style="height: 50px"></v-flex>
    </template>
    <v-navigation-drawer lazy app width="300"
                         disable-resize-watcher
                         temporary style="z-index: 9999"
                         v-model="summary_showed"
                         right>
      <v-container fluid grid-list-md
                   class="pa-2">
        <day-summary :day="day"
                     @event_selected="handle_summary_event_selected"
                     @hide_summary_request="summary_showed = false"
                     :day_order="day_order"
                     :day_date="get_date(day_order)"
                     :events="events"/>
      </v-container>
    </v-navigation-drawer>
    <v-speed-dial v-model="speed_dial"
                  bottom fixed
                  right
    >
      <template v-slot:activator>
        <v-btn
          color="pink accent-2"
          dark v-model="speed_dial"
          fab small
        >
          <v-icon>more_vert</v-icon>
          <v-icon>clear</v-icon>
        </v-btn>
      </template>
      <template v-if="mode === 'edit'">
        <v-tooltip left :value="true">
          <template v-slot:activator="{on}">
            <v-btn fab dark v-on="on"
                   @click="$refs.create_event_dialog.show()"
                   style="width: 30px; height: 30px"
                   small color="indigo">
              <v-icon>note_add</v-icon>
            </v-btn>
          </template>
          <span>{{$trans.itinerary.add_event[locale]}}</span>
        </v-tooltip>
        <v-tooltip left :value="true">
          <template v-slot:activator="{on}">
            <v-btn fab dark v-on="on"
                   :loading="processes.delete_day.in_progress"
                   @click="delete_day"
                   style="width: 30px; height: 30px"
                   small color="red">
              <v-icon>delete</v-icon>
            </v-btn>
          </template>
          <span>{{$trans.itinerary.delete_day[locale]}}</span>
        </v-tooltip>
      </template>
      <v-tooltip left :value="true">
        <template v-slot:activator="{on}">
          <v-btn fab dark v-on="on"
                 @click="show_map"
                 style="width: 30px; height: 30px"
                 small color="primary">
            <v-icon>map</v-icon>
          </v-btn>
        </template>
        <span>{{$trans.common.view_map[locale]}}</span>
      </v-tooltip>
      <v-tooltip left :value="true">
        <template v-slot:activator="{on}">
          <v-btn fab dark v-on="on"
                 @click="summary_showed = true"
                 style="width: 30px; height: 30px"
                 small color="green">
            <v-icon>vertical_split</v-icon>
          </v-btn>
        </template>
        <span>{{$trans.itinerary.day_overview[locale]}}</span>
      </v-tooltip>
    </v-speed-dial>
    <v-dialog lazy
              max-width="600" persistent
              v-model="map_view_showed">
      <v-card>
        <v-toolbar dense height="35" flat>
          <v-toolbar-title>Map</v-toolbar-title>
          <v-spacer/>
          <v-icon @click="map_view_showed = false">clear</v-icon>
        </v-toolbar>
        <v-container grid-list-md class="pa-2">
          <v-layout column>
            <v-flex>
              <template v-if="processes.list_place.in_progress">
                <v-layout column>
                  <v-flex text-xs-center>
                    <v-progress-circular indeterminate/>
                  </v-flex>
                </v-layout>
              </template>
              <template v-else>
                <template v-if="places.length > 0">
                  <map-view :day_id="day.id" :places="places"/>
                </template>
                <template v-else>
                  <v-alert color="error"
                           class="pa-2"
                           icon="error"
                           :value="true" outline>
                    <span>{{$trans.itinerary.has_no_place[locale]}}</span>
                  </v-alert>
                </template>
              </template>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
    <create-event-dialog :day_id="day.id" :day="day"
                         ref="create_event_dialog"
                         @created="handle_event_created"/>
  </v-layout>
</template>
<script>
  import Event from './event'
  import DaySummary from './summary'
  import MapView from './map-day'
  import CreateEventDialog from './event/dialogs/create'
  import EventSuggestion from './event-suggestion'

  export default {
    components: {
      Event, MapView, CreateEventDialog,
      DaySummary, EventSuggestion,
    },
    props: {
      itinerary: {type: Object, required: true},
      day: {type: Object, required: true},
      day_order: {type: Number, required: true},
      total_day: {type: Number, required: true},
      mode: {type: String, required: true},
    },
    created () {
      this.list_event()
    },
    data: () => ({
      processes: {
        list_place: {
          in_progress: false
        },
        list_event: {
          in_progress: false
        },
        create_event: {
          in_progress: false
        },
        delete_day: {
          in_progress: false
        },
        edit_day: {
          in_progress: false
        }
      },
      events: [],
      places: [],
      speed_dial: false,
      edit_mode: false,
      summary_showed: false,
      map_view_showed: false
    }),
    watch: {
      'day.id' () {
        this.list_event()
      }
    },
    computed: {
      processes_are_handling () {
        return Object.keys(this.processes).some(k => {
          let process = this.processes[k]
          if (process.in_progress) return true
        })
      }
    },
    methods: {
      handle_suggestion_disabled (category_name) {
        if (!this.itinerary.meta.suggestion_noti_dialog_disabled) {
          return this.$refs.create_event_dialog.show(category_name)
        }
      },
      handle_event_moved ({day_id, event}) {
        const e_index = this.events.findIndex(e => e.id === event.id)
        if (e_index < 0) return
        this.events.splice(e_index, 1)
        this.$emit('event_moved', {day_id, event})
      },
      handle_summary_event_selected (event_id) {
        this.summary_showed = false
        let event_el = document.getElementById(event_id)
        if (event_el) this.$vuetify.goTo(event_el)
      },
      get_date (d_index) {
        let start_date = this.common_utils.convert_string_to_date(this.itinerary.start_date, 'DD/MM/YYYY')
        return start_date.add(d_index, 'days').format('ddd, DD/MM/YYYY')
      },
      arrange_event () {
        let events = this.events
        events.sort(function (a, b) {
          return new Date('1970/01/01 ' + a.start_time) - new Date('1970/01/01 ' + b.start_time)
        })
      },
      handle_event_deleted (event) {
        const index = this.events.indexOf(event)
        if (index >= 0) this.events.splice(index, 1)
      },
      show_map () {
        this.list_place()
        this.map_view_showed = true
      },
      async list_place () {
        let process = this.processes.list_place
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.day.list_place({id: this.day.id})
        process.in_progress = false
        if (response.status === 200) {
          this.places = response.data.result
        }
      },
      async list_event () {
        let process = this.processes.list_event
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.event.list({day_id: this.day.id})
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.events = response.data.result
          this.day.events = this.events
          this.arrange_event()
        }
      },
      handle_event_created (event) {
        this.map_view_showed = false
        this.events.unshift(event)
        this.arrange_event()
        setTimeout(() => {
          this.$vuetify.goTo(document.getElementById(event.id))
        }, 300)
      },
      async edit_day () {
        let process = this.processes.edit_day
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.day.update(this.day)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.edit_mode = false
        }
      },
      async delete_day () {
        if (this.total_day <= 1) return
        let process = this.processes.delete_day
        if (process.in_progress) return
        if (!window.confirm('Bạn có muốn xóa ngày này?')) return
        process.in_progress = true
        let payload = {
          ids: this.day.id,
          itinerary_id: this.day.itinerary_id
        }
        const response = await this.$services.day.delete(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$emit('deleted', this.day)
        }
      },
      handle_suggestion_request (payload) {
        return this.$refs.create_event_dialog.show(payload)
      }
    }
  }
</script>