<template>
  <v-dialog v-model="showed" lazy persistent
            :fullscreen="['xs', 'sm'].includes(device_screen_size)"
            max-width="500">
    <v-card>
      <v-toolbar card dense height="35">
        <span class="subheading font-weight-bold">
          {{$trans.common.settings[locale]}}
        </span>
        <v-spacer/>
        <v-btn icon small @click="close">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-toolbar>
      <v-layout column ma-0>
        <v-flex>
          <v-container grid-list-md>
            <template v-if="sharing_mode_enabled">
              <v-layout column>
                <v-flex>
                  <user-list
                    ref="user_list"
                    :value="selected_users"/>
                </v-flex>
                <v-flex>
                  <group-list
                    ref="group_list"
                    :value="selected_groups"/>
                </v-flex>
                <v-flex>
                  <div>
                    <v-icon small class="mr-1">share</v-icon>
                    <span>Link chia sẻ</span>
                  </div>
                  <v-text-field class="ma-0 pa-0 caption"
                                :id="`share-url-${itinerary.id}`"
                                hide-details
                                readonly :value="sharing_url">
                    <template v-slot:append>
                      <v-tooltip bottom>
                        <template v-slot:activator="{on}">
                          <v-btn v-on="on" small
                                 @click="copy_url"
                                 icon style="width: 22px; height: 22px"
                                 class="ma-0">
                            <v-icon small>file_copy</v-icon>
                          </v-btn>
                        </template>
                        <span>Copied!</span>
                      </v-tooltip>
                    </template>
                  </v-text-field>
                </v-flex>
                <v-flex text-xs-right>
                  <v-btn small flat
                         :disabled="processes.update_status.in_progress"
                         @click="disable_sharing_mode"
                         class="ma-0"
                         color="secondary">
                    <span>{{$trans.common.cancel[locale]}}</span>
                  </v-btn>
                  <v-btn small flat
                         :loading="processes.update_status.in_progress"
                         @click="update_status('share')"
                         class="ma-0"
                         color="primary">
                    <span>{{$trans.common.save[locale]}}</span>
                  </v-btn>
                </v-flex>
              </v-layout>
            </template>
            <template v-else>
              <v-layout column>
                <v-flex>
                  <div class="blue--text font-weight-medium">
                    {{$trans.itinerary.settings.who_can_see[locale]}}
                  </div>
                </v-flex>
                <v-flex>
                  <v-list dense class="ma-0 pa-0" subheader>
                    <template v-for="status in common_data.itinerary_statuses">
                      <template v-if="status.id !== 'share'">
                        <v-list-tile @click="update_status(status.id)"
                                     :disabled="processes.update_status.in_progress">
                          <div
                            style="display: flex; align-items: center; justify-content: space-between; width: 100%">
                            <div style="display: flex; align-items: center">
                              <v-icon small left>{{status.icon}}</v-icon>
                              <span>{{$trans.itinerary.settings.statuses[status.id][locale]}}</span>
                            </div>
                            <div>
                              <template v-if="processes.update_status.in_progress">
                                <v-progress-circular size="15" width="2"
                                                     color="secondary"
                                                     v-if="processes.update_status.selected_status === status.id"
                                                     indeterminate/>
                              </template>
                              <template v-else>
                                <v-icon v-if="itinerary.status === status.id">check</v-icon>
                              </template>
                            </div>
                          </div>
                        </v-list-tile>
                      </template>
                      <template v-else>
                        <v-list-tile @click="enable_sharing_mode"
                                     :disabled="processes.update_status.in_progress">
                          <div
                            style="display: flex; align-items: center; justify-content: space-between; width: 100%">
                            <div style="display: flex; align-items: center">
                              <v-icon small left>{{status.icon}}</v-icon>
                              <div>
                                <div>{{$trans.itinerary.settings.statuses[status.id][locale]}}</div>
                                <div v-if="itinerary.status === status.id && share_count"
                                     class="caption text--disabled">{{share_count}}
                                </div>
                              </div>
                            </div>
                            <div>
                              <template v-if="processes.update_status.in_progress">
                                <v-progress-circular size="15" width="2"
                                                     color="secondary"
                                                     v-if="processes.update_status.selected_status === status.id"
                                                     indeterminate/>
                              </template>
                              <template v-else>
                                <v-icon v-if="itinerary.status === status.id">check</v-icon>
                              </template>
                            </div>
                          </div>
                        </v-list-tile>
                      </template>
                    </template>
                  </v-list>
                </v-flex>
              </v-layout>
            </template>
          </v-container>
        </v-flex>
        <v-flex>
          <v-divider/>
        </v-flex>
        <!--        <v-flex>-->
        <!--          <v-container grid-list-md>-->
        <!--            <v-layout column>-->
        <!--              <v-flex>-->
        <!--                <div class="blue&#45;&#45;text font-weight-medium">-->
        <!--                  {{translation_terms.event_suggestion[locale]}}-->
        <!--                </div>-->
        <!--              </v-flex>-->
        <!--              <v-flex>-->
        <!--                <v-list dense class="ma-0 pa-0" subheader>-->
        <!--                  <v-list-tile v-for="category in suggestion_categories"-->
        <!--                               :key="category.id">-->
        <!--                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%">-->
        <!--                      <div>-->
        <!--                        <v-icon small class="mr-2">{{category.icon}}</v-icon>-->
        <!--                        <span>{{category.name}}</span>-->
        <!--                      </div>-->
        <!--                      <div>-->
        <!--                        <v-switch small-->
        <!--                                  @change="update_suggestion_setting"-->
        <!--                                  v-model="itinerary.meta[`${category.code}_suggestion`]"-->
        <!--                                  hide-details-->
        <!--                                  class="pa-0 ma-0"/>-->
        <!--                      </div>-->
        <!--                    </div>-->
        <!--                  </v-list-tile>-->
        <!--                </v-list>-->
        <!--              </v-flex>-->
        <!--            </v-layout>-->
        <!--          </v-container>-->
        <!--        </v-flex>-->
      </v-layout>
    </v-card>
  </v-dialog>
</template>
<script>
  import ShareItem from './share-item'
  import UserList from './user-list'
  import GroupList from './group-list'

  import debounce from 'lodash/debounce'

  export default {
    components: {
      ShareItem,
      UserList,
      GroupList
    },
    props: {
      itinerary: {type: Object, required: true}
    },
    data: () => ({
      showed: false,
      copy_tooltip_showed: false,
      sharing_mode_enabled: false,
      processes: {
        list_share: {
          in_progress: false
        },
        list_user: {
          in_progress: false
        },
        list_group: {
          in_progress: false
        },
        update_status: {
          in_progress: false,
          selected_status: null
        }
      },
      shares: [],
      total: 0,
      pagination: {
        page: 1,
        per_page: 20
      }
    }),
    computed: {
      sharing_url () {
        let domain = process.env.VUE_APP_WEB_URL
        return `${domain}/itinerary-share/${this.itinerary.id}`
      },
      selected_users () {
        let user_shares = this.shares.filter(s => s.user_id)
        return user_shares.map(s => s.user)
      },
      selected_groups () {
        let group_shares = this.shares.filter(s => s.group_id)
        return group_shares.map(s => s.group)
      },
      share_count () {
        let user_length = this.selected_users.length
        let group_length = this.selected_groups.length
        if (!user_length && !group_length) return null
        let result = []
        if (user_length) result.push(`${user_length} người`)
        if (group_length) result.push(`${group_length} nhóm`)
        return result.join(' và ')
      },
      suggestion_categories () {
        return this.common_data.event_categories.filter(c => ['stay', 'cuisine'].includes(c.code))
      }
    },
    methods: {
      reset () {
        this.sharing_mode_enabled = false
      },
      enable_sharing_mode () {
        this.sharing_mode_enabled = true
      },
      disable_sharing_mode () {
        this.sharing_mode_enabled = false
      },
      show () {
        this.list_share()
        this.showed = true
      },
      close () {
        this.showed = false
        this.reset()
      },
      copy_url () {
        let public_link_el = document.getElementById(`share-url-${this.itinerary.id}`)
        public_link_el.select()
        document.execCommand('copy')
      },
      async list_share () {
        let process = this.processes.list_share
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          itinerary_id: this.itinerary.id
        }
        const response = await this.$services.share.list(payload)
        process.in_progress = false
        if (response.status === 200) {
          this.shares = response.data.result
          this.total = response.data.total
        }
      },
      async update_status (status) {
        let process = this.processes.update_status
        if (process.in_progress) return
        process.in_progress = true
        process.status_selected = status
        let payload = {
          id: this.itinerary.id,
          status: status
        }
        if (status === 'share') {
          payload.shared_user_ids = this.$refs.user_list.get_selected_user_ids()
          payload.shared_group_ids = this.$refs.group_list.get_selected_group_ids()
        }
        const response = await this.$services.itinerary.update(payload)
        if (response.status === 200) {
          // success
          this.itinerary.status = status
          if (status === 'share') this.list_share()
          process.selected_status = null
          this.disable_sharing_mode()
        }
        process.in_progress = false
      },
      update_suggestion_setting: debounce(function () {
        let payload = {
          id: this.itinerary.id,
          meta: this.itinerary.meta
        }
        this.$services.itinerary.update(payload)
      }, 300)
    }
  }
</script>