<template>
  <v-chip small :id="share.id">
    <template v-if="!!share.user_id">
      <v-avatar>
        <img v-if="!!share.user.avatar_url"
             :src="share.user.avatar_url"/>
        <v-icon v-else>face</v-icon>
      </v-avatar>
      <span
        :title="share.user.name"
        style="max-width: 150px; overflow: hidden; text-overflow: ellipsis">{{share.user.name}}</span>
    </template>
    <template v-else>
      <v-avatar>
        <v-icon>group</v-icon>
      </v-avatar>
            <span
        :title="share.group.name"
        style="max-width: 150px; overflow: hidden; text-overflow: ellipsis">{{share.group.name}}</span>
    </template>
    <v-icon right @click="remove">
      cancel
    </v-icon>
  </v-chip>
</template>
<script>
  export default {
    props: {
      share: {type: Object, required: true},
      itinerary_id: {type: String, required: true}
    },
    data: () => ({
      processes: {
        remove: {
          in_progress: false
        }
      }
    }),
    methods: {
      test () {
        console.log('jher')
      },
      async remove () {
        let process = this.processes.remove
        if (process.in_progress) return
        process.in_progress = true
        let payload = {ids: this.share.id, itinerary_id: this.itinerary_id}
        const response = await this.$services.share.delete(payload)
        if (response.status === 200) {
          // success
          this.$emit('removed', this.share.id)
        }
        process.in_progress = false
      },
    }
  }
</script>