<template>
  <!--  <v-textarea rows="1" auto-grow outline-->
  <!--              ref="text_box"-->
  <!--              :loading="processes.create_comment.in_progress"-->
  <!--              hide-details @keydown="handle_keypress"-->
  <!--              single-line v-model="text"-->
  <!--              placeholder="Nhập nội dung">-->
  <!--    <template v-slot:append>-->
  <!--      <v-icon-->
  <!--        @click="$emit('submit', text)"-->
  <!--        :color="text && text.trim() ? 'primary' : ''">send-->
  <!--      </v-icon>-->
  <!--    </template>-->
  <!--    <template v-slot:prepend>-->
  <!--      <v-avatar size="30" class="ma-0">-->
  <!--        <img :src="auth_user.avatar_url"/>-->
  <!--      </v-avatar>-->
  <!--    </template>-->
  <!--  </v-textarea>-->
  <v-layout column>
    <v-flex>
      <div style="display: flex; align-items: flex-start">
        <div class="mr-2">
          <v-avatar size="30">
            <img :src="auth_user.avatar_url"/>
          </v-avatar>
        </div>
        <div style="width: 100%">
          <div class="text-box-input-container mb-2">
            <input class="text-box-input"
                   @keypress="handle_keypress"
                   v-model="new_comment.content"
                   :placeholder="$trans.comment.input_placeholder[locale]"/>
            <v-icon @click="$refs.file_input.click()">photo</v-icon>
            <v-icon @click="place_picker_showed = true" class="ml-1">place</v-icon>
          </div>
          <div v-if="new_comment.attachment_type"
               class="attachment grey lighten-3 pa-2">
            <template v-if="new_comment.attachment_type === 'place'">
              <div style="max-width: 300px">
                <place :place="new_comment.attachment.place"/>
              </div>
            </template>
            <template v-else-if="new_comment.attachment_type === 'image'">
              <div style="max-height: 300px">
                <img width="100%"
                     :src="new_comment.attachment.url"/>
              </div>
            </template>
            <v-tooltip top>
              <template v-slot:activator="{on}">
                <v-btn small icon
                       color="secondary"
                       absolute v-on="on"
                       @click="remove_attachment"
                       style="width: 18px; height: 18px; right: -6px; top: -6px">
                  <v-icon small>clear</v-icon>
                </v-btn>
              </template>
              <span>Gỡ</span>
            </v-tooltip>
          </div>
        </div>
      </div>
    </v-flex>
    <input type="file"
           accept="image/*"
           @change="handle_file_input"
           ref="file_input"
           style="display: none"/>
    <v-dialog max-width="600" lazy
              v-model="place_picker_showed"
              persistent>
      <v-card>
        <v-container fluid class="pa-2" grid-list-md>
          <v-layout column wrap>
            <v-flex>
              <place-picker :uid="`${new_comment.object_type}-${new_comment.object_id}`"
                            ref="place_picker"
                            @place_changed="handle_place_changed"
                            :height="300"/>
            </v-flex>
            <v-flex text-xs-right>
              <v-btn small round
                     @click="place_picker_showed = false"
                     depressed color="secondary">
                <v-icon class="mr-1">cancel</v-icon>
                <span>Hủy</span>
              </v-btn>
              <v-btn small round
                     :disabled="!targeted_place"
                     @click="select_place"
                     depressed color="primary">
                <v-icon class="mr-1">save</v-icon>
                <span>Thêm</span>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
  import PlacePicker from '@/components/google-map/picker'
  import Place from '../attachment/place'
  import cloneDeep from 'lodash/cloneDeep'

  export default {
    components: {PlacePicker, Place},
    props: {
      new_comment: {type: Object, required: true},
      object_id: {type: String, required: true},
      object_type: {type: String, required: true},
    },
    data: () => ({
      place_picker_showed: false,
      targeted_place: null,
      processes: {
        upload_image: {
          in_progress: false,
          error: null
        }
      }
    }),
    methods: {
      remove_attachment () {
        this.new_comment.attachment_type = null
        this.new_comment.attachment = null
      },
      handle_keypress (e) {
        if (e.key !== 'Enter') return
        if (e.shiftKey) return
        e.preventDefault()
        this.$emit('submit')
      },
      handle_place_changed (place_data) {
        this.targeted_place = place_data
      },
      select_place () {
        this.new_comment.attachment_type = 'place'
        this.new_comment.attachment = {place: cloneDeep(this.targeted_place)}
        this.$refs.place_picker.reset_place()
        this.place_picker_showed = false
        this.targeted_place = null
      },
      async handle_file_input ($event) {
        let process = this.processes.upload_image
        if (process.in_progress) return

        if (!$event.target.files.length) return

        let file = $event.target.files[0]

        process.error = null
        process.in_progress = true
        let payload = new FormData()
        payload.append('file', file)
        payload.append('object_type', `${this.object_type}-comment`)
        payload.append('object_id', this.object_id)
        const response = await this.$services.image.create(payload)
        if (response.status === 200) {
          // success
          this.new_comment.attachment = response.data
          this.new_comment.attachment_type = 'image'
        } else {
          // error
        }
        $event.target.value = ''
        process.in_progress = false
      }
    }
  }
</script>
<style scoped>
  .text-box-input-container {
    background: #f2f3f5;
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #ccd0d5;
    width: 100%;
    height: 30px;
    padding: 10px;
  }

  .text-box-input:focus {
    outline: none;
  }

  .text-box-input {
    font-size: 12px;
    width: 100%;
  }

  .attachment {
    width: 100%;
    position: relative;
  }

</style>