<template>
  <v-layout column>
    <v-flex>
      <template v-if="mode === 'view'">
        <view-mode :itinerary="itinerary"/>
      </template>
      <template v-else>
        <edit-mode :itinerary="itinerary"/>
      </template>
    </v-flex>
  </v-layout>
</template>
<script>
  import ViewMode from './view'
  import EditMode from './edit'
  export default {
    components: {
      ViewMode, EditMode
    },
    props: {
      itinerary: {type: Object, required: true},
      mode: {type: String, default: 'view'}
    }
  }
</script>