<template>
  <v-card :id="event.id" flat>
    <v-container class="pa-2" grid-list-md>
      <v-layout column>
        <v-flex>
          <title-handler :event="event"/>
        </v-flex>
        <v-flex>
          <v-divider/>
        </v-flex>
        <template v-if="is_meta_need_to_show">
          <v-flex>
            <meta-handler :event="event"/>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
        </template>
        <template v-if="event.note && event.note.trim()">
          <v-flex>
            <div v-html="event.note" style="overflow: auto"></div>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
        </template>
        <template v-if="mode === 'view'">
          <template v-if="event.image_count > 0">
            <v-flex>
              <image-handler :mode="mode"
                             :event="event"/>
            </v-flex>
            <v-flex>
              <v-divider/>
            </v-flex>
          </template>
          <template v-if="event.attachment_count > 0">
            <v-flex>
              <attachment-handler :event="event"
                                  :mode="mode"/>
            </v-flex>
            <v-flex>
              <v-divider/>
            </v-flex>
          </template>
        </template>
        <template v-else>
          <v-flex>
            <image-handler :mode="mode"
                           :event="event"/>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex>
            <attachment-handler :event="event"
                                :mode="mode"/>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
        </template>
        <v-flex>
          <template v-if="mode === 'view'">
            <v-layout row wrap>
              <v-flex xs12 text-xs-center>
                <v-btn small depressed
                       class="ma-0"
                       style="text-transform: none"
                       @click="discussion_showed = true"
                       color="secondary" flat>
                  <span>{{$trans.common.comment[locale]}}</span>
                  <v-icon small class="ml-1">question_answer</v-icon>
                  <span class="ml-1" v-if="event.comment_count > 0">{{event.comment_count}}</span>
                </v-btn>
              </v-flex>
            </v-layout>
          </template>
          <template v-else>
            <v-layout row>
              <v-flex xs4>
                <v-btn small class="ma-0"
                       style="text-transform: none; min-width: 50px"
                       :disabled="processes.delete_event.in_progress"
                       @click="$refs.edit_dialog.show()"
                       block flat>
                  <v-icon class="mr-1" small>edit</v-icon>
                  <span>{{$trans.common.edit[locale]}}</span>
                </v-btn>
              </v-flex>
              <v-flex xs4>
                <v-btn small class="ma-0"
                       style="text-transform: none; min-width: 50px"
                       @click="discussion_showed = !discussion_showed"
                       block flat>
                  <v-icon small
                          class="mr-1">question_answer
                  </v-icon>
                  <span>{{event.comment_count}}</span>
                </v-btn>
              </v-flex>
              <v-flex xs4>
                <v-menu offset-y>
                  <template v-slot:activator="{on}">
                    <v-btn small class="ma-0" v-on="on"
                           style="text-transform: none; min-width: 50px"
                           block flat>
                      <v-icon small>more_horiz</v-icon>
                    </v-btn>
                  </template>
                  <v-list dense class="pa-0" subheader>
                    <v-list-tile @click="$refs.move_dialog.show()">
                      <v-icon small
                              class="mr-2">
                        input
                      </v-icon>
                      <span>{{$trans.itinerary.move_event[locale]}}</span>
                    </v-list-tile>
                    <v-divider/>
                    <v-list-tile @click="delete_event">
                      <v-icon small
                              color="error"
                              class="mr-2">delete
                      </v-icon>
                      <span class="error--text">{{$trans.itinerary.delete_event[locale]}}</span>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-flex>
            </v-layout>
          </template>
        </v-flex>
        <template v-if="discussion_showed">
          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex>
            <discussion :itinerary="itinerary"
                        :spot_data="$attrs.spot_data"
                        :event="event"/>
          </v-flex>
        </template>
      </v-layout>
      <edit-dialog :value="event" ref="edit_dialog"
                   @updated="handle_event_updated"/>
      <move-dialog :event="event"
                   @moved="handle_event_moved"
                   :start_date="itinerary.start_date"
                   ref="move_dialog"/>
    </v-container>
  </v-card>
</template>
<script>
  import TitleHandler from './title-handler'
  import MetaHandler from './meta-handler'
  import ImageHandler from './image-handler'
  import AttachmentHandler from './attachment-handler'
  import EditDialog from './dialogs/edit'
  import MoveDialog from './dialogs/move'
  import Discussion from './event-discussion'

  export default {
    components: {
      ImageHandler, TitleHandler, MoveDialog,
      MetaHandler, EditDialog, Discussion, AttachmentHandler,
    },
    props: {
      value: {type: Object, required: true},
      itinerary: {type: Object, required: true},
      mode: {type: String, default: 'view'},
    },
    data: () => ({
      no_image: require('@/assets/banner_image.jpg'),
      processes: {
        delete_event: {
          in_progress: false
        }
      },
      event: null,
      discussion_showed: false
    }),
    created () {
      this.reset()
      this.handle_spot_content()
    },
    computed: {
      processes_are_handling () {
        return Object.keys(this.processes).some(k => {
          let process = this.processes[k]
          if (process.in_progress) return true
        })
      },
      place_images () {
        if (this.event.start_place_id) {
          return this.event.start_place.images.map(im => Object.create({id: im, url: im}))
        }
        return []
      },
      is_meta_need_to_show () {
        let meta = this.event.meta
        if (this.event.price > 0) return true

        let has_category_meta = this.event.category.meta_fields.some(field => {
          if (meta[field.id]) return true
        })
        if (has_category_meta) return true

        let has_sub_cateogory_meta = this.event.sub_category.meta_fields.some(field => {
          if (meta[field.id]) return true
        })
        if (has_sub_cateogory_meta) return true
        return false
      }
    },
    methods: {
      handle_event_moved (day_id) {
        this.$emit('moved', {day_id, event: this.event})
      },
      handle_spot_content () {
        let query = this.$route.query
        if (query.ignore_spot_content) return
        let spot_data = this.$attrs.spot_data
        if (spot_data && spot_data.type === 'comment') {
          if (spot_data.object_type === 'event' && spot_data.object_id === this.event.id) {
            this.discussion_showed = true
          }
        }
      },
      reset () {
        this.event = this.value
      },
      async delete_event () {
        let process = this.processes.delete_event
        if (process.in_progress) return
        if (!window.confirm('Bạn có muốn xóa sự kiện này?')) return
        process.in_progress = true
        let payload = {
          ids: this.event.id,
          day_id: this.event.day_id
        }
        const response = await this.$services.event.delete(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$emit('deleted', this.value)
        }
      },
      handle_event_updated (data) {
        Object.assign(this.event, data)
        this.$emit('updated')
      }
    }
  }
</script>
<style>
  p {
    margin-bottom: 0;
  }
</style>