<template>
  <v-layout column>
    <v-flex>
      <v-text-field height="30"
                    :loading="processes.list_user.in_progress"
                    v-model="search_text"
                    @input="search" hide-details
                    prepend-inner-icon="search"
                    single-line class="pa-0 caption"
                    :placeholder="$trans.common.search[locale]"/>
    </v-flex>
    <v-flex>
      <div style="height: 300px; overflow-y: auto">
        <v-list dense v-if="total > 0"
                subheader class="pa-0">
          <template v-for="user in users">
            <v-list-tile :key="user.id"
                         :disabled="group.creator_id === user.id || is_user_added(user)"
                         @click="select_user(user)">
              <v-list-tile-avatar>
                <v-avatar size="30">
                  <img v-if="user.avatar_url" :src="user.avatar_url"/>
                  <v-icon v-else>face</v-icon>
                </v-avatar>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <span>{{user.name || user.email}}</span>
              </v-list-tile-content>
              <v-list-tile-action>
                <template v-if="group.creator_id === user.id">
                  <v-icon></v-icon>
                </template>
                <template v-else-if="is_user_added(user)">
                  <v-icon>check</v-icon>
                </template>
                <template v-else>
                  <v-icon v-if="selected_user_ids.includes(user.id)">check_box</v-icon>
                  <v-icon v-else>check_box_outline_blank</v-icon>
                </template>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider :key="`divider-${user.id}`"/>
          </template>
        </v-list>
        <div class="caption" v-if="processes.list_user.no_data">
          <span class="text--secondary">Không tìm thấy kết quả. Nhập email của user rồi bấm vào </span>
          <a @click="create_user">đây</a>
        </div>
      </div>
    </v-flex>
    <v-flex text-xs-right>
      <v-btn small class="ma-0 mr-1" flat
             @click="$emit('get_back_clicked')"
             color="secondary">
        <span>{{$trans.common.cancel[locale]}}</span>
      </v-btn>
      <v-tooltip top>
        <template v-slot:activator="{on}">
          <v-btn small v-on="on" @click="add_member"
                 class="ma-0" flat
                 :loading="processes.add_member.in_progress"
                 :disabled="selected_user_ids.length <= 0"
                 color="primary">
            <span>{{$trans.common.add[locale]}}</span>
          </v-btn>
        </template>
        <span>{{`${selected_user_ids.length} users`}}</span>
      </v-tooltip>
    </v-flex>
  </v-layout>
</template>
<script>
  import debounce from 'lodash/debounce'

  export default {
    props: {
      group: {type: Object, required: true}
    },
    data: () => ({
      showed: false,
      processes: {
        list_user: {
          in_progress: false,
          no_data: false
        },
        add_member: {
          in_progress: false
        },
        create_user: {
          in_progress: false
        }
      },
      users: [],
      selected_user_ids: [],
      total: 0,
      page: 1,
      per_page: 50,
      search_text: ''
    }),
    methods: {
      async create_user () {
        let process = this.processes.create_user
        if (process.in_progress) return

        let email = this.search_text

        if (!this.common_data.email_regex.test(email)) {
          window.alert(email)
          return
        }

        process.in_progress = true

        let payload = {
          email: email,
          fetch_group_ids: true
        }

        const response = await this.$services.user.create(payload)
        if (response.status === 200) {
          // success
          this.users.push(response.data)
          this.total++
          this.selected_user_ids.push(response.data.id)
          this.processes.list_user.no_data = false
        } else {

        }
        process.in_progress = false
      },
      is_user_added (user) {
        return user.group_ids.includes(this.group.id)
      },
      search: debounce(function () {
        this.list_user()
      }, 500),
      select_user (user) {
        const index = this.selected_user_ids.indexOf(user.id)
        if (index >= 0) this.selected_user_ids.splice(index, 1)
        else this.selected_user_ids.push(user.id)
      },
      async list_user () {
        let process = this.processes.list_user
        if (process.in_progress) return
        process.in_progress = true
        process.no_data = false
        let payload = {
          page: this.page,
          per_page: this.per_page,
          search_text: this.search_text,
          fetch_group_ids: true
        }
        const response = await this.$services.user.list(payload)
        if (response.status === 200) {
          // success
          this.users = response.data.result
          this.total = response.data.total
          if (!this.total) process.no_data = true
        }
        process.in_progress = false
      },
      async add_member () {
        let process = this.processes.add_member
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          group_id: this.group.id,
          user_ids: this.selected_user_ids
        }
        const response = await this.$services.group.add_member(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$emit('member_added', response.data)
        }
      }
    }
  }
</script>