<template>
  <v-dialog max-width="500"
            lazy
            persistent v-model="showed">
    <v-card>
      <v-toolbar height="35" dense flat>
        <b>{{$trans.common.member[locale]}}</b>
        <v-spacer/>
        <v-icon @click="showed = false">clear</v-icon>
      </v-toolbar>
      <v-container fluid pa-2 grid-list-md>
        <v-layout column>
          <template v-if="add_mode">
            <v-flex>
              <add @get_back_clicked="add_mode = false"
                   @member_added="handle_member_added"
                   :group="group"/>
            </v-flex>
          </template>
          <template v-else>
            <v-flex>
              <list @add_member_clicked="add_mode = true"
                    :group="group"/>
            </v-flex>
          </template>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  import List from './list'
  import Add from './add'

  export default {
    components: {List, Add},
    props: {
      group: {type: Object, required: true}
    },
    data: () => ({
      showed: false,
      add_mode: false
    }),
    created () {
    },
    methods: {
      show () {
        this.showed = true
      },
      handle_member_added (members) {
        this.add_mode = false
        this.group.member_count += members.length
      }
    }
  }
</script>