<template>
  <v-list-tile>
    <v-list-tile-avatar>
      <v-avatar size="30">
        <img v-if="member.user.avatar_url"
             :src="member.user.avatar_url"/>
        <v-icon v-else>face</v-icon>
      </v-avatar>
    </v-list-tile-avatar>
    <v-list-tile-content :title="member.user.name || member.user.email">
      <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        {{member.user.name || member.user.email}}
      </div>
    </v-list-tile-content>
    <v-list-tile-action>
      <template v-if="is_group_owner">
        <a @click="remove_member"
           v-if="member.user_id !== auth_user.id">Remove</a>
      </template>
      <template v-else>
        <a @click="remove_member"
           v-if="member.user_id === auth_user.id">Leave</a>
      </template>
    </v-list-tile-action>
  </v-list-tile>
</template>
<script>
  export default {
    props: {
      member: {type: Object, required: true},
      is_group_owner: {type: Boolean, required: true}
    },
    data: () => ({
      processes: {
        remove_member: {
          in_progress: false
        }
      }
    }),
    methods: {
      async remove_member () {
        let process = this.processes.remove_member
        if (process.in_progress) return
        if (!this.is_group_owner) {
          if (!window.confirm(this.$trans.group.leaving_confirmation[this.locale])) return
        }
        process.in_progress = true
        let payload = {
          group_id: this.member.group_id,
          ids: this.member.id
        }
        const response = await this.$services.group.remove_member(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$emit('removed', this.member.id)
        }
      }
    }
  }
</script>