<template>
  <v-layout column>
    <v-flex>
      <v-list dense subheader class="pa-0"
              style="max-height: 300px; overflow-y: auto;">
        <template v-if="processes.list_member.in_progress">
          <v-list-tile class="text-xs-center">
            <v-progress-circular indeterminate/>
          </v-list-tile>
        </template>
        <template v-else>
          <template v-for="member in members">
            <member-item :member="member"
                         :is_group_owner="is_group_owner"
                         @removed="handle_member_removed"
                         :key="member.id"/>
            <v-divider :key="`divider-${member.id}`"/>
          </template>
        </template>
      </v-list>
    </v-flex>
    <v-flex text-xs-right>
      <v-btn small color="primary" flat
             @click="$emit('add_member_clicked')"
             style="text-transform: none"
             class="ma-0">
        <v-icon class="mr-1">person_add</v-icon>
        <span>{{$trans.common.add[locale]}} {{$trans.common.member[locale].toLowerCase()}}</span>
      </v-btn>
    </v-flex>
  </v-layout>
</template>
<script>
  import MemberItem from './item'

  export default {
    components: {MemberItem},
    props: {
      group: {type: Object, required: true}
    },
    data: () => ({
      processes: {
        list_member: {
          in_progress: false
        }
      },
      members: [],
      total: 0
    }),
    created () {
      this.list_member()
    },
    computed: {
      is_group_owner () {
        return this.auth_user.id === this.group.creator_id
      }
    },
    methods: {
      async list_member () {
        let process = this.processes.list_member
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.group.list_member({group_id: this.group.id})
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.members = response.data.result
          this.total = response.data.total
        }
      },
      handle_member_removed (id) {
        const index = this.members.findIndex(m => m.id === id)
        if (index < 0) return
        this.members.splice(index, 1)
        this.group.member_count--
      }
    }
  }
</script>