<template>
  <v-container grid-list-md fluid class="pa-0">
    <v-layout column>
      <v-flex id="input-box" v-if="!!access_token">
        <text-box @submit="handle_text_box_submit"
                  :new_comment="new_comment"
                  ref="text_box"
                  :object_type="object_type"
                  :object_id="object_id"/>
      </v-flex>
      <v-flex>
        <list :object_id="object_id"
              ref="comment_list"
              :spot_data="$attrs.spot_data"
              :object_type="object_type"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import TextBox from './text-box'
  import List from './list'

  export default {
    components: {TextBox, List},
    props: {
      object_id: {type: String, required: true},
      object_type: {type: String, required: true}
    },
    data: () => ({
      processes: {
        create_comment: {
          in_progress: false
        }
      },
      new_comment: null
    }),
    created () {
      this.init_comment()
    },
    methods: {
      init_comment () {
        this.new_comment = {
          object_id: this.object_id,
          object_type: this.object_type,
          content: '',
          attachment_type: null,
          attachment: null
        }
      },
      handle_text_box_submit () {
        let content = this.new_comment.content
        let attachment = this.new_comment.attachment
        if ((!content || !content.trim()) && !attachment) return
        this.create_comment()
      },
      async create_comment () {
        if (!this.access_token) return
        let process = this.processes.create_comment
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.comment.create(this.new_comment)
        if (response.status === 200) {
          this.init_comment()
          this.$refs.comment_list.add_comment(response.data)
          this.$emit('comment_added', response.data)
        }
        process.in_progress = false
      }
    }
  }
</script>