<template>
  <vue-editor :editorToolbar="editor_toolbar_options"
              :editorOptions="editor_configs"
              ref="text_editor"
              @text-change="handle_text_change"
              :placeholder="$trans.itinerary.event_note_placeholder[locale]"
              v-model="event.note"/>
</template>
<script>
  import {VueEditor, Quill} from 'vue2-editor'

  const Block = Quill.import('blots/block')

  Block.tagName = 'DIV'
  Quill.register(Block, true)

  export default {
    components: {VueEditor},
    props: {
      event: {type: Object, required: true}
    },
    data: () => ({
      editor_toolbar_options: [
        ['bold', 'italic', 'underline', 'strike'],
        [{'align': []}, {'list': 'ordered'}, {'list': 'bullet'}],
      ],
      editor_configs: {
        bounds: '#app'
      }
    }),
    methods: {
      handle_text_change () {
        let quill = this.$refs.text_editor.quill
        let char_count = quill.getWordCount()
        if (char_count <= 1) {
          let text = this.$refs.text_editor.quill.getText()
          if (!text || !text.trim()) this.event.note = ''
        }
      }
    }
  }
</script>
