<template>
  <v-dialog v-model="showed"
            lazy
            persistent max-width="300">
    <v-card>
      <v-toolbar card flat height="35" dense>
        <b>{{$trans.group.add_group[locale]}}</b>
      </v-toolbar>
      <v-container fluid class="pa-3" grid-list-md>
        <v-form v-model="form.valid"
                @submit.prevent
                ref="form">
          <v-layout column>
            <v-flex>
              <v-text-field height="30" autofocus
                            @keypress.enter="create"
                            :rules="form.rules.name"
                            :label="$trans.group.group_name[locale]"
                            v-model="group.name"/>
            </v-flex>
            <v-flex text-xs-right>

              <v-btn small flat
                     @click="close"
                     :disabled="processes.create.in_progress"
                     color="secondary" class="ma-0 ml-1">
                <span>{{$trans.common.cancel[locale]}}</span>
              </v-btn>
              <v-btn small flat
                     @click="create"
                     :loading="processes.create.in_progress"
                     color="primary" class="ma-0 ml-1">
                <span>{{$trans.common.add[locale]}}</span>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    data: () => ({
      showed: false,
      form: {
        valid: false,
        rules: {
          name: [v => (!!v && !!v.trim()) || 'Required!']
        }
      },
      group: {
        name: ''
      },
      processes: {
        create: {
          in_progress: false
        }
      }
    }),
    methods: {
      show () {
        this.showed = true
      },
      close () {
        this.showed = false
        this.$refs.form.reset()
      },
      async create () {
        let process = this.processes.create
        if (process.in_progress) return
        if (!this.$refs.form.validate()) return
        process.in_progress = true
        const response = await this.$services.group.create(this.group)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$notify({
            text: 'Tạo nhóm thành công!',
            type: 'success'
          })
          this.$emit('created', response.data)
          this.close()
        }
      }
    }
  }
</script>