<template>
  <v-dialog lazy persistent v-model="showed" max-width="300">
    <v-card>
      <v-toolbar card flat dense height="35">
        <b>{{$trans.group.edit_group[locale]}}</b>
      </v-toolbar>
      <v-container class="pa-2" fluid grid-list-md>
        <v-layout column>
          <v-flex>
            <v-text-field height="30"
                          :label="$trans.group.group_name[locale]"
                          hide-details
                          v-model="group.name"/>
          </v-flex>
          <v-flex text-xs-right>
            <v-btn color="secondary" icon small
                   :disabled="processes.update_group.in_progress"
                   @click="close"
                   class="ma-0 mr-1">
              <v-icon small>clear</v-icon>
            </v-btn>
            <v-btn small icon
                   @click="update_group"
                   :loading="processes.update_group.in_progress"
                   color="primary" class="ma-0">
              <v-icon small>save</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  import cloneDeep from 'lodash/cloneDeep'

  export default {
    props: {
      value: {type: Object, required: true}
    },
    data: () => ({
      showed: false,
      group: null,
      processes: {
        update_group: {
          in_progress: false
        }
      }
    }),
    created () {
      this.reset()
    },
    methods: {
      reset () {
        this.group = cloneDeep(this.value)
      },
      show () {
        this.showed = true
      },
      close () {
        this.showed = false
        this.reset()
      },
      async update_group () {
        let process = this.processes.update_group
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.group.update(this.group)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$notify({
            text: 'Cập nhật thành công!',
            type: 'success'
          })
          this.$emit('updated', response.data)
          this.close()
        }
      }
    }
  }
</script>