<template>
  <v-dialog max-width="1100" v-model="showed" lazy persistent>
    <v-card>
      <v-toolbar dense height="35" flat>
        <b>{{$trans.common.itinerary[locale]}}</b>
        <v-spacer/>
        <v-icon @click="showed = false">clear</v-icon>
      </v-toolbar>
      <v-container fluid class="pa-2" grid-list-md>
        <template v-if="processes.list_itinerary.in_progress">
          <v-layout column>
            <v-flex text-xs-center>
              <v-progress-circular indeterminate/>
            </v-flex>
          </v-layout>
        </template>
        <template v-else>
          <template v-if="itineraries.length > 0">
            <v-layout row wrap>
              <v-flex xs12 sm6 md4 v-for="it in itineraries" :key="it.id">
                <itinerary-item :itinerary="it">
                  <template v-slot:source>
                    <span class="white--text mr-1">bởi</span>
                    <span class="font-weight-bold">{{it.creator.name}}</span>
                  </template>
                </itinerary-item>
              </v-flex>
            </v-layout>
          </template>
          <template v-else>
            <v-layout column>
              <v-flex text-xs-center>
                <span class="caption text--disabled">{{$trans.itinerary.it_not_found[locale]}}</span>
              </v-flex>
            </v-layout>
          </template>
        </template>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  import ItineraryItem from '@/components/itinerary/list/item'

  export default {
    components: {ItineraryItem},
    props: {
      group: {type: Object, required: true}
    },
    data: () => ({
      showed: false,
      itineraries: [],
      processes: {
        list_itinerary: {
          in_progress: false
        }
      }
    }),
    created () {
      this.list_itinerary()
    },
    methods: {
      show () {
        this.showed = true
        this.list_itinerary()
      },
      async list_itinerary () {
        let process = this.processes.list_itinerary
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          group_id: this.group.id
        }
        const response = await this.$services.itinerary.list(payload)
        if (response.status === 200) {
          this.itineraries = response.data.result
        }
        process.in_progress = false
      }
    }
  }
</script>