<template>
  <v-dialog v-model="showed"
            lazy
            persistent max-width="300">
    <v-card>
      <v-toolbar card flat height="35" dense>
        <b>{{$trans.common.share[locale]}} - {{group.name}}</b>
      </v-toolbar>
      <v-container fluid class="pa-2" grid-list-md>
        <v-layout column>
          <v-flex>
            <v-text-field height="30" single-line readonly
                          :value="sharing_url"
                          :id="`sharing-url-${group.id}`"
                          hide-details class="pa-0 ma-0">
              <template v-slot:append>
                <v-tooltip bottom>
                  <template v-slot:activator="{on}">
                    <v-btn v-on="on" small
                           @click="copy_url"
                           icon style="width: 22px; height: 22px"
                           class="ma-0">
                      <v-icon small>file_copy</v-icon>
                    </v-btn>
                  </template>
                  <span>Copied!</span>
                </v-tooltip>
              </template>
            </v-text-field>
          </v-flex>
          <v-flex text-xs-right>
            <v-btn flat small style="min-width: 50px"
                   @click="close"
                   class="ma-0">
              <span>{{$trans.common.close[locale]}}</span>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      group: {type: Object, required: true}
    },
    data: () => ({
      showed: false,
    }),
    methods: {
      show () {
        this.showed = true
      },
      close () {
        this.showed = false
      },
      copy_url () {
        let public_link_el = document.getElementById(`sharing-url-${this.group.id}`)
        public_link_el.select()
        document.execCommand('copy')
      }
    },
    computed: {
      sharing_url () {
        let url = process.env.VUE_APP_WEB_URL
        return url += `/group-invitation/${this.group.id}`
      }
    }
  }
</script>