<template>
  <v-flex  v-if="all_images.length > 0">
    <v-layout column>
      <v-flex>
        <v-layout row wrap>
          <v-flex xs6 sm3 md2
                  v-for="image in all_images"
                  :key="image.id">
            <v-img :src="image.url"
                   style="cursor: pointer"
                   @click="show_slide(image.id)"
                   :aspect-ratio="7/4">
              <template v-slot:placeholder>
                <v-layout
                  fill-height
                  align-center
                  justify-center
                  ma-0
                >
                  <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-layout>
              </template>
            </v-img>
          </v-flex>
        </v-layout>
      </v-flex>
      <slide-show ref="slide_show"
                :images="all_images"/>
    </v-layout>
  </v-flex>
</template>
<script>
  import {mapState} from 'vuex'
  import SlideShow from '../slide-show'

  export default {
    components: {SlideShow},
    props: {
      images: {type: Array, required: true},
      aspect_ratio: {type: Number, default: 7 / 3},
      event: {type: Object, required: true}
    },
    data: () => ({
      selected_image_id: null
    }),
    computed: {
      ...mapState('Device', {
        screen_width: 'width'
      }),
      height () {
        return this.screen_width * (1 / this.aspect_ratio)
      },
      all_images () {
        return this.images
      }
    },
    methods: {
      show_slide (image_id) {
        this.$refs.slide_show.show(image_id)
      }
    }
  }
</script>