<template>
  <v-toolbar
    clipped-left
    id="layout-topbar"
    app
    fixed
  >
    <img :src="logo"
         style="cursor: pointer"
         @click="$router.push('/app/cp')"
         height="80%"/>
    <v-container pa-0 fluid grid-list-md
                 mx-auto>
      <v-layout ma-0 align-center>

        <v-spacer/>
        <!-- MOBILE VIEW-->
        <template v-if="['xs', 'sm'].includes(device_screen_size)">
          <template v-if="access_token">
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-btn icon small
                       v-on="on">
                  <v-icon>menu</v-icon>
                </v-btn>
              </template>
              <v-list dense subheader class="pa-0">
                <v-list-tile>
                  <v-avatar size="30" class="mr-2">
                    <img :src="auth_user.avatar_url">
                  </v-avatar>
                  <span>
                    {{auth_user.name}}
                  </span>
                </v-list-tile>
                <v-divider/>
                <v-list-tile to="/app/cp/itinerary">
                  <v-icon left>assignment</v-icon>
                  <span>{{translation.it_button[locale]}}</span>
                </v-list-tile>
                <v-list-tile to="/app/cp/group">
                  <v-icon left>group</v-icon>
                  <span>{{translation.group_button[locale]}}</span>
                </v-list-tile>
                <v-divider/>
                <v-list-tile @click="sign_out">
                  <v-icon left>exit_to_app</v-icon>
                  <span>{{translation.logout_button[locale]}}</span>
                </v-list-tile>
              </v-list>
            </v-menu>
            <notification-icon/>
          </template>
          <template v-else>
            <v-btn flat class="ma-0" style="text-transform: none"
                   :loading="user_signing_in"
                   @click="$router.push('/auth')">
              <span>Đăng nhập</span>
            </v-btn>
          </template>
        </template>
        <!-- DESKTOP VIEW -->
        <template v-else>
          <template v-if="access_token">
            <v-btn flat to="/app/cp/itinerary" class="ma-0 mr-1"
                   style="text-transform: none">
              <v-icon class="mr-1" small>assignment</v-icon>
              <span>{{translation.it_button[locale]}}</span>
            </v-btn>
            <v-btn flat to="/app/cp/group" class="ma-0 mr-1"
                   style="text-transform: none">
              <v-icon class="mr-1" small>group</v-icon>
              <span>{{translation.group_button[locale]}}</span>
            </v-btn>
            <v-divider vertical/>
            <v-menu offset-y lazy>
              <template v-slot:activator="{on}">
                <v-btn v-on="on" flat class="ma-0 mx-1">
                  <v-avatar size="35" class="mr-2">
                    <img
                      v-if="!!auth_user.avatar_url"
                      :src="auth_user.avatar_url">
                    <v-icon v-else>face</v-icon>
                  </v-avatar>
                  <span style="max-width: 150px; overflow-x: hidden; text-overflow: ellipsis">{{auth_user.name || auth_user.email}}</span>
                </v-btn>
              </template>
              <v-list dense>
                <v-list-tile @click="sign_out">
                  <v-icon left>exit_to_app</v-icon>
                  <span>{{translation.logout_button[locale]}}</span>
                </v-list-tile>
              </v-list>
            </v-menu>
            <v-divider vertical/>
            <notification-icon/>
          </template>
          <template v-else>
            <v-btn flat class="ma-0" style="text-transform: none"
                   :loading="user_signing_in"
                   @click="$router.push('/auth')">
              <span>Đăng nhập</span>
            </v-btn>
          </template>
        </template>
        <v-menu offset-y left>
          <template v-slot:activator="{on}">
            <img v-on="on" style="cursor: pointer"
                 width="25px"
                 :src="current_locale.logo"/>
          </template>
          <v-list dense class="pa-0" subheader>
            <v-list-tile v-for="l in common_data.locales"
                         @click="$store.commit('Device/locale', l.id)"
                         :key="l.id">
              <img width="25px" :src="l.logo"/>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-layout>
    </v-container>
    <facebook-auth ref="facebook_auth"/>
  </v-toolbar>
</template>
<script>
  import FacebookAuth from '@/components/auth/facebook-auth'
  import NotificationIcon from '@/components/notification/icon'
  import {mapState} from 'vuex'

  const TRANSLATION = {
    it_button: {
      vi: 'Lịch trình',
      en: 'Itinerary'
    },
    group_button: {
      vi: 'Nhóm',
      en: 'Group'
    },
    logout_button: {
      vi: 'Đăng xuất',
      en: 'Sign out'
    }
  }

  export default {
    components: {
      FacebookAuth,
      NotificationIcon
    },
    data: () => ({
      translation: TRANSLATION,
      logo: require('@/assets/logo.png')
    }),
    methods: {
      sign_out () {
        this.$store.commit('User/signed_out')
        const required_auth = this.$route.matched.some(route => {
          if (route.meta.auth) return true
        })
        if (required_auth) this.$router.push({
          path: '/auth',
          query: {
            callback: this.$route.fullPath
          }
        })
      }
    },
    computed: {
      ...mapState('User', {
        user_signing_in: 'signing_in'
      }),
      current_locale () {
        return this.common_data.locales.find(l => l.id === this.locale)
      }
    }
  }
</script>
