<template>
  <v-dialog lazy persistent
            max-width="350"
            v-model="showed">
    <v-card>
      <v-toolbar flat height="30" dense>
        <b>{{$trans.common.copy[locale]}} {{$trans.common.itinerary[locale].toLowerCase()}}</b>
        <v-spacer/>
        <v-icon style="margin-right: -10px"
                v-if="!processes.clone.in_progress"
                @click="showed = false">clear
        </v-icon>
      </v-toolbar>
      <v-container grid-list-md
                   class="pa-2">
        <v-layout column>
          <template v-if="confirmed">
            <template v-if="processes.clone.in_progress">
              <v-flex text-xs-center>
                <div>
                  {{$trans.itinerary.clone_is_in_progress[locale]}}
                </div>
              </v-flex>
              <v-flex>
                <v-progress-linear indeterminate/>
              </v-flex>
            </template>
            <template v-else>
              <v-flex v-if="processes.clone.error">
                error happened
              </v-flex>
            </template>
          </template>
          <template v-else>
            <v-flex text-xs-center>
              <div>
                <span>{{$trans.itinerary.clone_confirmation[locale]}}</span>
              </div>
            </v-flex>
            <v-flex>
              <v-divider/>
            </v-flex>
            <v-flex text-xs-right>
              <v-btn flat small class="ma-0 ml-1" @click="showed = false">
                <span>{{$trans.common.cancel[locale]}}</span>
              </v-btn>
              <v-btn flat small @click="confirm"
                     color="primary"
                     class="ma-0 ml-1">
                <span>{{$trans.common.submit[locale]}}</span>
              </v-btn>
            </v-flex>
          </template>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      itinerary_id: {type: String, required: true}
    },
    data: () => ({
      processes: {
        clone: {
          in_progress: false,
          error: null
        }
      },
      showed: false,
      confirmed: false
    }),
    methods: {
      confirm () {
        this.confirmed = true
        this.run()
      },
      show () {
        this.showed = true
      },
      async run () {
        if (!this.confirmed) return
        let process = this.processes.clone
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.itinerary.clone({id: this.itinerary_id})
        if (response.status === 200) {
          this.showed = false
          this.$router.push(`/app/cp/itinerary/${response.data.id}`)
        } else {
          process.error = response.data.error_code
        }
        process.in_progress = false
      }
    }
  }
</script>