<template>
  <v-layout column>
    <template v-if="processes.list_day.in_progress">
      <v-flex text-xs-center>
        <v-progress-circular indeterminate color="secondary"/>
      </v-flex>
    </template>
    <template v-else>
      <v-flex>
        <v-layout row wrap>
          <template v-if="['xs', 'sm'].includes(device_screen_size)">
            <v-tooltip right v-model="day_list_tooltip_showed">
              <template v-slot:activator="{on}">
                <v-btn fixed fab small v-on="on"
                       @click="show_day_list = true"
                       bottom left
                       color="amber darken-4">
                  <v-icon class="white--text">list</v-icon>
                </v-btn>
              </template>
              <span>{{$trans.common.day_list[locale]}}</span>
            </v-tooltip>
          </template>
          <template v-else>
            <v-flex xs12 sm12 md4>
              <day-list v-model="selected_day_id"
                        :itinerary="itinerary"
                        :mode="mode"
                        @day_selected="handle_day_selected"
                        :days="days"/>
            </v-flex>
          </template>
          <v-flex xs12 sm12 md8
                  id="itinerary-day-section">
            <day :day="selected_day"
                 v-if="selected_day"
                 @deleted="handle_day_deleted"
                 @event_moved="handle_event_moved"
                 @next_day_request="day_id => move_between_days('next', day_id)"
                 @previous_day_request="day_id => move_between_days('previous', day_id)"
                 :total_day="days.length"
                 :days="days"
                 :mode="mode"
                 :itinerary="itinerary"
                 :spot_data="$attrs.spot_data"
                 :day_order="days.indexOf(selected_day)"/>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-dialog v-model="show_day_list"
                hide-overlay lazy
                transition="dialog-bottom-transition"
                fullscreen>
        <v-card color="grey lighten-2">
          <v-container fluid class="pa-2"
                       grid-list-md>
            <v-layout column>
              <v-btn small fab fixed
                     @click="show_day_list = false"
                     color="indigo"
                     bottom left class="ma-0">
                <v-icon class="white--text">keyboard_return</v-icon>
              </v-btn>
              <v-flex>
                <day-list v-model="selected_day_id"
                          @day_selected="handle_day_selected"
                          :itinerary="itinerary"
                          :mode="mode"
                          :days="days"/>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-dialog>
    </template>
  </v-layout>
</template>
<script>
  import Day from './day'
  import DayList from './day-list'

  export default {
    components: {Day, DayList},
    props: {
      itinerary: {type: Object, required: true},
      mode: {type: String, default: 'view'},
    },
    created () {
      this.list_day()
    },
    data: () => ({
      processes: {
        list_day: {
          in_progress: false
        }
      },
      days: [],
      selected_day_id: null,
      show_day_list: false,
      day_list_tooltip_showed: true
    }),
    computed: {
      selected_day () {
        return this.days.find(d => d.id === this.selected_day_id)
      }
    },
    methods: {
      move_between_days (type, day_id) {
        const d_index = this.days.findIndex(d => d.id === day_id)
        if (d_index < 0) return
        if (type === 'next') {
          if (d_index >= this.days.length - 1) return
          this.selected_day_id = this.days[d_index + 1].id
        } else {
          if (d_index === 0) return
          this.selected_day_id = this.days[d_index - 1].id
        }
        let day_el = document.getElementById('itinerary-day-section')
        window.scrollTo(0, day_el.offsetTop)
      },
      handle_day_selected (day_id) {
        this.selected_day_id = day_id
        this.show_day_list = false
        let day_el = document.getElementById('itinerary-day-section')
        window.scrollTo(0, day_el.offsetTop)
      },
      arrange_event (events) {
        events.sort(function (a, b) {
          return new Date('1970/01/01 ' + a.start_time) - new Date('1970/01/01 ' + b.start_time)
        })
      },
      handle_event_moved ({day_id, event}) {
        let day = this.days.find(d => d.id === day_id)
        if (!day) return
        day.events.push(event)
        this.arrange_event(day.events)
      },
      handle_spot_content () {
        this.selected_day_id = this.days[0].id
        if (this.$route.query.ignore_spot_content) return
        const spot_data = this.$attrs.spot_data
        if (!spot_data || !spot_data.day_id) return
        const d_index = this.days.findIndex(d => d.id === spot_data.day_id)
        if (d_index < 0) return
        this.selected_day_id = spot_data.day_id
        this.show_day_list = false
      },
      handle_day_deleted (day) {
        let d_index = this.days.indexOf(day)
        if (d_index < 0) return
        if (d_index > 0) this.selected_day_id = this.days[d_index - 1].id
        else this.selected_day_id = this.days[d_index + 1].id
        this.days.splice(d_index, 1)
      },
      async list_day () {
        if (this.processes.list_day.in_progress) return
        this.processes.list_day.in_progress = true
        let payload = {
          itinerary_id: this.itinerary.id
        }
        const response = await this.$services.day.list(payload)
        if (response.status === 200) {
          // success
          response.data.result.forEach(d => {
            this.arrange_event(d.events)
          })
          this.days = response.data.result
          this.handle_spot_content()
        }
        this.processes.list_day.in_progress = false
      }
    }
  }
</script>