<template>
  <v-layout column>
    <template v-if="is_mounted">
      <v-flex>
        <div :id="`place-detail-${uid}`"
             :style="{height: `${height}px`}"></div>
      </v-flex>
    </template>
    <template v-else>
      <v-flex text-xs-center>
        <v-progress-circular indeterminate color="secondary"/>
      </v-flex>
    </template>
  </v-layout>
</template>
<script>
  import cloneDeep from 'lodash/cloneDeep'

  export default {
    props: {
      height: {type: Number, default: 200},
      value: {type: Object, required: true},
      uid: {type: String, required: true}
    },
    data: () => ({
      is_mounted: false,
      place: null,
      map: null,
      marker: null,
      place_service: null,
    }),
    created () {
      this.place = cloneDeep(this.value)
    },
    mounted () {
      let init_interval = setInterval(() => {
        if (this.$google_map) {
          clearInterval(init_interval)
          this.is_mounted = true
          setTimeout(() => {
            this.init_map()
          }, 300)
        }
      }, 300)
    },
    methods: {
      init_map () {
        // init map
        let map_el = document.getElementById(`place-detail-${this.uid}`)
        // map_el.style.height = `${map_el.offsetParent.offsetHeight}px`
        this.map = new this.$google_map.Map(
          map_el,
          {
            zoom: 13,
            center: this.place.coordinates,
            mapTypeControl: false,
            zoomControl: false,
            fullscreenControl: false
          }
        )
        // place service
        this.place_service = new this.$google_map.places.PlacesService(this.map)

        this.create_marker()

        this.point_to_place()
      },
      point_to_place () {
        this.map.panTo(this.place.coordinates)
      },
      create_marker () {
        if (this.marker) this.marker.setMap(null)

        this.marker = new this.$google_map.Marker({
          position: this.place.coordinates,
          map: this.map,
          title: this.place.name
        })
      }
    }
  }
</script>