<template>
  <v-menu offset-y v-if="image"
          v-model="showed"
          :close-on-content-click="false">
    <template v-slot:activator="{on}">
      <div></div>
    </template>
    <v-card width="250">
      <v-container grid-list-md class="pa-2">
        <v-layout column>
          <v-flex>
            <v-textarea rows="2"
                        class="caption"
                        v-model="image.desc"
                        hide-details outline
                        autofocus
                        :placeholder="$trans.itinerary.image_desc_placeholder[locale]"
                        :label="$trans.common.desc[locale]"/>
          </v-flex>
          <v-flex>
            <v-switch small hide-details
                      class="ma-0" v-model="image.public"
                      label="Công khai">
              <template v-slot:label>
                <span class="caption">{{$trans.common.public[locale]}}</span>
              </template>
              <template v-slot:append>
                <v-tooltip top>
                  <template v-slot:activator="{on}">
                    <v-icon small v-on="on"
                            class="mt-1">help
                    </v-icon>
                  </template>
                  <div style="max-width: 200px">
                    {{$trans.itinerary.image_status_info[locale]}}
                  </div>
                </v-tooltip>
              </template>
            </v-switch>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex text-xs-right>
            <v-btn small icon
                   class="ma-0 ml-1"
                   :disabled="processes.update.in_progress"
                   @click="close"
                   color="secondary">
              <v-icon small>clear</v-icon>
            </v-btn>

            <v-btn small icon
                   class="ma-0 ml-1"
                   @click="update"
                   :loading="processes.update.in_progress"
                   color="primary">
              <v-icon small>save</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-menu>
</template>
<script>
  import cloneDeep from 'lodash/cloneDeep'

  export default {
    props: {
      value: {type: Object, required: true}
    },
    data: () => ({
      image: null,
      processes: {
        update: {
          in_progress: false
        }
      },
      showed: false
    }),
    created () {
      this.init()
    },
    methods: {
      init () {
        this.image = cloneDeep(this.value)
      },
      show () {
        this.showed = true
      },
      close () {
        this.showed = false
        this.init()
      },
      async update () {
        let process = this.processes.update
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          id: this.image.id,
          public: this.image.public,
          desc: this.image.desc
        }
        const response = await this.$services.image.update(payload)
        if (response.status === 200) {
          Object.assign(this.value, this.image)
          this.close()
        }
        process.in_progress = false
      }
    }
  }
</script>