<template>
  <div style="position: relative">
    <v-img :aspect-ratio="7/4"
           style="cursor: pointer;"
           @click="$emit('view_image_clicked', image.id)"
           :src="image.url">
      <template v-slot:placeholder>
        <v-layout
          fill-height
          align-center
          justify-center
          ma-0
        >
          <v-progress-circular indeterminate color="grey"/>
        </v-layout>
      </template>
      <edit-menu ref="edit_menu" v-model="image"/>
    </v-img>
    <div class="px-1"
         style="position: absolute; bottom: 0; width: 100%">
      <v-tooltip bottom>
        <template v-slot:activator="{on}">
          <v-icon small class="mr-1"
                  v-on="on"
                  color="white">{{image.public ? 'visibility' : 'visibility_off'}}
          </v-icon>
        </template>
        <template v-if="image.public">
          <span>{{$trans.itinerary.public_state[locale]}}</span>
        </template>
        <template v-else>
          <span>{{$trans.itinerary.private_state[locale]}}</span>
        </template>
      </v-tooltip>
      <v-tooltip bottom v-if="image.desc">
        <template v-slot:activator="{on}">
          <v-icon small v-on="on"
                  color="white">notes
          </v-icon>
        </template>
        <span>{{$trans.itinerary.has_desc[locale]}}</span>
      </v-tooltip>
    </div>
    <div style="position: absolute; top: 5px; right: 5px;">
      <v-menu offset-y lazy
              ref="edit_image_menu"
              :close-on-content-click="false">
        <template v-slot:activator="{on}">
          <v-btn icon small
                 style="width: 20px; height: 20px"
                 class="ma-0 white--text"
                 v-on="on" color="secondary">
            <v-icon small>more_vert</v-icon>
          </v-btn>
        </template>
        <v-list dense subheader class="pa-0">
          <v-list-tile @click="$refs.edit_menu.show()">
            <v-icon class="mr-1">edit</v-icon>
            <span>{{$trans.common.edit[locale]}}</span>
          </v-list-tile>
          <v-divider/>
          <v-list-tile
            @click="remove_image"
            class="error--text">
            <v-icon class="mr-1" color="error">delete</v-icon>
            <span>{{$trans.common.remove[locale]}}</span>
          </v-list-tile>
        </v-list>
      </v-menu>
    </div>
  </div>
</template>
<script>
  import EditMenu from './edit-menu'

  export default {
    components: {EditMenu},
    props: {
      image: {type: Object, required: true}
    },
    data: () => ({
      processes: {
        remove_image: {
          in_progress: false
        }
      }
    }),
    methods: {
      async remove_image () {
        let process = this.processes.remove_image
        if (process.in_progress) return
        process.in_progress = true
        let service = this.$services.image
        let payload = {
          id: this.image.object_id,
          ids: this.image.id
        }
        const response = await service.delete(payload)
        process.in_progress = false
        if (response.status === 200) {
          this.$emit('removed', this.image.id)
        }
      }
    }
  }
</script>