<template>
  <v-layout column>
    <v-flex>
      <div class="black--text caption font-weight-medium"
           @click="open_image_input"
           style="cursor: pointer; display: inline-flex; align-items: center">
        <template v-if="upload_image_state.in_progress.length > 0">
          <v-progress-circular size="12" width="2" indeterminate class="mr-1"/>
          <span class="mr-2">{{upload_progress}}</span>
        </template>
        <template v-else>
          <v-icon small class="mr-1 black--text">cloud_upload</v-icon>
          <span class="mr-2">{{$trans.common.image[locale]}}</span>
        </template>
        <template v-if="images.length >= common_data.max_image_count">
        <span
          class="font-italic caption error--text">( {{$trans.common.maximum[locale]}}: {{common_data.max_image_count}} files )</span>
        </template>
        <template v-else>
          <span class="font-italic text--disabled caption">( {{$trans.common.maximum[locale]}}: {{common_data.max_image_count}} files )</span>
        </template>
      </div>
    </v-flex>
    <v-flex v-if="upload_image_state.fail.length > 0">
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-chip small outline
                  v-on="on" class="ma-0"
                  color="error">
            <v-icon color="error" left>error</v-icon>
            <span>{{$trans.itinerary.error_file[locale]}}: {{upload_image_state.fail.length}}</span>
          </v-chip>
        </template>
        <v-list dense subheader>
          <v-list-tile v-for="(p, i) in upload_image_state.fail" :key="i">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ p.file_name }}
              </v-list-tile-title>
              <v-list-tile-sub-title class="error--text">
                {{ $trans.storage.errors[p.error][locale] }}
              </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-flex>
    <v-flex v-if="all_images.length > 0">
      <v-layout row wrap>
        <v-flex xs6 sm4 md3
                v-for="image in all_images" :key="image.id">
          <pe-image :image="image"
                    @view_image_clicked="$refs.slide_show.show(image.id)"
                    @removed="handle_image_removed"/>
        </v-flex>
      </v-layout>
    </v-flex>
    <input style="display: none"
           ref="image_input" accept="image/*"
           @change="handle_image_upload"
           type="file" multiple/>
    <slide-show ref="slide_show"
                :images="all_images"/>
  </v-layout>
</template>
<script>
  import SlideShow from '../slide-show'
  import PeImage from './image'

  export default {
    components: {PeImage, SlideShow},
    props: {
      event: {type: Object, required: true},
      images: {type: Array, required: true}
    },
    data: () => ({
      translation_terms: {
        error_file: {
          vi: 'File lỗi',
          en: 'Error file'
        },
        ContentTypeNotSupported: {
          vi: 'Định dạng file không hợp lệ',
          en: 'File content type is not supported'
        }
      },
      processes: {
        upload_image: {
          in_progress: []
        }
      }
    }),
    computed: {
      upload_image_state () {
        let upload_process = this.processes.upload_image.in_progress
        return {
          in_progress: upload_process.filter(p => p.status === 0),
          success: upload_process.filter(p => p.status === 200),
          fail: upload_process.filter(p => ![200, 0].includes(p.status)),
          total: upload_process.length
        }
      },
      upload_progress () {
        let total = this.upload_image_state.total
        let in_progress = this.upload_image_state.in_progress.length
        return `${total - in_progress}/${total}`
      },
      all_images () {
        return this.images
      }
    },
    methods: {
      open_image_input () {
        if (this.upload_image_state.in_progress.length > 0) return
        this.$refs.image_input.click()
      },
      handle_image_removed (image_id) {
        const index = this.images.findIndex(i => i.id === image_id)
        if (index < 0) return
        this.images.splice(index, 1)
      },
      handle_image_upload ($e) {
        let available_image_amount = this.common_data.max_image_count - this.images.length
        if (available_image_amount <= 0) return

        if (this.upload_image_state.in_progress.length > 0) return

        let process = this.processes.upload_image

        // clear processes
        process.in_progress = []

        let files = $e.target.files

        const service = this.$services.image

        const handle_upload = async (file, proc) => {
          let payload = new FormData()
          payload.append('file', file)
          payload.append('object_id', this.event.id)
          payload.append('object_type', 'event')
          const response = await service.create(payload)
          proc.status = response.status
          if (response.status === 200) {
            // success
            this.images.push(response.data)
          } else {
            // error
            proc.error = response.data.error_code
          }
        }

        let files_length = files.length > available_image_amount ? available_image_amount : files.length

        for (let i = 0; i < files_length; i++) {
          let file = files[i]
          let p = {
            timestamp: new Date().getTime().toString(),
            file_name: file.name,
            status: 0,
            error: null
          }
          process.in_progress.push(p)
          handle_upload(file, p)
        }
      }
    }
  }
</script>
