<template>
  <div>
    <div>
      <v-icon small class="mr-1">group</v-icon>
      <span>{{$trans.common.group[locale]}}</span>
    </div>
    <div>
      <v-combobox class="caption ma-0 pa-0"
                  item-value="id"
                  v-model="selected_groups"
                  return-object
                  item-text="name"
                  @input="handle_input_changed"
                  :placeholder="$trans.itinerary.settings.type_group_name[locale]"
                  hide-details multiple
                  no-filter chips dense
                  :search-input.sync="search_text"
                  :items="groups">
        <template v-slot:item="data">
          <v-list-tile-title>
            <span>{{data.item.name}}</span>
          </v-list-tile-title>
        </template>
        <template v-slot:selection="data">
          <v-chip small close
                  @input="remove(data.item)">
            <span style="max-width: 100px; overflow: hidden; text-overflow: ellipsis">{{data.item.name}}</span>
          </v-chip>
        </template>
      </v-combobox>
    </div>
  </div>
</template>
<script>
  import debounce from 'lodash/debounce'
  import cloneDeep from 'lodash/cloneDeep'

  export default {
    props: {
      value: {type: Array, required: true}
    },
    data: () => ({
      groups: [],
      selected_groups: [],
      total: 0,
      pagination: {
        page: 1,
        per_page: 10
      },
      search_text: '',
      processes: {
        list: {
          in_progress: false
        }
      },
    }),
    created () {
      this.selected_groups = cloneDeep(this.value)
    },
    watch: {
      'search_text' (val) {
        if (!val) return
        this.list()
      }
    },
    methods: {
      get_selected_group_ids () {
        return this.selected_groups.map(g => g.id)
      },
      handle_input_changed (val) {
        this.selected_groups = val.filter(v => typeof v === 'object')
        this.search_text = ''
      },
      reset () {
        this.selected_groups = cloneDeep(this.value)
      },
      remove (user) {
        const index = this.selected_groups.findIndex(u => u.id === user.id)
        if (index < 0) return
        this.selected_groups.splice(index, 1)
      },
      list: debounce(async function () {
        let process = this.processes.list
        if (process.in_progress) return
        process.in_progress = true
        process.no_data = false
        let payload = {
          ...this.pagination,
          search_text: this.search_text
        }
        const response = await this.$services.group.list(payload)
        if (response.status === 200) {
          this.groups = response.data.result
          this.total = response.data.total
        }
        process.in_progress = false
      }, 300)
    }
  }
</script>