<template>
  <div>
    <div class="attachment grey lighten-4 pa-1">
      <div class="mr-1 attachment-avatar">
        <img height="40"
             style="cursor: pointer"
             @click="$refs.viewer.show()"
             :src="file_ext_icon"/>
      </div>
      <div class="attachment-info">
        <div>
          <div
            @click="$refs.viewer.show()"
            class="attachment-name caption font-weight-medium">{{attachment.name}}
          </div>
          <div>
            <template v-if="mode === 'edit'">
              <a @click="remove" class="caption">{{$trans.common.remove[locale]}}</a>
              <span> - </span>
            </template>
            <a :download="attachment.name"
               :href="attachment.url"
               class="caption">{{$trans.common.download[locale]}}</a>
            <span> - </span>
            <a @click="$refs.viewer.show()" class="caption">{{$trans.common.view[locale]}}</a>
            <template v-if="mode === 'edit'">
              <span> - </span>
              <v-menu offset-y lazy ref="edit_menu"
                      :close-on-content-click="false">
                <template v-slot:activator="{on}">
                  <a class="caption"
                     v-on="on">{{$trans.common.edit[locale]}}</a>
                </template>
                <v-card width="250">
                  <edit-form @updated="$refs.edit_menu.save()"
                             @canceled="$refs.edit_menu.save()"
                             v-model="attachment"/>
                </v-card>
              </v-menu>
            </template>
          </div>
        </div>
        <div class="attachment-size caption font-weight-bold text--disabled">
          <div>
            <div>{{file_size}}</div>
            <div v-if="mode === 'edit'">
              <v-icon
                      small>{{attachment.public ? 'visibility' : 'visibility_off'}}
              </v-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <viewer ref="viewer" :url="view_url"/>
  </div>
</template>
<script>
  import Viewer from './viewer'
  import EditForm from './edit-form'

  export default {
    components: {Viewer, EditForm},
    props: {
      attachment: {type: Object, required: true},
      mode: {type: String, default: 'view'}
    },
    data: () => ({
      processes: {
        remove: {
          in_progress: false
        },
        update: {
          in_progress: false
        }
      },
    }),
    computed: {
      file_size () {
        let size = this.attachment.size
        let kb_check = size / 1024
        if (kb_check < 1) return `${size.toFixed(2)} bytes`
        let mb_check = kb_check / 1024
        if (mb_check < 1) {
          if (kb_check > 500) return `${mb_check.toFixed(2)} mb`
          else return `${kb_check.toFixed(2)} kb`
        }
        let gb_check = mb_check / 1024
        if (gb_check < 1) {
          if (mb_check > 500) return `${gb_check.toFixed(2)} gb`
          else return `${mb_check.toFixed(2)} mb`
        }
        return `${gb_check.toFixed(2)} gb`
      },
      content_type () {
        let split_name = this.attachment.name.split('.')
        return split_name[split_name.length - 1].toLowerCase()
      },
      file_ext_icon () {
        let content_type = this.content_type
        let icons = this.common_data.file_ext_icons
        let result = icons[content_type]
        if (!result) result = icons.other
        return result
      },
      view_url () {
        return `https://docs.google.com/gview?url=${this.attachment.url}&embedded=true`
      },
      doc_viewer_height () {
        return this.screen_height
      }
    },
    methods: {
      async remove () {
        let process = this.processes.remove
        if (process.in_progress) return
        if (!window.confirm('Bạn có muốn xóa file này?')) return
        process.in_progress = true
        let service = this.$services.attachment
        let payload = {
          ids: this.attachment.id
        }
        const response = await service.delete(payload)
        process.in_progress = false
        if (response.status === 200) {
          this.$emit('removed', this.attachment.id)
        }
      },
      async update () {
        let process = this.processes.update
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          id: this.attachment.id,
          public: !this.attachment.public
        }
        const response = await this.$services.attachment.update(payload)
        if (response.status === 200) {
          Object.assign(this.attachment, response.data)
        }
        process.in_progress = false
      }
    }
  }
</script>
<style scoped>
  .attachment {
    display: flex;
    border-radius: 5px;
    align-items: center;
  }

  .attachment-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    cursor: pointer;
  }

  .attachment-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .attachment-size {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .attachment-avatar {
    display: flex;
    align-items: center
  }

</style>