<template>
  <v-form>
    <v-container grid-list-md class="pa-2">
      <v-layout column>
        <v-flex>
          <v-switch small hide-details
                    class="ma-0" v-model="attachment.public"
                    label="Công khai">
            <template v-slot:label>
              <span class="caption">{{$trans.common.public[locale]}}</span>
            </template>
            <template v-slot:append>
              <v-tooltip top>
                <template v-slot:activator="{on}">
                  <v-icon small v-on="on"
                          class="mt-1">help
                  </v-icon>
                </template>
                <div style="max-width: 200px">
                  {{$trans.itinerary.attachment_status_info[locale]}}
                </div>
              </v-tooltip>
            </template>
          </v-switch>
        </v-flex>
        <v-flex>
          <v-divider/>
        </v-flex>
        <v-flex text-xs-right>
          <v-btn small icon
                 class="ma-0 ml-1"
                 :disabled="processes.update.in_progress"
                 @click="cancel"
                 color="secondary">
            <v-icon small>clear</v-icon>
          </v-btn>

          <v-btn small icon
                 class="ma-0 ml-1"
                 @click="update"
                 :loading="processes.update.in_progress"
                 color="primary">
            <v-icon small>save</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>
<script>
  import cloneDeep from 'lodash/cloneDeep'

  export default {
    props: {
      value: {type: Object, required: true}
    },
    data: () => ({
      processes: {
        update: {
          in_progress: false
        }
      },
      attachment: null
    }),
    created () {
      this.init()
    },
    methods: {
      init () {
        this.attachment = cloneDeep(this.value)
      },
      cancel () {
        this.$emit('canceled')
        this.init()
      },
      async update () {
        let process = this.processes.update
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          id: this.attachment.id,
          public: this.attachment.public,
        }
        const response = await this.$services.attachment.update(payload)
        if (response.status === 200) {
          Object.assign(this.value, this.attachment)
          this.$emit('updated')
          this.init()
        }
        process.in_progress = false
      }
    }
  }
</script>