<template>
  <v-layout column>
    <template v-if="processes.list_attachment.in_progress">
      <v-flex text-xs-center>
        <v-progress-circular indeterminate/>
      </v-flex>
    </template>
    <template v-else>
      <v-flex>
        <template v-if="mode === 'view'">
          <view-mode :event="event" :attachments="attachments"/>
        </template>
        <template v-else>
          <edit-mode :event="event" :attachments="attachments"/>
        </template>
      </v-flex>
    </template>
  </v-layout>
</template>
<script>
  import ViewMode from './view'
  import EditMode from './edit'

  export default {
    components: {ViewMode, EditMode},
    props: {
      mode: {type: String, default: 'view'},
      event: {type: Object, required: true},
    },
    data: () => ({
      attachments: [],
      processes: {
        list_attachment: {
          in_progress: false
        }
      }
    }),
    created () {
      this.list_attachment()
    },
    methods: {
      async list_attachment () {
        let process = this.processes.list_attachment
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          object_id: this.event.id,
          object_type: 'event'
        }
        const response = await this.$services.attachment.list(payload)
        if (response.status === 200) {
          this.attachments = response.data.result
        }
        process.in_progress = false
      }
    }
  }
</script>