<template>
  <v-dialog lazy v-model="showed" max-width="900">
    <v-toolbar height="30" flat dense>
      <v-spacer/>
      <v-icon @click="showed = false">clear</v-icon>
    </v-toolbar>
    <div>
      <div v-if="!iframe_loaded"
           class="iframe-loading">
        <v-progress-circular
          class="ma-0"
          style="position: absolute;"
          indeterminate/>
      </div>
      <iframe style="width: 100%; height: 100%"
              ref="google_doc_viewer"
              @load="handle_iframe_loaded"
              :style="{height: `${doc_viewer_height}px`}"
              :src="url"/>
    </div>
  </v-dialog>
</template>
<script>
  import {mapState} from 'vuex'

  export default {
    props: {
      url: {type: String, required: true}
    },
    data: () => ({
      showed: false,
      load_iframe_interval: null,
      iframe_loaded: false
    }),
    methods: {
      show () {
        this.showed = true
        if (!this.iframe_loaded) {
          this.load_iframe_interval = setInterval(() => {
            let google_doc_viewer = this.$refs.google_doc_viewer
            google_doc_viewer.src = this.url
          }, 3000)
        }
      },
      handle_iframe_loaded () {
        if (this.load_iframe_interval) {
          this.iframe_loaded = true
          clearInterval(this.load_iframe_interval)
        }
      }
    },
    computed: {
      ...mapState('Device', {
        screen_height: 'height'
      }),
      doc_viewer_height () {
        return this.screen_height * 0.7
      }
    }
  }
</script>
<style>
  .iframe-loading {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center
  }
</style>