<template>
  <v-card flat class="pa-2">
    <v-layout column>
      <v-flex>
        <div>{{place.name}}</div>
      </v-flex>
      <google-place-detail :uid="place.id"
                           :value="place"/>
    </v-layout>
  </v-card>
</template>
<script>
  import GooglePlaceDetail from '@/components/google-map/place-detail'

  export default {
    components: {GooglePlaceDetail},
    props: {
      place: {type: Object, required: true}
    },
    data: () => ({
      no_image: require('@/assets/no_image.png')
    }),
    computed: {}
  }
</script>