<template>
  <v-dialog
    v-model="showed"
    lazy persistent
    fullscreen
  >
    <v-card>
      <v-toolbar card dense height="35" flat>
        <span>{{$trans.itinerary.add_event[locale]}}</span>
        <v-spacer/>
        <v-btn icon small @click="reset">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-toolbar>
      <v-container grid-list-md pa-2>
        <v-layout column>
          <v-flex>
            <div>
              <b>Category</b>
            </div>
            <v-btn small dark round depressed
                   style="text-transform: none"
                   :outline="event.category_id !== c.id" class="ma-1"
                   v-for="c in common_data.event_categories"
                   @click="select_category(c)"
                   :color="c.color">
              <v-icon small class="mr-1">{{c.icon}}</v-icon>
              <span>{{$trans.event_categories[c.code][locale]}}</span>
            </v-btn>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex>
            <div>
              <b>Type</b>
            </div>
            <v-btn small @click="event.sub_category = c_i; event.sub_category_id = c_i.id; "
                   :outline="c_i.id !== event.sub_category_id"
                   class="ma-1" round depressed
                   style="text-transform: none"
                   v-for="c_i in suitable_event_category_items"
                   color="secondary">
              <span>{{$trans.event_sub_categories[c_i.code][locale]}}</span>
            </v-btn>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex>
            <template v-if="event.category.code === 'travel'">
              <v-layout row wrap>
                <v-flex xs12 sm12 md6>
                  <div>
                    <b>{{$trans.common.departure[locale]}}</b>
                  </div>
                  <place-time-handler-edit
                    ref="start_place_picker"
                    place_field="start_place"
                    time_field="start_time"
                    :height="200" mode="edit"
                    :uid="`start-${day_id}`"
                    :event="event"/>
                </v-flex>
                <v-flex xs12 sm12 md6>
                  <div>
                    <b>{{$trans.common.arrive[locale]}}</b>
                  </div>

                  <place-time-handler-edit
                    ref="end_place_picker"
                    place_field="end_place"
                    time_field="end_time"
                    :height="200" mode="edit"
                    :uid="`end-${day_id}`"
                    :event="event"/>
                </v-flex>
              </v-layout>
            </template>
            <template v-else>
              <div>
                <b>{{$trans.itinerary.time_and_place[locale]}}</b>
              </div>
              <place-time-handler-edit
                ref="start_place_picker"
                place_field="start_place"
                time_field="start_time"
                mode="edit"
                :height="200"
                :uid="day_id"
                :event="event"/>
            </template>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex>
            <div>
              <b>{{$trans.common.detail[locale]}}</b>
            </div>
            <meta-handler mode="edit" :event="event"/>
          </v-flex>
          <v-flex>
            <note-handler :event="event"/>
          </v-flex>
        </v-layout>
      </v-container>
      <div class="v-speed-dial--bottom v-speed-dial--fixed v-speed-dial--right">
        <v-btn small class="mr-1"
               color="secondary" fab
               :disabled="processes.create_event.in_progress"
               @click="reset">
          <v-icon>clear</v-icon>
        </v-btn>
        <v-btn small color="primary"
               :loading="processes.create_event.in_progress"
               @click="create_event" fab
               class="ma-0">
          <v-icon>save</v-icon>
        </v-btn>
      </div>
    </v-card>
  </v-dialog>
</template>
<script>
  import cloneDeep from 'lodash/cloneDeep'
  import MetaHandler from '../meta-handler'
  import PlaceTimeHandlerEdit from '../place-time-handler/edit'
  import NoteHandler from '../note-handler'

  const INIT_EVENT = {
    name: '',
    note: '',
    start_time: '00:00',
    end_time: '00:00',
    category_id: null,
    category: null,
    sub_category: null,
    sub_category_id: null,
    day_id: null,
    price: 0,
    currency: 'VND',
    meta: {},
    start_place: null,
    start_place_id: null,
    end_place: null,
    end_place_id: null
  }

  export default {
    components: {MetaHandler, PlaceTimeHandlerEdit, NoteHandler},
    props: {
      day_id: {type: String, required: true},
      day: {type: Object, required: true},
    },
    created () {
      this.init_event()
    },
    data: () => ({
      showed: false,
      event: null,
      processes: {
        create_event: {
          in_progress: false
        }
      },
      no_image: require('@/assets/banner_image.jpg')
    }),
    computed: {
      suitable_event_category_items () {
        let c_items = this.common_data.event_sub_categories
        return c_items.filter(c_i => c_i.category_id === this.event.category_id)
      }
    },
    watch: {
      'event.sub_category_id' () {
        this.suggest_time()
      }
    },
    methods: {
      init_event () {
        this.event = cloneDeep(INIT_EVENT)
        let category = this.common_data.event_categories[0]
        let sub_category = this.common_data.event_sub_categories.filter(
          c_i => c_i.category_id === category.id
        )[0]
        this.event.category = category
        this.event.category_id = category.id
        this.event.sub_category = sub_category
        this.event.sub_category_id = sub_category.id
      },
      show (payload) {
        if (payload) {
          if (payload.category) {
            this.event.category = payload.category
            this.event.category_id = payload.category.id
          }
          if (payload.sub_category) {
            this.event.sub_category = payload.sub_category
            this.event.sub_category_id = payload.sub_category.id
          }
          if (payload.start_place_id) {
            this.event.start_place_id = payload.start_place_id
          }
        }
        this.suggest_time()
        this.showed = true
      },
      close () {
        this.showed = false
      },
      reset () {
        this.init_event()
        this.close()
        this.$refs.start_place_picker.reset_place()
        if (this.$refs.end_place_picker) this.$refs.end_place_picker.reset_place()
      },
      select_category (category) {
        if (this.event.category_id === category.id) return
        this.event.category = category
        this.event.category_id = category.id
        let c_items = this.common_data.event_sub_categories.filter(c_i => c_i.category_id === category.id)
        this.event.sub_category_id = c_items[0].id
        this.event.sub_category = c_items[0]
      },
      get_last_event_start_time () {
        let event_length = this.day.events.length
        if (event_length === 0) return null
        let last_event = this.day.events[event_length - 1]
        return last_event.start_time
      },

      suggest_time () {
        let category = this.event.category
        let sub_category = this.event.sub_category
        let result = '00:00'
        let last_event_start_time = this.get_last_event_start_time()
        if (last_event_start_time) {
          let [last_hour, last_minute] = last_event_start_time.split(':')
          result = `${parseInt(last_hour) + 1}:00`
        }

        if (category.code === 'stay') {
          if (sub_category.code === 'check-in') result = '14:00'
          else result = '12:00'
        } else if (category.code === 'cuisine') {
          if (sub_category.code === 'break-fast') result = '06:00'
          else if (sub_category.code === 'lunch') result = '12:00'
          else if (sub_category.code === 'dinner') result = '18:00'
        }
        this.event.start_time = result
      },
      async create_event () {
        let process = this.processes.create_event
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          ...this.event,
          day_id: this.day_id
        }
        const response = await this.$services.event.create(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$emit('created', response.data)
          this.reset()
        }
      }
    }
  }
</script>