<template>
  <v-dialog
    v-model="showed"
    lazy persistent
    fullscreen>
    <v-card style="position: relative">
      <v-toolbar card dense height="35" flat>
        <b>{{$trans.itinerary.edit_event[locale]}}</b>
        <v-spacer/>
        <v-btn icon small @click="close()">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-toolbar>
      <v-container grid-list-md pa-2>
        <v-layout column>
          <v-flex>
            <div>
              <b>Category</b>
            </div>
            <v-btn small dark round depressed
                   style="text-transform: none"
                   :outline="event.category_id !== c.id" class="ma-1"
                   v-for="c in common_data.event_categories"
                   @click="select_category(c)"
                   :color="c.color">
              <v-icon small class="mr-1">{{c.icon}}</v-icon>
              <span>{{$trans.event_categories[c.code][locale]}}</span>
            </v-btn>
          </v-flex>

          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex>
            <div>
              <b>Type</b>
            </div>
            <v-btn small @click="event.sub_category = c_i; event.sub_category_id = c_i.id; "
                   :outline="c_i.id !== event.sub_category_id"
                   style="text-transform: none"
                   class="ma-1" round depressed
                   v-for="c_i in suitable_event_category_items"
                   color="secondary">
              <span>{{$trans.event_sub_categories[c_i.code][locale]}}</span>
            </v-btn>
          </v-flex>
          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex>
            <template v-if="event.category.code === 'travel'">
              <v-layout row wrap>
                <v-flex xs12 sm12 md6>
                  <div>
                    <b>{{$trans.common.departure[locale]}}</b>
                  </div>
                  <place-time-handler-edit
                    place_field="start_place"
                    time_field="start_time"
                    :height="200" mode="edit"
                    :uid="`start-${event.id}`"
                    :event="event"/>
                </v-flex>
                <v-flex xs12 sm12 md6>
                  <div>
                    <b>{{$trans.common.arrive[locale]}}</b>
                  </div>
                  <place-time-handler-edit
                    place_field="end_place"
                    time_field="end_time"
                    :height="200" mode="edit"
                    :uid="`end-${event.id}`"
                    :event="event"/>
                </v-flex>
              </v-layout>
            </template>
            <template v-else>
              <div>
                <b>{{$trans.itinerary.time_and_place[locale]}}</b>
              </div>
              <place-time-handler-edit
                place_field="start_place"
                time_field="start_time"
                mode="edit"
                :height="200"
                :uid="event.id"
                :event="event"/>
            </template>
          </v-flex>

          <v-flex>
            <v-divider/>
          </v-flex>
          <v-flex>
            <div>
              <b>{{$trans.common.detail[locale]}}</b>
            </div>
            <meta-handler mode="edit" :event="event"/>
          </v-flex>
          <v-flex>
            <note-handler :event="event"/>
          </v-flex>
        </v-layout>
      </v-container>
      <div class="v-speed-dial--bottom v-speed-dial--fixed v-speed-dial--right">
        <v-btn small class="mr-1"
               color="secondary" fab
               :disabled="processes.update_event.in_progress"
               @click="close">
          <v-icon>clear</v-icon>
        </v-btn>
        <v-btn small color="primary"
               :loading="processes.update_event.in_progress"
               @click="update_event" fab
               class="ma-0">
          <v-icon>save</v-icon>
        </v-btn>
      </div>
    </v-card>
  </v-dialog>
</template>
<script>
  import cloneDeep from 'lodash/cloneDeep'
  import MetaHandler from '../meta-handler'
  import NoteHandler from '../note-handler'
  import PlaceTimeHandlerEdit from '../place-time-handler/edit'

  export default {
    components: {MetaHandler, PlaceTimeHandlerEdit, NoteHandler},
    props: {
      value: {type: Object, required: true}
    },
    created () {
      this.init_event()
    },
    data: () => ({
      showed: false,
      event: null,
      processes: {
        update_event: {
          in_progress: false
        }
      },
      no_image: require('@/assets/banner_image.jpg')
    }),
    computed: {
      suitable_event_category_items () {
        let c_items = this.common_data.event_sub_categories
        return c_items.filter(c_i => c_i.category_id === this.event.category_id)
      }
    },
    methods: {
      init_event () {
        this.event = cloneDeep(this.value)
      },
      show () {
        this.showed = true
      },
      close () {
        this.showed = false
        this.init_event()
      },
      select_category (category) {
        if (this.event.category_id === category.id) return
        this.event.category = category
        this.event.category_id = category.id
        let c_items = this.common_data.event_sub_categories.filter(c_i => c_i.category_id === category.id)
        this.event.sub_category_id = c_items[0].id
        this.event.sub_category = c_items[0]
      },
      async update_event () {
        let process = this.processes.update_event
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.event.update(this.event)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$emit('updated', response.data)
          this.close()
        }
      }
    }
  }
</script>