<template>
  <v-dialog
    v-model="showed"
    lazy persistent
    fullscreen
  >
    <v-card color="grey lighten-2">
      <v-toolbar card dense height="35" flat>
        <span>{{$trans.itinerary.move_event[locale]}}</span>
        <v-spacer/>
        <v-btn icon small @click="close()">
          <v-icon>clear</v-icon>
        </v-btn>
      </v-toolbar>
      <v-container grid-list-md>
        <v-layout row wrap justify-center>
          <v-flex xs12 sm6 md4>
            <v-layout column>
              <template v-if="processes.list_day.in_progress">
                <v-flex text-xs-center>
                  <v-progress-circular indeterminate/>
                </v-flex>
              </template>
              <template v-else>
                <v-flex v-for="(day, d_index) in days" :key="day.id">
                  <v-card class="pa-2"
                          :color="get_card_color(day)"
                          @click="select_day(day.id)"
                          hover>
                    <v-layout column>
                      <v-flex>
                        <v-layout row wrap>
                          <v-flex xs12>
                            <div class="font-weight-bold"
                                 style="word-break: break-word">
                              {{`Ngày ${d_index + 1}`}}
                            </div>
                            <div class="caption text--disabled">
                              <span>{{get_date(d_index)}}</span>
                              <template v-if="day.name">
                                <span class="mx-1">-</span>
                                <span>{{day.name}}</span>
                              </template>
                            </div>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                      <v-flex v-if="day.events.length > 0">
                        <template v-for="e in day.events">
                          <template v-if="e.id === event.id">
                            <v-tooltip top v-model="event_tooltip_showed">
                              <template v-slot:activator="{on}">
                                <v-avatar size="30"
                                          v-on="on"
                                          :color="e.category.color"
                                          class="ma-1 elevation-4"
                                          :key="e.id">
                                  <v-icon small dark>{{e.category.icon}}</v-icon>
                                </v-avatar>
                              </template>
                              <span>{{$trans.itinerary.moved_event[locale]}}</span>
                            </v-tooltip>
                          </template>
                          <template v-else>
                            <v-avatar size="22"
                                      :color="e.category.color"
                                      class="ma-1"
                                      :key="e.id">
                              <v-icon small dark>{{e.category.icon}}</v-icon>
                            </v-avatar>
                          </template>
                        </template>
                      </v-flex>
                    </v-layout>
                  </v-card>
                </v-flex>
              </template>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
      <div class="v-speed-dial--fixed v-speed-dial--bottom v-speed-dial--right">
        <v-btn small class="mr-1"
               color="secondary" fab
               :disabled="processes.move_event.in_progress"
               @click="close">
          <v-icon>clear</v-icon>
        </v-btn>
        <v-btn small color="primary"
               :disabled="!selected_day_id"
               :loading="processes.move_event.in_progress"
               @click="move_event" fab
               class="ma-0">
          <v-icon>input</v-icon>
        </v-btn>
      </div>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      event: {type: Object, required: true},
      start_date: {type: String, required: true},
    },
    data: () => ({
      showed: false,
      processes: {
        move_event: {
          in_progress: false
        },
        list_day: {
          in_progress: false
        }
      },
      days: [],
      selected_day_id: null,
      event_tooltip_showed: false,
    }),
    methods: {
      select_day (day_id) {
        if (this.processes.move_event.in_progress) return
        if (day_id === this.event.day_id) return
        this.selected_day_id = day_id
      },
      get_card_color (day) {
        let current_day_of_event = this.days.find(d => d.id === this.event.day_id)
        if (current_day_of_event && day.id === current_day_of_event.id) {
          return 'error lighten-5'
        }
        if (day.id === this.selected_day_id) {
          return 'blue lighten-4'
        }
        return ''
      },
      get_date (d_index) {
        let start_date = this.common_utils.convert_string_to_date(this.start_date, 'DD/MM/YYYY')
        return start_date.add(d_index, 'days').format('DD/MM/YYYY')
      },
      show () {
        this.list_day()
        this.showed = true
      },
      close () {
        this.showed = false
        this.selected_day_id = null
      },
      async move_event () {
        let process = this.processes.move_event
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          id: this.event.id,
          day_id: this.selected_day_id
        }
        const response = await this.$services.event.move(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.$emit('moved', this.selected_day_id)
          this.close()
        }
      },
      async list_day () {
        let process = this.processes.list_day
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          itinerary_id: this.event.itinerary_id,
        }
        const response = await this.$services.day.list(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.days = response.data.result
          setTimeout(() => {
            this.event_tooltip_showed = true
          }, 1000)
        }
      }
    }
  }
</script>