<template>
  <span class="text--disabled" style="font-size: 12px">{{handle_time}}</span>
</template>
<script>
  export default {
    props: {
      value: {type: String, required: true}
    },
    computed: {
      handle_time () {
        let timestamp = this.common_utils.convert_string_to_date(this.value, 'DD/MM/YYYY HH:mm:ss')
        let current_timezone = new Date().getTimezoneOffset() / 60
        timestamp.subtract(current_timezone, 'hours')
        timestamp = timestamp.unix()
        const delta = (new Date().getTime() / 1000) - timestamp
        const minute_compare = Math.floor(delta / 60)
        if (minute_compare < 1) return `${Math.ceil(delta)} ${this.$trans.comment.some_second_ago[this.locale]}`
        const hour_compare = Math.floor(minute_compare / 60)
        if (hour_compare < 1) return `${Math.ceil(minute_compare)} ${this.$trans.comment.some_minute_ago[this.locale]}`
        const day_compare = Math.floor(hour_compare / 24)
        if (day_compare < 1) return `${Math.ceil(hour_compare)} ${this.$trans.comment.some_hour_ago[this.locale]}`
        if (day_compare < 2) return this.$trans.common.yesterday[this.locale]
        return this.value
      }
    }
  }
</script>