<template>
  <v-container grid-list-md>
    <template v-if="processes.get_itinerary.in_progress">
      <v-layout column>
        <v-flex text-xs-center>
          <v-progress-circular indeterminate></v-progress-circular>
        </v-flex>
      </v-layout>
    </template>
    <template v-else>
      <v-layout column>
        <template v-if="processes.get_itinerary.error">
          <template v-if="processes.get_itinerary.error === 'PermissionError'">
            <v-flex>
              <e403/>
            </v-flex>
          </template>
          <template v-else-if="processes.get_itinerary.error === 'ItineraryNotFound'">
            <v-flex>
              <e404 :message="$trans.itinerary.errors.ItineraryNotFound[locale]"/>
            </v-flex>
          </template>
        </template>
        <template v-else>
          <v-flex>
            <introduction :itinerary="itinerary"
                          :spot_data="spot_data"
                          :mode="mode"/>
          </v-flex>
          <v-flex>
            <it-content :itinerary="itinerary"
                        :spot_data="spot_data"
                        :mode="mode"/>
          </v-flex>
        </template>
      </v-layout>
    </template>
  </v-container>
</template>
<script>
  import Introduction from './introduction'
  import ItContent from './content'
  import E403 from './errors/e403'
  import E404 from '../../error/e404'

  export default {
    components: {
      E403,
      E404,
      Introduction,
      ItContent
    },
    props: {
      mode: {type: String, default: 'view'}
    },
    data: () => ({
      itinerary: {},
      processes: {
        get_itinerary: {
          in_progress: false
        }
      },
      spot_data: {}
    }),
    created () {
      this.get_itinerary()
    },
    watch: {
      '$route.params.id' () {
        this.get_itinerary()
      },
      '$route.query': {
        deep: true,
        handler (val) {
          if (val.ignore_reload) return
          this.get_itinerary()
        }
      }
    },
    methods: {
      handle_spot_content () {
        let query = this.$route.query
        if (query.ignore_spot_content) return
        if (!query.spot_content) return
        this.spot_data.type = query.spot_type
        if (this.spot_data.type === 'comment') {
          this.spot_data.day_id = query.day_id
          this.spot_data.parent_id = query.parent_id
          this.spot_data.object_id = query.object_id
          this.spot_data.object_type = query.object_type
          this.spot_data.comment_id = query.comment_id
        }
      },
      async get_itinerary () {
        let process = this.processes.get_itinerary
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.itinerary.get(this.$route.params.id)
        if (response.status === 200) {
          // success
          this.itinerary = response.data
          this.handle_spot_content()
        } else {
          process.error = response.data.error_code
        }
        process.in_progress = false
      }
    }
  }
</script>