<template>
  <v-card flat color="grey lighten-4"
          class="pa-2"
          style="position: relative">
    <v-layout column>
      <v-flex>
        <div class="body-2 image-caption text--secondary font-weight-bold">
          <div>{{place_suggestion.place.name}}</div>
          <div>
            <v-menu offset-y lazy
                    :close-on-content-click="false">
              <template #activator="{ on: menu }">
                <v-tooltip top>
                  <template #activator="{ on: tooltip }">
                    <v-icon v-on="{ ...tooltip, ...menu }">info</v-icon>
                  </template>
                  <span>Chi tiết</span>
                </v-tooltip>
              </template>
              <v-card style="width: 300px" class="pa-2">
                <place-detail :uid="place_suggestion.id"
                              :value="place_suggestion.place"/>
              </v-card>
            </v-menu>
          </div>
        </div>
      </v-flex>
      <v-flex>
        <v-divider/>
      </v-flex>
      <v-flex>
        <div style="display: flex; align-items: center; justify-content: space-between">
          <v-menu offset-y>
            <template v-slot:activator="{on}">
              <v-chip label small v-on="on"
                      @click="list_like"
                      class="font-weight-bold ma-0 black--text">{{place_suggestion.like_count}}
              </v-chip>
            </template>
            <v-list subheader class="pa-0" dense
                    style="max-height: 300px; max-width: 300px; overflow-y: auto">
              <v-list-tile v-for="like in likes" :key="like.id">
                <v-list-tile-avatar>
                  <v-avatar size="30">
                    <img v-if="like.creator.avatar_url"
                         :src="like.creator.avatar_url"/>
                    <v-icon v-else>face</v-icon>
                  </v-avatar>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>
                    <div class="body-2" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      {{like.creator.name || like.creator.email}}
                    </div>
                  </v-list-tile-title>
                  <v-list-tile-sub-title>
                    <div class="caption">{{estimate_time(like.created_at)}}</div>
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-menu>
          <template>
          </template>
          <div class="success--text" v-if="selected_as_start">
            <v-icon small class="mr-1" color="success">check</v-icon>
            <span v-if="event.category.code === 'travel'">{{$trans.common.departure[locale]}}</span>
            <span v-else>{{$trans.common.destination[locale]}}</span>
          </div>
          <div class="success--text" v-if="selected_as_end">
            <v-icon small class="mr-1" color="success">check</v-icon>
            <span>{{$trans.event_discussion.arrival[locale]}}</span>
          </div>
        </div>
      </v-flex>
      <template v-if="access_token">
        <v-flex>
          <v-divider/>
        </v-flex>
        <v-flex>
          <v-btn small color="primary"
                 depressed class="ma-0"
                 @click="like"
                 :loading="processes.like.in_progress"
                 :outline="!place_suggestion.liked">
            <span>{{place_suggestion.liked ? 'Voted' : 'Vote'}}</span>
          </v-btn>
          <v-menu offset-y v-if="allowed_to_edit">
            <template v-slot:activator="{on}">
              <v-btn icon small class="ma-0 right"
                     v-on="on">
                <v-icon small>more_vert</v-icon>
              </v-btn>
            </template>
            <v-list dense class="pa-0" subheader>
              <template v-if="event.category.code === 'travel'">
                <template v-if="!(selected_as_start || selected_as_end)">
                  <v-list-tile @click="choose_ps('start_place')">
                    <v-icon class="mr-1" small>play_arrow</v-icon>
                    <span>{{$trans.event_discussion.select_as_departure[locale]}}</span>
                  </v-list-tile>
                  <v-list-tile @click="choose_ps('end_place')">
                    <v-icon class="mr-1" small>stop</v-icon>
                    <span>{{$trans.event_discussion.select_as_arrival[locale]}}</span>
                  </v-list-tile>
                </template>
              </template>
              <template v-else>
                <template v-if="!selected_as_start">
                  <v-list-tile @click="choose_ps('start_place')">
                    <v-icon class="mr-1" small>place</v-icon>
                    <span>{{$trans.event_discussion.select_as_destination[locale]}}</span>
                  </v-list-tile>
                </template>
              </template>
              <v-divider/>
              <v-list-tile @click="delete_ps" class="error--text">
                <v-icon small
                        class="mr-1"
                        color="error">delete
                </v-icon>
                <span>{{$trans.common.remove[locale]}}</span>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-flex>
      </template>
    </v-layout>
  </v-card>
</template>
<script>
  import PlaceDetail from '@/components/google-map/place-detail'

  export default {
    components: {PlaceDetail},
    props: {
      itinerary: {type: Object, required: true},
      place_suggestion: {type: Object, required: true},
      event: {type: Object, required: true}
    },
    data: () => ({
      processes: {
        like: {
          in_progress: false
        },
        delete_ps: {
          in_progress: false
        },
        choose_ps: {
          in_progress: false
        },
        list_like: {
          in_progress: false
        }
      },
      likes: []
    }),
    computed: {
      selected_as_start () {
        return this.event.start_place_id === this.place_suggestion.place.id
      },
      selected_as_end () {
        return this.event.end_place_id === this.place_suggestion.place.id
      },
      allowed_to_edit () {
        return this.auth_user.id === this.itinerary.creator_id
      }
    },
    methods: {
      async like () {
        if (!this.access_token) return
        let process = this.processes.like
        if (process.in_progress) return
        process.in_progress = true
        const service = this.$services.like
        let payload = {
          object_id: this.place_suggestion.id,
          object_type: 'place-suggestion'
        }
        const response = await service.create(payload)
        if (response.status === 200) {
          if (response.data) this.place_suggestion.like_count++
          else this.place_suggestion.like_count--
          this.place_suggestion.liked = response.data
        }
        process.in_progress = false
      },
      async choose_ps (place_field) {
        let process = this.processes.choose_ps
        if (process.in_progress) return
        process.in_progress = true
        const service = this.$services.event
        let payload = {
          id: this.event.id,
          category_id: this.event.category_id,
          sub_category_id: this.event.sub_category_id,
        }
        payload[place_field + '_id'] = this.place_suggestion.place.id
        const response = await service.update(payload)
        process.in_progress = false
        if (response.status === 200) {
          this.event[place_field + '_id'] = this.place_suggestion.place.id
          this.event[place_field] = this.place_suggestion.place
        }
      },
      async delete_ps () {
        let process = this.processes.delete_ps
        if (process.in_progress) return
        if (!window.confirm('Bạn có muốn gỡ gợi ý này?')) return
        process.in_progress = true
        const service = this.$services.place_suggestion
        const response = await service.delete({ids: this.place_suggestion.id})
        process.in_progress = false
        if (response.status === 200) {
          this.$emit('deleted', this.place_suggestion.id)
        }
      },
      async list_like () {
        let process = this.processes.list_like
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          object_id: this.place_suggestion.id,
          object_type: 'place-suggestion'
        }
        const response = await this.$services.like.list(payload)
        if (response.status === 200) {
          // success
          this.likes = response.data.result
        } else {
          // error
        }
        process.in_progress = false
      },
      estimate_time (date) {
        let timestamp = this.common_utils.convert_string_to_date(date, 'DD/MM/YYYY HH:mm:ss')
        let current_timezone = new Date().getTimezoneOffset() / 60
        timestamp.subtract(current_timezone, 'hours')
        timestamp = timestamp.unix()
        const delta = (new Date().getTime() / 1000) - timestamp
        const minute_compare = Math.floor(delta / 60)
        if (minute_compare < 1) return `${Math.ceil(delta)} ${this.$trans.comment.some_second_ago[this.locale]}`
        const hour_compare = Math.floor(minute_compare / 60)
        if (hour_compare < 1) return `${Math.ceil(minute_compare)} ${this.$trans.comment.some_minute_ago[this.locale]}`
        const day_compare = Math.floor(hour_compare / 24)
        if (day_compare < 1) return `${Math.ceil(hour_compare)} ${this.$trans.comment.some_hour_ago[this.locale]}`
        if (day_compare < 2) return this.$trans.common.yesterday[this.locale]
        return date
      }
    }
  }
</script>
<style scoped>
  .image-caption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>