<template>
  <div>
    <div>
      <v-icon small class="mr-1">person</v-icon>
      <span>User</span>
    </div>
    <div>
      <v-combobox class="caption ma-0 pa-0"
                  item-value="id"
                  v-model="selected_users"
                  return-object
                  item-text="name"
                  @input="handle_input_changed"
                  :placeholder="$trans.itinerary.settings.type_name_or_email[locale]"
                  hide-details multiple
                  no-filter chips dense
                  :search-input.sync="search_text"
                  :items="users">
        <template v-slot:item="data">
          <v-list-tile-avatar size="30">
            <img :src="data.item.avatar_url"
                 v-if="data.item.avatar_url"/>
            <v-icon v-else>face</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-title>
            <span>{{data.item.name || data.item.email}}</span>
          </v-list-tile-title>
        </template>
        <template v-slot:selection="data">
          <v-chip small close
                  @input="remove(data.item)">
            <v-avatar>
              <img :src="data.item.avatar_url"
                   v-if="data.item.avatar_url"/>
              <v-icon v-else>face</v-icon>
            </v-avatar>
            <span style="max-width: 100px; overflow: hidden; text-overflow: ellipsis">{{data.item.name || data.item.email}}</span>
          </v-chip>
        </template>
      </v-combobox>
    </div>
    <div class="caption mt-1 text--secondary"
         v-if="processes.list.no_data">
      <span>Không tìm thấy kết quả. Nhập email của user rồi bấm vào </span>
      <a @click="create_user">đây</a>
    </div>
  </div>
</template>
<script>
  import debounce from 'lodash/debounce'
  import cloneDeep from 'lodash/cloneDeep'

  export default {
    props: {
      value: {type: Array, required: true}
    },
    data: () => ({
      users: [],
      selected_users: [],
      total: 0,
      pagination: {
        page: 1,
        per_page: 10
      },
      search_text: '',
      processes: {
        list: {
          in_progress: false,
          no_data: false
        },
        create_user: {
          in_progress: false
        }
      },
    }),
    created () {
      this.selected_users = cloneDeep(this.value)
    },
    watch: {
      'search_text' (val) {
        if (!val) return
        this.list()
      }
    },
    methods: {
      async create_user () {
        let process = this.processes.create_user
        if (process.in_progress) return

        let email = this.search_text

        if (!this.common_data.email_regex.test(email)) {
          window.alert(email)
          return
        }

        process.in_progress = true

        let payload = {
          email: email
        }

        const response = await this.$services.user.create(payload)
        if (response.status === 200) {
          // success
          this.selected_users.push(response.data)
          this.processes.list.no_data = false
        } else {

        }
        process.in_progress = false
      },
      get_selected_user_ids () {
        return this.selected_users.map(u => u.id)
      },
      handle_input_changed (val) {
        this.search_text = ''
        this.selected_users = val.filter(v => typeof v === 'object')
      },
      reset () {
        this.selected_users = cloneDeep(this.value)
      },
      remove (user) {
        const index = this.selected_users.findIndex(u => u.id === user.id)
        if (index < 0) return
        this.selected_users.splice(index, 1)
      },
      list: debounce(async function () {
        let process = this.processes.list
        if (process.in_progress) return
        process.in_progress = true
        process.no_data = false
        let payload = {
          ...this.pagination,
          search_text: this.search_text
        }
        const response = await this.$services.user.list(payload)
        if (response.status === 200) {
          this.users = response.data.result
          this.total = response.data.total
          if (!this.total) process.no_data = true
        }
        process.in_progress = false
      }, 300)
    }
  }
</script>