<template>
  <v-layout column>
    <v-flex>
      <v-toolbar dense height="35" card
                 color="secondary" dark flat>
        <b>{{$trans.itinerary.public_it_list[locale]}}</b>
        <v-spacer/>
      </v-toolbar>
    </v-flex>
    <v-flex>
      <v-text-field height="30"
                    single-line class="pa-0 caption"
                    v-model="query.search_text"
                    @input="search"
                    prepend-inner-icon="search"
                    :placeholder="$trans.common.search[locale]"/>
    </v-flex>
    <v-flex>
      <template v-if="processes.list_itinerary.in_progress">
        <v-layout column>
          <v-flex text-xs-center>
            <v-progress-circular indeterminate/>
          </v-flex>
        </v-layout>
      </template>
      <template v-else>
        <template v-if="total > 0">
          <v-layout row wrap>
            <v-flex xs12
                    v-for="it in records" :key="it.id">
              <item :itinerary="it"
                    creator_showed/>
            </v-flex>
          </v-layout>
        </template>
        <template v-else>
          <v-layout colum>
            <v-flex text-xs-center>
              <div class="caption text--disabled">
                <template v-if="query.search_text">
                  <div>{{$trans.itinerary.no_fit_result[locale]}}:</div>
                  <div class="font-weight-bold">{{query.search_text}}</div>
                </template>
                <template v-else>
                  {{$trans.itinerary.has_no_it[locale]}}
                </template>
              </div>
            </v-flex>
          </v-layout>
        </template>
      </template>
    </v-flex>
  </v-layout>
</template>
<script>
  import Item from './item'
  import debounce from 'lodash/debounce'

  export default {
    components: {Item},
    data: () => ({
      records: [],
      total: 0,
      pagination: {
        page: 1,
        per_page: 4
      },
      query: {
        search_text: ''
      },
      processes: {
        list_itinerary: {
          in_progress: false
        }
      }
    }),

    created () {
      this.list_itinerary()
    },
    methods: {
      search: debounce(async function () {
        this.list_itinerary()
      }, 500),
      async list_itinerary () {
        let process = this.processes.list_itinerary
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          public_only: true,
          exclude_owner_ids: this.auth_user.id,
          ...this.query,
          ...this.pagination
        }
        const response = await this.$services.itinerary.list(payload)
        if (response.status === 200) {
          // success
          this.records = response.data.result
          this.total = response.data.total
        }
        process.in_progress = false
      }
    }
  }
</script>