<template>
  <v-layout column wrap>
    <template v-if="is_mounted">
      <v-flex>
        <v-layout row wrap>
          <v-flex xs12 sm6>
            <v-text-field :id="`search-input-${uid}`"
                          :label="$trans.common.at[locale]"
                          ref="search_input" height="30"
                          :append-icon="selected_place.map_id ? 'clear' : 'place'"
                          @click:append="reset_place"
                          :placeholder="selected_place.name"
                          hide-details
                          type="text">
            </v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
            <v-menu
              ref="time_menu"
              :close-on-content-click="false"
              lazy full-width
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field color="secondary" readonly
                              hide-details height="30"
                              v-on="on"
                              :value="event[time_field]"
                              append-icon="access_time"
                              placeholder="00:00"
                              :label="$trans.common.when[locale]"/>
              </template>
              <v-time-picker full-width ref="time_picker"
                             v-model="event[time_field]"
                             @change="$refs.time_menu.save()"
                             format="24hr">
              </v-time-picker>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex>
        <div :id="`google-map-${uid}`" :style="{height: `${height}px`}"></div>
      </v-flex>
    </template>
    <template v-else>
      <v-flex text-xs-center>
        <v-progress-circular indeterminate color="secondary"/>
      </v-flex>
    </template>
  </v-layout>
</template>
<script>
  import cloneDeep from 'lodash/cloneDeep'
  import {mapState} from 'vuex'

  const INIT_PLACE = {
    id: null,
    map_id: null,
    coordinates: {},
    viewport: null,
    name: ' ',
    address: '',
    website: '',
    map_url: '',
    phone: '',
    images: [],
    place_types: [],
    address_components: []
  }

  const PLACE_FIELDS = [
    'name', 'formatted_address', 'place_id', 'url', 'photos', 'types',
    'geometry', 'address_components', 'website', 'international_phone_number'
  ]

  const DEFAULT_COORDINATES = {lat: 12.2387911, lng: 109.19674880000002} // Nha Trang City

  export default {
    props: {
      uid: {type: String, required: true},
      height: {type: Number, default: 400},
      relevant_places: {type: Array, default: () => ([])},
      event: {type: Object, required: true},
      time_field: {type: String, required: true},
      place_field: {type: String, required: true}
    },
    async mounted () {

      if (this.event[this.place_field + '_id']) {
        await this.get_place()
      }

      let init_interval = setInterval(() => {
        if (this.$google_map) {
          clearInterval(init_interval)
          this.is_mounted = true
          setTimeout(() => {
            this.init_map()
          }, 300)
        }
      }, 300)
    },
    data: () => ({
      is_mounted: false,
      resetting_place: false,
      selected_place: cloneDeep(INIT_PLACE),
      map: null,
      marker: null,
      search_input: null,
      place_service: null,
      no_image: require('@/assets/no_image.png'),
      processes: {
        add_place: {
          in_progress: false
        },
        get_place: {
          in_progress: false
        }
      }
    }),
    watch: {
      'selected_place.map_id' () {
        if (this.$refs.search_input) this.$refs.search_input.reset()
        if (!this.map) return
        this.event[this.place_field] = cloneDeep(this.selected_place)
        this.event[`${this.place_field}_id`] = this.selected_place.id
      }
    },
    computed: {
      ...mapState('Device', {
        current_location: 'current_location'
      })
    },
    methods: {
      reset_place () {
        if (this.marker) {
          this.marker.setMap(null)
          this.marker = null
        }
        this.selected_place = cloneDeep(INIT_PLACE)
        this.event[this.place_field] = null
        this.event[`${this.place_field}_id`] = null
        this.$emit('place_reset')
      },
      async get_place () {
        let process = this.processes.get_place
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          id: this.event[this.place_field + '_id']
        }
        const response = await this.$services.place.get(payload)
        if (response.status === 200) {
          this.selected_place = response.data
        }
        process.in_progress = false
      },
      async add_place (place_data) {
        let processes = this.processes.add_place
        if (processes.in_progress) return
        processes.in_progress = true
        const response = await this.$services.place.create(place_data)
        if (response.status === 200) {
          this.selected_place = response.data
        }
        processes.in_progress = false
      },
      fit_to_relevant_location () {
        if (this.relevant_places.length) {
          if (this.relevant_places.length > 1) {
            let bounds = new this.$google_map.LatLngBounds()
            this.relevant_places.forEach(p => {
              bounds.extend(p.coordinates)
            })
            this.map.fitBounds(bounds)
          } else {
            this.map.panTo(this.relevant_places[0].coordinates)
          }
          return
        }

        let coordinates = DEFAULT_COORDINATES
        if (this.current_location) {
          coordinates = {
            lat: this.current_location.coords.latitude,
            lng: this.current_location.coords.longitude
          }
        }
        this.map.setCenter(coordinates)
      },
      point_to_place () {
        this.map.panTo(this.selected_place.coordinates)
      },
      create_marker () {
        if (this.marker) this.marker.setMap(null)

        this.marker = new this.$google_map.Marker({
          position: this.selected_place.coordinates,
          map: this.map,
          title: this.selected_place.name
        })

        // window info
        let window_header = this.selected_place.name
        let window_body_lines = []
        if (this.selected_place.address) window_body_lines = this.selected_place.address.split(',')
        let info_window = new this.$google_map.InfoWindow({
          content: this.create_info_window_content(window_header, window_body_lines),
          maxWidth: 200
        })
        this.marker.addListener('click', () => {
          info_window.open(this.map, this.marker)
        })
      },
      create_info_window_content (header, body_lines) {

        let content = document.createElement('div')
        content.setAttribute('id', 'content')

        let site_notice = document.createElement('div')
        site_notice.setAttribute('id', 'siteNotice')
        content.appendChild(site_notice)

        let first_heading = document.createElement('h2')
        first_heading.setAttribute('id', 'firstHeading')
        first_heading.setAttribute('class', 'firstHeading')
        first_heading.innerHTML = header
        content.appendChild(first_heading)

        if (body_lines.length > 0) {
          let body = document.createElement('div')
          body.setAttribute('id', 'bodyContent')
          body_lines.forEach(l => {
            let line = document.createElement('p')
            line.innerHTML = l
            body.appendChild(line)
          })
          content.appendChild(body)
        }

        return content.outerHTML
      },
      collect_place_data (data) {
        let result = cloneDeep(INIT_PLACE)
        if (data.photos) {
          data.photos.forEach(p => {
            result.images.push(p.getUrl())
          })
        }
        if (data.geometry.viewport) result.viewport = data.geometry.viewport
        result.map_id = data.place_id
        result.name = data.name
        result.website = data.website
        result.map_url = data.url
        result.phone = data.international_phone_number
        result.coordinates = {
          lat: data.geometry.location.lat(),
          lng: data.geometry.location.lng(),
        }
        result.address_components = data.address_components
        result.address = data.formatted_address
        result.place_types = data.types
        return result
      },
      async handle_input_search () {
        let place_data = this.search_input.getPlace()
        if (!place_data.geometry) {
          window.alert(`No details available for input: ${place_data.name}`)
          return
        }
        // get place data
        let handled_data = this.collect_place_data(place_data)
        await this.add_place(handled_data)

        // create marker
        this.create_marker()

        // present new place on a map.
        this.point_to_place()
      },
      handle_map_click (event) {
        event.stop()
        if (!event.placeId) return
        let request = {
          placeId: event.placeId,
          fields: PLACE_FIELDS
        }
        this.place_service.getDetails(request, async (place_data, status) => {
          if (status === this.$google_map.places.PlacesServiceStatus.OK) {
            // get place data
            let handled_data = this.collect_place_data(place_data)
            await this.add_place(handled_data)

            // create marker
            this.create_marker()

            this.point_to_place()
          }
        })
      },
      init_map () {
        // init map
        let map_el = document.getElementById(`google-map-${this.uid}`)
        // map_el.style.height = `${map_el.offsetParent.offsetHeight}px`
        this.map = new this.$google_map.Map(
          map_el,
          {
            zoom: 13,
            center: DEFAULT_COORDINATES,
            mapTypeControl: false
          },
        )
        if (this.selected_place.id) {
          this.map.setCenter(this.selected_place.coordinates)
          this.create_marker()
          this.point_to_place()
        } else {
          this.fit_to_relevant_location()
        }

        // place service
        this.place_service = new this.$google_map.places.PlacesService(this.map)

        // handle click event
        this.map.addListener('click', this.handle_map_click)

        // init search box
        let search_input_el = document.getElementById(`search-input-${this.uid}`)
        this.search_input = new this.$google_map.places.Autocomplete(search_input_el)
        this.search_input.setFields(PLACE_FIELDS)
        this.search_input.bindTo('bounds', this.map)
        this.search_input.addListener('place_changed', this.handle_input_search)
      }
    }
  }
</script>

