<template>
  <v-container fluid grid-list-md
               ref="list"
               style="max-height: 400px; overflow-y: auto"
               class="pa-2">
    <v-layout column>
      <template v-if="processes.list_comment.in_progress"></template>
      <template v-else>
        <template v-if="total > 0">
          <v-flex v-for="comment in comments"
                  :key="comment.id">
            <item :comment="comment"
                  has_reply
                  :spot_data="$attrs.spot_data"
                  :object_id="object_id"
                  :object_type="object_type"/>
          </v-flex>
        </template>
        <template v-else>
          <v-flex text-xs-center>
            <div class="caption text--disabled">Chưa có bình luận</div>
          </v-flex>
        </template>
      </template>
    </v-layout>
  </v-container>
</template>
<script>
  import Item from './item'
  import debounce from 'lodash/debounce'

  export default {
    name: 'CommentList',
    components: {Item},
    props: {
      object_id: {type: String, required: true},
      object_type: {type: String, required: true},
    },
    data: () => ({
      processes: {
        list_comment: {
          in_progress: false
        },
        load_more: {
          in_progress: false
        }
      },
      comments: [],
      pagination: {
        page: 1,
        per_page: 10,
        sort_by: ['-created_at']
      },
      total: 0,
      new_comment: null
    }),
    created () {
      this.handle_spot_content()
      this.list_comment()
    },
    mounted () {
      let comment_list_el = this.$refs.list
      comment_list_el.addEventListener('scroll', event => {
        this.handle_bottom_list_reached(comment_list_el)
      })
    },
    methods: {
      add_comment (comment) {
        this.comments.unshift(comment)
        this.total++
      },
      handle_spot_content () {
        let spot_data = this.$attrs.spot_data
        if (spot_data && spot_data.type === 'comment') {
          let object_type = spot_data.object_type
          let object_id = spot_data.object_id
          if (object_type === this.object_type && object_id === this.object_id) {
            if (spot_data.parent_id) {
              this.pagination.sort_by.unshift(`-id==${spot_data.parent_id}`)
            } else {
              this.pagination.sort_by.unshift(`-id==${spot_data.comment_id}`)
            }
          }
        }
      },
      handle_bottom_list_reached: debounce(function (list_el) {
        let gap = list_el.scrollHeight - list_el.scrollTop - list_el.clientHeight
        let reached_bottom = gap <= list_el.scrollHeight / 20
        if (!reached_bottom) return
        if (this.pagination.page * this.pagination.per_page < this.total) {
          this.load_more()
        }
      }, 100),
      async list_comment () {
        let process = this.processes.list_comment
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          object_type: this.object_type,
          object_id: this.object_id,
          page: this.pagination.page,
          per_page: this.pagination.per_page,
          sort_by: this.pagination.sort_by.join(',')
        }
        const response = await this.$services.comment.list(payload)
        process.in_progress = false
        if (response.status === 200) {
          this.comments = response.data.result
          this.total = response.data.total
        }
      },
      async load_more () {
        let process = this.processes.load_more
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          object_type: this.object_type,
          object_id: this.object_id,
          page: this.pagination.page + 1,
          per_page: this.pagination.per_page,
          sort_by: this.pagination.sort_by.join(',')
        }
        const response = await this.$services.comment.list(payload)
        if (response.status === 200) {
          this.comments = this.comments.concat(response.data.result)
          this.total = response.data.total
          this.pagination.page++
        }
        process.in_progress = false
      }
    }
  }
</script>
