<template>
  <v-layout column>
    <v-flex>
      <div class="black--text caption font-weight-medium"
           @click="$refs.file_input.click()"
           style="cursor: pointer;display: inline-flex; align-items: center">
        <template v-if="upload_state.in_progress.length > 0">
          <v-progress-circular size="12" width="2" indeterminate class="mr-1"/>
          <span class="mr-2">{{upload_progress}}</span>
        </template>
        <template v-else>
          <v-icon small class="mr-1 black--text">cloud_upload</v-icon>
          <span class="mr-2">{{$trans.common.attachment[locale]}}</span>
        </template>
        <template v-if="attachments.length >= common_data.max_attachment_count">
        <span
          class="font-italic caption error--text">( {{$trans.common.maximum[locale]}}: {{common_data.max_attachment_count}} files )</span>
        </template>
        <template v-else>
          <span class="font-italic text--disabled caption">( {{$trans.common.maximum[locale]}}: {{common_data.max_attachment_count}} files )</span>
        </template>
      </div>
    </v-flex>
    <v-flex v-if="upload_state.fail.length > 0">
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-chip small outline
                  v-on="on" class="ma-0"
                  color="error">
            <v-icon color="error" left>error</v-icon>
            <span>{{$trans.itinerary.error_file[locale]}}: {{upload_state.fail.length}}</span>
          </v-chip>
        </template>
        <v-list dense subheader>
          <v-list-tile v-for="(p, i) in upload_state.fail" :key="i">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ p.file_name }}
              </v-list-tile-title>
              <v-list-tile-sub-title class="error--text">
                {{ $trans.storage.errors[p.error][locale] }}
              </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-flex>
    <v-flex v-if="attachments.length > 0">
      <v-layout row wrap>
        <v-flex xs12 sm12 md6
                v-for="att in attachments"
                :key="att.id">
          <attachment @removed="handle_file_removed"
                      mode="edit"
                      :attachment="att"/>
        </v-flex>
      </v-layout>
    </v-flex>
    <input style="display: none"
           ref="file_input"
           @change="handle_file_upload"
           type="file" multiple/>
  </v-layout>
</template>
<script>
  import Attachment from '../attachment'

  export default {
    components: {Attachment},
    props: {
      event: {type: Object, required: true},
      attachments: {type: Array, required: true},
    },
    data: () => ({
      processes: {
        upload: {
          in_progress: []
        }
      }
    }),
    computed: {
      upload_state () {
        let upload_process = this.processes.upload.in_progress
        return {
          in_progress: upload_process.filter(p => p.status === 0),
          success: upload_process.filter(p => p.status === 200),
          fail: upload_process.filter(p => ![200, 0].includes(p.status)),
          total: upload_process.length
        }
      },
      upload_progress () {
        let total = this.upload_state.total
        let in_progress = this.upload_state.in_progress.length
        return `${total - in_progress}/${total}`
      }
    },
    methods: {
      handle_file_removed (file_id) {
        const index = this.attachments.findIndex(i => i.id === file_id)
        if (index < 0) return
        this.attachments.splice(index, 1)
      },
      handle_file_upload ($e) {
        let available_file_amount = this.common_data.max_attachment_count - this.attachments.length
        if (available_file_amount <= 0) return

        if (this.upload_state.in_progress.length > 0) return

        let process = this.processes.upload

        // clear processes
        process.in_progress = []

        let files = $e.target.files

        const service = this.$services.attachment

        const handle_upload = async (file, proc) => {
          let payload = new FormData()
          payload.append('file', file)
          payload.append('object_id', this.event.id)
          payload.append('object_type', 'event')
          const response = await service.create(payload)
          proc.status = response.status
          if (response.status === 200) {
            // success
            this.attachments.push(response.data)
          } else {
            // error
            proc.error = response.data.error_code
          }
        }

        let files_length = files.length > available_file_amount ? available_file_amount : files.length

        for (let i = 0; i < files_length; i++) {
          let file = files[i]
          let p = {
            timestamp: new Date().getTime().toString(),
            file_name: file.name,
            status: 0,
            error: null
          }
          process.in_progress.push(p)
          handle_upload(file, p)
        }
      }
    }
  }
</script>