<template>
  <div :style="{height: `${height}px`}">
    <template v-if="is_mounted">
      <v-layout column fill-height>
        <v-flex text-xs-center style="height: 100%; position: relative">
          <div :id="`map-view-${day_id}`"></div>
        </v-flex>
      </v-layout>
    </template>
    <template v-else>
      <v-layout column
                fill-height align-center>
        <v-flex text-xs-center>
          <v-progress-circular indeterminate color="secondary"/>
        </v-flex>
      </v-layout>
    </template>
  </div>
</template>
<script>
  export default {
    props: {
      day_id: {type: String, required: true},
      height: {type: Number, default: 400},
      places: {type: Array, required: true}
    },
    mounted () {
      let init_interval = setInterval(() => {
        if (this.$google_map) {
          clearInterval(init_interval)
          this.is_mounted = true
          setTimeout(() => {
            this.init()
          }, 300)
        }
      }, 300)
    },
    data: () => ({
      is_mounted: false,
      map: null,
      markers: [],
      place_service: null,
      direction_service: null,
      direction_display: null,
      travel_modes: ['DRIVING', 'BICYCLING', 'TRANSIT', 'WALKING']
    }),
    computed: {},
    methods: {
      point_to_place (place) {
        // If the place has a geometry, then present it on a map.
        if (place.viewport) {
          this.map.fitBounds(place.viewport)
        } else {
          this.map.setCenter(place.coordinates)
          this.map.setZoom(10) // Why 10? Because it looks good.
        }
      },
      create_markers () {
        this.places.forEach(p => {
          let marker = new this.$google_map.Marker({
            position: p.coordinates,
            map: this.map,
            title: p.name
          })

          let window_header = p.name
          let window_body_lines = []
          if (p.address) window_body_lines = p.address.split(',')
          let info_window = new this.$google_map.InfoWindow({
            content: this.create_info_window_content(window_header, window_body_lines),
            maxWidth: 200
          })
          marker.addListener('click', () => {
            info_window.open(this.map, marker)
          })
          this.markers.push(marker)
        })
      },
      center_map_to_markers () {
        let bounds = new this.$google_map.LatLngBounds()
        this.markers.forEach(m => {
          bounds.extend(m.position)
        })
        this.map.fitBounds(bounds)
      },
      create_info_window_content (header, body_lines) {

        let content = document.createElement('div')
        content.setAttribute('id', 'content')

        let site_notice = document.createElement('div')
        site_notice.setAttribute('id', 'siteNotice')
        content.appendChild(site_notice)

        let first_heading = document.createElement('h2')
        first_heading.setAttribute('id', 'firstHeading')
        first_heading.setAttribute('class', 'firstHeading')
        first_heading.innerHTML = header
        content.appendChild(first_heading)

        if (body_lines.length > 0) {
          let body = document.createElement('div')
          body.setAttribute('id', 'bodyContent')
          body_lines.forEach(l => {
            let line = document.createElement('p')
            line.innerHTML = l
            body.appendChild(line)
          })
          content.appendChild(body)
        }

        return content.outerHTML
      },
      collect_place_data (data) {
        if (data.geometry.viewport) this.selected_place.viewport = data.geometry.viewport
        this.selected_place.map_id = data.place_id
        this.selected_place.name = data.name
        this.selected_place.coordinates = {
          lat: data.geometry.location.lat(),
          lng: data.geometry.location.lng(),
        }
        this.selected_place.address_components = data.address_components
        this.selected_place.address = data.formatted_address
      },
      create_direction () {
        let start_place = this.places[0]
        let end_place = this.places[this.places.length - 1]
        let way_points = this.places.filter(p => ![start_place.id, end_place.id].includes(p.id))
        // map way points coordinates to Latlng object
        way_points = way_points.map(w => Object.create({
          location: new this.$google_map.LatLng(w.coordinates.lat, w.coordinates.lng),
          stopover: true
        }))

        // call google direction route
        this.direction_service.route({
          origin: new this.$google_map.LatLng(start_place.coordinates.lat, start_place.coordinates.lng),
          destination: new this.$google_map.LatLng(end_place.coordinates.lat, end_place.coordinates.lng),
          waypoints: way_points,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, (response, status) => {
          if (status === 'OK') {
            this.direction_display.setDirections(response)
          } else {
            // if error just create markers
            this.create_markers()
            this.center_map_to_markers()
          }
        })
      },
      init () {
        // get services those we need
        this.direction_service = new this.$google_map.DirectionsService
        this.direction_display = new this.$google_map.DirectionsRenderer

        // get map DOM element
        let map_el = document.getElementById(`map-view-${this.day_id}`)
        map_el.style.height = `${map_el.offsetParent.offsetHeight}px`

        // get start and end place
        let start_place = this.places[0]
        let end_place = null
        if (this.places.length > 1) end_place = this.places[this.places.length - 1]

        // init map
        this.map = new this.$google_map.Map(
          map_el,
          {zoom: 6, center: start_place.coordinates}
        )

        // get place service
        this.place_service = new this.$google_map.places.PlacesService(this.map)

        this.direction_display.setMap(this.map)

        // if end_place exists, we make a direction through places
        if (end_place) {
          this.create_direction()
        }
        // if there's only start_place, we make marker and point to it
        else {
          this.create_markers()
          this.point_to_place(start_place)
        }
      }
    }
  }
</script>
