<template>
  <v-badge
    overlap left
    color="error"
  >
    <template v-slot:badge>
      <span style="font-size: 10px"
            v-if="unseen_count > 0">{{unseen_count}}</span>
    </template>
    <template v-if="['xs', 'sm'].includes(screen_size)">
      <v-dialog fullscreen persistent
                v-model="list_showed">
        <template v-slot:activator="{on}">
          <v-btn icon small v-on="on"
                 @click="show_list">
            <v-icon>notifications</v-icon>
          </v-btn>
        </template>
        <notification-list ref="notification_list"
                           @notification_clicked="list_showed = false"
                           @got_list="unseen_count = 0"/>
        <v-btn small fab
               fixed bottom left
               @click="list_showed = false"
               color="secondary">
          <v-icon>keyboard_return</v-icon>
        </v-btn>
      </v-dialog>
    </template>
    <template v-else>
      <v-menu offset-y left
              ref="notification_menu"
              v-model="list_showed"
              :close-on-content-click="false">
        <template v-slot:activator="{on}">
          <v-btn icon small v-on="on"
                 @click="show_list">
            <v-icon>notifications</v-icon>
          </v-btn>
        </template>
        <div :style="{width: `${max_list_width}px`}">
          <notification-list ref="notification_list"
                             @notification_clicked="list_showed = false"
                             @got_list="unseen_count = 0"/>
        </div>
      </v-menu>
    </template>
  </v-badge>
</template>
<script>
  import NotificationList from '../list'
  import {mapState} from 'vuex'

  export default {
    components: {NotificationList},
    data: () => ({
      processes: {
        count_unseen: {
          in_progress: false
        }
      },
      unseen_count: 0,
      max_list_width: 450,
      list_showed: false
    }),
    created () {
      this.count_unseen()
    },
    watch: {
      'app_is_background' (val) {
        if (!val) this.count_unseen()
      }
    },
    computed: {
      ...mapState('Device', {
        app_is_background: 'background',
        screen_width: 'width',
        screen_size: 'screen_size'
      })
    },
    methods: {
      show_list () {
        if (this.list_showed) return
        this.list_showed = true
        this.$refs.notification_list.list()
      },
      async count_unseen () {
        let process = this.processes.count_unseen
        if (process.in_progress) return
        process.in_progress = true
        const response = await this.$services.notification.count_unseen()
        if (response.status === 200) {
          this.unseen_count = response.data.result
        }
        process.in_progress = false
      }
    }
  }
</script>