<template>
  <div class="pa-2" :style="style">
    <span class="mr-2 text--primary font-weight-bold">{{comment.creator.name}}</span>
    <span style="word-break: break-word">{{comment.content}}</span>
    <template v-if="comment.attachment_type">
      <template v-if="comment.attachment_type === 'place'">
        <div style="max-width: 300px">
          <place :place="comment.attachment.place"/>
        </div>
      </template>
      <template v-else-if="comment.attachment_type === 'image'">
        <div style="max-height: 300px; position: relative">
          <img
            style="max-height: 300px"
            :src="comment.attachment.url"/>
        </div>
      </template>
    </template>
  </div>
</template>
<script>
  import Place from '../attachment/place'

  const DEFAULT_BACKGROUND_COLOR = '#f2f3f5'
  const SPOT_COLOR = '#f5e9e1'
  export default {
    components: {Place},
    props: {
      comment: {type: Object, required: true},
      spot_at_mounted: {type: Boolean, default: false},
    },
    data: () => ({
      style: {
        'border-radius': '10px',
        'background-color': DEFAULT_BACKGROUND_COLOR
      }
    }),
    mounted () {
      if (this.spot_at_mounted) this.spot()
    },
    methods: {
      spot () {
        this.style['background-color'] = SPOT_COLOR
        setTimeout(() => {
          this.style['background-color'] = DEFAULT_BACKGROUND_COLOR
        }, 5000)
      }
    }
  }
</script>