<template>
  <v-app>
    <v-content class="grey lighten-3">
      <v-container fill-height grid-list-md>
        <v-layout fill-height row align-center justify-center>
          <v-flex text-xs-center xs12 sm6 md4>
            <template v-if="confirming">
              <v-progress-circular indeterminate/>
            </template>
            <template v-else>
              <template v-if="error">
                <template v-if="error === 'GroupNotFound'">
                  <v-card-text>
                    <v-layout column>
                      <v-flex>
                        <v-icon size="100">sentiment_dissatisfied</v-icon>
                      </v-flex>
                      <v-flex>
                        <v-divider/>
                      </v-flex>
                      <v-flex>
                        <span class="text--secondary">
                          Không tìm thấy nhóm hoặc đã bị xóa
                        </span>
                      </v-flex>
                      <v-flex>
                        <v-btn small flat class="ma-0"
                               @click="$router.push('/app/cp/group')"
                               color="primary">
                          <span>Danh sách nhóm</span>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </template>
              </template>
            </template>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>

  export default {
    data: () => ({
      group_id: null,
      confirming: true,
      error: null,
      group: {}
    }),
    created () {
      this.group_id = this.$route.params.id
      this.confirm()
    },
    methods: {
      sign_out () {
        this.$store.commit('User/signed_out')
        this.$router.push({
          path: '/auth',
          query: {
            callback: this.$route.fullPath
          }
        })
      },
      async confirm () {
        const response = await this.$services.group.confirm_invitation(this.group_id)
        if (response.status === 200) {
          this.group = response.data
          this.$router.push('/app/cp/itinerary?tab_id=planning')
        } else {
          this.error = 'GroupNotFound'
        }
        this.confirming = false
      }
    }
  }
</script>