<template>
  <v-app v-resize="handle_screen_resized">
    <v-toolbar app flat>
      <img :src="logo"
           style="cursor: pointer"
           @click="$router.push('/')"
           height="80%"/>
      <v-spacer/>
      <v-btn small to="/auth"
             style="text-transform: none"
             flat :color="theme.color">
        <span>{{$trans.common.sign_in[locale]}}</span>
      </v-btn>
      <v-menu offset-y left>
        <template v-slot:activator="{on}">
          <img v-on="on" style="cursor: pointer"
               width="25px"
               :src="current_locale.logo"/>
        </template>
        <v-list dense class="pa-0" subheader>
          <v-list-tile v-for="l in common_data.locales"
                       @click="$store.commit('Device/locale', l.id)"
                       :key="l.id">
            <img width="25px" :src="l.logo"/>
          </v-list-tile>
        </v-list>
      </v-menu>

    </v-toolbar>
    <v-content>
      <section>
        <v-img :src="landing" min-height="100vh">
          <div style="top: 0; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,0.3); position: absolute">
            <v-container grid-list-md fill-height>
              <v-layout fill-height align-center class="white--text">
                <v-flex xs12 md6>
                  <v-layout column>
                    <v-flex>
                      <div class="display-2">{{$trans.landing.text_1[locale]}}</div>
                    </v-flex>
                    <v-flex>
                      <v-divider color="white"/>
                    </v-flex>
                    <v-flex>
                      <div class="subheading">{{$trans.landing.text_2[locale]}}
                      </div>
                    </v-flex>
                    <v-flex>
                      <v-btn class="ma-0 white--text"
                             to="/auth"
                             :color="theme.color">
                        {{$trans.landing.start_now[locale]}}
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-container>
          </div>
        </v-img>
      </section>
      <section style="position: relative">
        <v-card style="margin-top: -64px; max-width: 94%; border-radius: 6px"
                class="mx-auto elevation-24">
          <v-container grid-list-md>
            <v-layout column justify-center>
              <v-flex text-xs-center>
                <div class="mt-5 mb-5 display-2 font-weight-bold">
                  {{$trans.landing.text_3[locale]}}
                </div>
              </v-flex>
              <v-flex>
                <v-layout row wrap>
                  <v-flex xs12 sm12 md4 v-for="step in steps"
                          :key="step.id">
                    <v-card-text>
                      <div class="text-xs-center mb-4">
                        <v-icon size="40"
                                :color="step.color">{{step.icon}}
                        </v-icon>
                      </div>
                      <div class="text-xs-center title mb-4">
                        {{$trans.landing.step_titles[step.id][locale]}}
                      </div>
                      <div>{{$trans.landing.steps[step.id][locale]}}</div>
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex text-xs-center>
                <v-btn :color="theme.color"
                       to="/auth"
                       class="ma-0 mt-5 white--text">
                  <span>{{$trans.landing.create_it_now[locale]}}</span>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </section>
      <section>
        <v-container grid-list-md>
          <v-layout column>
            <v-flex text-xs-center>
              <div>©2019 - Tripary</div>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <!--            <v-container fluid class="pa-0">-->
      <!--        <v-layout column>-->
      <!--          <v-flex>-->
      <!--            <v-parallax height="500" :src="landing_1">-->
      <!--              <v-layout align-center row wrap justify-center-->
      <!--                        style="background: rgba(0,0,0,0.3); margin: 0 -1rem">-->
      <!--                <v-flex xs12 sm6 md4 text-xs-center>-->
      <!--                  <div class="mb-3">-->
      <!--                    <v-avatar size="120">-->
      <!--                      <v-icon size="120" color="white">card_travel</v-icon>-->
      <!--                    </v-avatar>-->
      <!--                  </div>-->
      <!--                  <div class="title font-weight-bold mb-2">Đi cùng bạn, đi muôn nơi</div>-->
      <!--                  <div class="font-weight-bold">Nơi các nhóm du lịch có thể lên kế hoạch, cùng bàn luận và chọn cho mình-->
      <!--                    những địa điểm thú vị nhất để trải nghiệm-->
      <!--                  </div>-->
      <!--                  <div>-->
      <!--                    <v-btn small :color="theme.color"-->
      <!--                           dark to="/auth"-->
      <!--                           depressed>-->
      <!--                      <span>Lên kế hoạch ngay</span>-->
      <!--                    </v-btn>-->
      <!--                  </div>-->
      <!--                </v-flex>-->
      <!--              </v-layout>-->
      <!--            </v-parallax>-->
      <!--          </v-flex>-->
      <!--          <v-flex>-->
      <!--            <v-container grid-list-xl>-->
      <!--              <v-layout row wrap>-->
      <!--                <v-flex xs12 sm12 md4 v-for="step in steps"-->
      <!--                        :key="step.id">-->
      <!--                  <v-card-text>-->
      <!--                    <div class="text-xs-center mb-4">-->
      <!--                      <v-icon size="40"-->
      <!--                              :color="theme.color">{{step.icon}}-->
      <!--                      </v-icon>-->
      <!--                    </div>-->
      <!--                    <div class="text-xs-center title mb-4">-->
      <!--                      {{step.title}}-->
      <!--                    </div>-->
      <!--                    <div>{{step.text}}</div>-->
      <!--                  </v-card-text>-->
      <!--                </v-flex>-->
      <!--              </v-layout>-->
      <!--            </v-container>-->
      <!--          </v-flex>-->
      <!--          <v-flex>-->
      <!--            <v-parallax height="350" :src="landing_2">-->
      <!--              <v-layout align-center row wrap justify-center>-->
      <!--                <v-flex xs12 sm6 md4 text-xs-center>-->
      <!--                  <div class="title font-weight-bold mb-2">Chưa bao giờ lên kế hoạch lại dễ dàng đến thế</div>-->
      <!--                  <div>-->
      <!--                    <v-btn small :color="theme.color"-->
      <!--                           dark to="/auth"-->
      <!--                           depressed>-->
      <!--                      <span>Bắt đầu ngay</span>-->
      <!--                    </v-btn>-->
      <!--                  </div>-->
      <!--                </v-flex>-->
      <!--              </v-layout>-->
      <!--            </v-parallax>-->
      <!--          </v-flex>-->
      <!--          <v-flex class="grey lighten-2">-->
      <!--            <v-container grid-list-xl fluid>-->
      <!--              <template v-if="processes.list_itinerary.in_progress">-->
      <!--                <v-layout column>-->
      <!--                  <v-flex text-xs-center>-->
      <!--                    <v-progress-circular :color="theme.color" indeterminate/>-->
      <!--                  </v-flex>-->
      <!--                </v-layout>-->
      <!--              </template>-->
      <!--              <template v-else>-->
      <!--                <v-layout row wrap>-->
      <!--                  <v-flex xs12 md4 v-for="it in itineraries" :key="it.id">-->
      <!--                    <v-img :src="it.default_image ? it.default_image.url : no_image"-->
      <!--                           :aspect-ratio="7/4">-->
      <!--                      <template v-slot:placeholder>-->
      <!--                        <v-layout fill-height align-center justify-center ma-0>-->
      <!--                          <v-progress-circular indeterminate color="grey"/>-->
      <!--                        </v-layout>-->
      <!--                      </template>-->
      <!--                      <v-layout fill-height wrap ma-0-->
      <!--                                style="background: rgba(0,0,0,0.3)">-->
      <!--                        <v-flex xs12>-->
      <!--                          <div class="title font-weight-bold">-->
      <!--                            <span class="white&#45;&#45;text">{{it.name}}</span>-->
      <!--                          </div>-->
      <!--                          <div class="caption white&#45;&#45;text">-->
      <!--                            <span>{{it.start_date}} - {{it.day_count}} ngày</span>-->
      <!--                          </div>-->
      <!--                        </v-flex>-->
      <!--                        <v-flex align-self-end>-->
      <!--                          <v-chip label small-->
      <!--                                  dark @click="$router.push(`/app/view/itinerary/${it.id}`)"-->
      <!--                                  :color="theme.color">-->
      <!--                            <span>Xem</span>-->
      <!--                          </v-chip>-->
      <!--                        </v-flex>-->
      <!--                      </v-layout>-->
      <!--                    </v-img>-->
      <!--                  </v-flex>-->
      <!--                  <v-flex xs12 text-xs-center>-->
      <!--                    <v-btn small-->
      <!--                           depressed to="/auth"-->
      <!--                           :color="theme.color" dark>-->
      <!--                      <span>Tạo lịch trình ngay</span>-->
      <!--                    </v-btn>-->
      <!--                  </v-flex>-->
      <!--                </v-layout>-->
      <!--              </template>-->
      <!--            </v-container>-->
      <!--          </v-flex>-->
      <!--          <v-flex>-->
      <!--            <landing-footer :theme="theme"/>-->
      <!--          </v-flex>-->
      <!--        </v-layout>-->
      <!--      </v-container>-->

    </v-content>
  </v-app>
</template>
<script>
  export default {
    data () {
      return {
        logo: require('@/assets/logo.png'),
        landing: require('@/assets/landing.jpg'),
        theme: {
          color: 'orange'
        },
        steps: [
          {
            id: 'planning',
            icon: 'event',
            color: 'indigo',
          },
          {
            id: 'ongoing',
            icon: 'flight',
            color: 'success',
          },
          {
            id: 'sharing',
            color: 'error',
            icon: 'share',
          }
        ]
      }
    },
    created () {
      if (this.access_token) {
        return this.$router.push('/app/cp')
      }
    },
    mounted () {
      this.get_current_location()
    },
    computed: {
      current_locale () {
        return this.common_data.locales.find(l => l.id === this.locale)
      }
    },
    methods: {
      handle_screen_resized () {
        let width = window.innerWidth
        let height = window.innerHeight
        let size = this.common_utils.get_window_size(width)
        this.$store.commit('Device/screen_resized', {width, height, size})
      },
      get_current_location () {
        if (!navigator.geolocation) return
        navigator.geolocation.getCurrentPosition(position => {
          this.$store.commit('Device/current_location', position)
        }, error => {
          console.log('Cannot get current location', error)
        }, {timeout: 10000})
      }
    }
  }
</script>
