<template>
  <div>
    <router-view/>
    <notifications position="bottom right"/>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>
<style>
  /*::-webkit-scrollbar-track {*/
  /*  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  /*  border-radius: 10px;*/
  /*  background-color: #F5F5F5;*/
  /*}*/

  /*::-webkit-scrollbar {*/
  /*  width: 8px;*/
  /*  background-color: #F5F5F5;*/
  /*}*/

  /*::-webkit-scrollbar-thumb {*/
  /*  border-radius: 10px;*/
  /*  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
  /*  background-color: #89898c;*/
  /*}*/
</style>
