<template>
  <v-layout column>
    <v-flex>
      <v-toolbar dense dark color="secondary" height="35" flat>
        <v-toolbar-side-icon>
          <v-icon @click="$emit('hide_summary_request')">keyboard_return</v-icon>
        </v-toolbar-side-icon>
        <span>{{`${$trans.common.day[locale]} ${day_order + 1} - ${day_date}`}}</span>
      </v-toolbar>
    </v-flex>
    <v-flex>
      <v-timeline dense clipped align-top class="ma-0 pa-0">
        <item v-for="event in events"
              @event_selected="event_id => $emit('event_selected', event_id)"
              :key="event.id" :event="event"/>
      </v-timeline>
    </v-flex>
  </v-layout>
</template>
<script>
  import Item from './item'
  export default {
    components: {Item},
    props: {
      day: {type: Object, required: true},
      events: {type: Array, required: true},
      day_order: {type: Number, required: true},
      day_date: {type: String, required: true},
    }
  }
</script>