<template>
  <v-timeline-item
    :color="event.category.color"
    class="pa-0 mb-2"
    small fill-dot>
    <template v-slot:icon>
      <v-btn small icon @click="$emit('event_selected', event.id)">
        <v-icon small
                class="white--text">{{event.category.icon}}
        </v-icon>
      </v-btn>
    </template>
    <div style="margin-top: 15px; margin-left: -25px">
      <template v-if="event.category.code === 'travel'">
        <div :class="`${event.category.color}--text`"
             style="cursor: pointer; display: inline"
             @click="$emit('event_selected', event.id)"
             class="body-2">
          <span>{{$trans.event_sub_categories[event.sub_category.code][locale]}}</span>
        </div>
        <div class="caption">
          <span class="font-weight-bold">{{event.start_time}}</span>
          <span class="mx-1 text--secondary">{{$trans.common.departure[locale].toLowerCase()}}</span>
          <template v-if="event.start_place_id">
            <span class="text--secondary mr-1">{{$trans.common.at[locale].toLowerCase()}}</span>
            <v-menu offset-y lazy left
                    ref="start_place_detail_menu"
                    :close-on-content-click="false">
              <template v-slot:activator="{on}">
                    <span v-on="on"
                          style="cursor: pointer;"
                          class="blue--text">{{event.start_place.name}}</span>
              </template>
              <v-card width="250">
                <v-toolbar dense flat height="30">
                  <v-spacer/>
                  <v-icon style="margin-right: -10px"
                          @click="$refs.start_place_detail_menu.save()">clear
                  </v-icon>
                </v-toolbar>
                <div class="pa-2">
                  <place-detail :value="event.start_place"
                                :uid="event.id"/>
                </div>
              </v-card>
            </v-menu>
          </template>
        </div>
        <div class="caption" v-if="event.end_place_id">
          <span class="font-weight-bold">{{event.end_time}}</span>
          <span class="mx-1 text--secondary">{{$trans.common.arrive[locale].toLowerCase()}}</span>
          <v-menu offset-y lazy left
                  ref="end_place_detail_menu"
                  :close-on-content-click="false">
            <template v-slot:activator="{on}">
                    <span v-on="on"
                          style="cursor: pointer;"
                          class="blue--text">{{event.end_place.name}}</span>
            </template>
            <v-card width="250">
              <v-toolbar dense flat height="30">
                <v-spacer/>
                <v-icon style="margin-right: -10px"
                        @click="$refs.end_place_detail_menu.save()">clear
                </v-icon>
              </v-toolbar>
              <div class="pa-2">
                <place-detail :value="event.end_place"
                              :uid="event.id"/>
              </div>
            </v-card>
          </v-menu>
        </div>
      </template>
      <template v-else>
        <div :class="`${event.category.color}--text`"
             @click="$emit('event_selected', event.id)"
             style="cursor: pointer; display: inline"
             class="body-2">
          <span>{{event.start_time}}</span>
          <span> - </span>
          <span>{{event.sub_category.name}}</span>
        </div>
        <div class="caption" v-if="event.start_place_id">
          <span class="mr-1 text--secondary">{{$trans.common.at[locale].toLowerCase()}}</span>
          <v-menu offset-y lazy
                  ref="place_detail_menu"
                  :close-on-content-click="false">
            <template v-slot:activator="{on}">
                    <span v-on="on"
                          style="cursor: pointer;"
                          class="blue--text">{{event.start_place.name}}</span>
            </template>
            <v-card width="250">
              <v-toolbar dense flat height="30">
                <v-spacer/>
                <v-icon style="margin-right: -10px"
                        @click="$refs.place_detail_menu.save()">clear
                </v-icon>
              </v-toolbar>
              <div class="pa-2">
                <place-detail :value="event.start_place"
                              :uid="event.id"/>
              </div>
            </v-card>
          </v-menu>
        </div>
      </template>
    </div>
  </v-timeline-item>
</template>
<script>
  import PlaceDetail from '@/components/google-map/place-detail'

  export default {
    components: {PlaceDetail},
    props: {
      event: {type: Object, required: true}
    },
    data: () => ({})
  }
</script>