<template>
  <v-app>
    <v-content class="grey lighten-3">
      <v-container fill-height>
        <v-layout fill-height row align-center justify-center>
          <v-flex text-xs-center xs12 sm6 md4>
            <v-card>
              <v-card-text>
                <div class="title mb-3">Tripary - {{$trans.common.sign_in[locale]}}</div>
                <v-btn round small
                       @click="$refs.facebook_auth.sign_in()"
                       :disabled="signing_in"
                       :loading="sign_in_type === 'facebook'"
                       block color="primary">
                  <span>Facebook</span>
                </v-btn>
                <v-btn round small
                       @click="$refs.google_auth.sign_in()"
                       :disabled="signing_in"
                       :loading="sign_in_type === 'google'"
                       block color="error">
                  <span>Google</span>
                </v-btn>
                <v-btn round small
                       disabled class="white--text"
                       block color="cyan">
                  <span>Twitter</span>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-flex>
          <facebook-auth ref="facebook_auth"/>
          <google-auth ref="google_auth"/>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
  import FacebookAuth from '@/components/auth/facebook-auth'
  import GoogleAuth from '@/components/auth/google-auth'

  import {mapState} from 'vuex'

  export default {
    components: {FacebookAuth, GoogleAuth},
    data: () => ({
      callback: '/app/cp'
    }),
    created () {
      let callback = this.$route.query.callback
      if (callback) this.callback = callback
      if (this.access_token) {
        this.$router.push(callback)
        return
      }
    },
    computed: {
      ...mapState('User', ['signing_in', 'sign_in_type'])
    },
    watch: {
      'access_token' (val) {
        console.log('jere', this.callback)
        if (val) return this.$router.push(this.callback)
      }
    },
    methods: {}
  }
</script>