<template>
  <v-layout column>
    <template v-if="processes.list_place_suggestion.in_progress">
      <v-flex text-xs-center>
        <v-progress-circular indeterminate color="secondary"/>
      </v-flex>
    </template>
    <template v-else>
      <template v-if="place_suggestions.length">
        <v-flex>
          <v-layout row wrap>
            <v-flex xs12 sm6 md6 lg4
                    :key="ps.id"
                    v-for="ps in place_suggestions">
              <place-suggestion @deleted="handle_ps_deleted"
                                :event="event"
                                :itinerary="itinerary"
                                :place_suggestion="ps"/>
            </v-flex>
          </v-layout>
        </v-flex>
      </template>
      <template v-else>
        <v-flex text-xs-center>
          <div class="caption text--disabled">{{$trans.event_discussion.no_suggestion[locale]}}</div>
        </v-flex>
      </template>
    </template>
    <v-flex text-xs-center v-if="access_token">
      <v-btn small color="primary"
             style="text-transform: none"
             class="ma-0"
             @click="place_dialog_showed = true"
             depressed flat>
        <span>{{$trans.event_discussion.place_suggestion[locale]}}</span>
      </v-btn>
      <v-dialog max-width="600" persistent
                v-model="place_dialog_showed">
        <v-card>
          <v-container class="pa-2" grid-list-md>
            <v-layout column>
              <v-flex>
                <place-picker :uid="event.id"
                              ref="place_picker"
                              @place_changed="handle_place_changed"
                              :height="300"/>
              </v-flex>
              <v-flex text-xs-right>
                <v-chip small dark
                        v-if="processes.create_place_suggestion.error"
                        color="error">
                  <v-icon left>error</v-icon>
                  <span>{{processes.create_place_suggestion.error}}</span>
                </v-chip>
                <v-btn small flat
                       :disabled="processes.create_place_suggestion.in_progress"
                       @click="place_dialog_showed = false"
                       depressed color="secondary">
                  <span>{{$trans.common.cancel[locale]}}</span>
                </v-btn>
                <v-btn small flat
                       :disabled="!targeted_place"
                       :loading="processes.create_place_suggestion.in_progress"
                       @click="create_place_suggestion"
                       depressed color="primary">
                  <span>{{$trans.common.add[locale]}}</span>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-dialog>
    </v-flex>
    <v-flex>
      <v-divider/>
    </v-flex>
    <v-flex>
      <c-comment :object_id="event.id"
                 :spot_data="$attrs.spot_data"
                 @comment_added="handle_comment_added"
                 object_type="event"/>
    </v-flex>
  </v-layout>
</template>
<script>
  import CComment from '@/components/comment'
  import PlacePicker from '@/components/google-map/picker'
  import PlaceSuggestion from './place-suggestion'

  export default {
    components: {
      CComment, PlacePicker, PlaceSuggestion
    },
    props: {
      event: {type: Object, required: true},
      itinerary: {type: Object, default: true},
    },
    data: () => ({
      targeted_place: null,
      place_dialog_showed: false,
      place_suggestions: [],
      processes: {
        list_place_suggestion: {
          in_progress: false
        },
        create_place_suggestion: {
          in_progress: false,
          error: null
        }
      },
      no_image: require('@/assets/no_image.png')
    }),
    created () {
      this.list_place_suggestion()
    },
    methods: {
      handle_comment_added (comment) {
        if (comment.attachment_type === 'place') {
          const ps = this.place_suggestions.find(i => i.place.id === comment.attachment.place.id)
          if (ps) return
          this.targeted_place = comment.attachment.place
          this.create_place_suggestion()
        }
      },
      handle_place_changed (place) {
        this.targeted_place = place
      },
      handle_ps_deleted (ps_id) {
        const index = this.place_suggestions.findIndex(i => i.id === ps_id)
        if (index < 0) return
        this.place_suggestions.splice(index, 1)
      },
      reset_place () {
        this.targeted_place = null
        this.$refs.place_picker.reset_place()
      },
      async create_place_suggestion () {
        if (!this.targeted_place) return
        let process = this.processes.create_place_suggestion
        if (process.in_progress) return
        process.in_progress = true
        process.error = null
        let service = this.$services.place_suggestion
        let payload = {
          event_id: this.event.id,
          place_id: this.targeted_place.id
        }
        const response = await service.create(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.place_suggestions.push(response.data)
          this.place_dialog_showed = false
          this.reset_place()
        } else {
          // error
          process.error = service.ERRORS[response.data.error_code]
        }
      },
      async list_place_suggestion () {
        let process = this.processes.list_place_suggestion
        if (process.in_progress) return
        process.in_progress = true
        let service = this.$services.place_suggestion
        let payload = {
          event_id: this.event.id
        }
        const response = await service.list(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.place_suggestions = response.data.result
        } else {
          // error
          process.error = response.data.error_code
        }
      }
    }
  }
</script>