<template>
  <v-container fluid class="pa-2" grid-list-md>
    <v-layout column>
      <v-flex>
        <template v-if="processes.list_message.in_progress">
          <v-layout column>
            <v-flex text-xs-center>
              <v-progress-circular indeterminate
                                   class="ma-5"
                                   color="secondary"/>
            </v-flex>
          </v-layout>
        </template>
        <template v-else>
          <template v-if="total > 0">
            <message-list ref="message_list"
                          @mounted="$refs.message_list.scroll_to_bottom()"
                          :messages="messages"/>
          </template>
          <template v-else>
            <v-layout column>
              <v-flex text-xs-center>
                <div class="pa-5">
                  <span class="text--disabled">Chưa có bình luận nào</span>
                </div>
              </v-flex>
            </v-layout>
          </template>
        </template>
      </v-flex>
      <v-flex>
        <v-divider/>
      </v-flex>
      <v-flex>
        <v-textarea rows="1" auto-grow outline
                    ref="text_box"
                    :loading="processes.create_message.in_progress"
                    hide-details @keyup="handle_keypress"
                    single-line v-model="new_message_text"
                    placeholder="Nhập nội dung">
          <template v-slot:append>
            <v-icon
              @click="create_message"
              color="primary">send
            </v-icon>
          </template>
        </v-textarea>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import MessageList from './message-list'

  export default {
    components: {MessageList},
    props: {
      object_type: {type: String, required: true},
      object_id: {type: String, required: true},
    },
    data: () => ({
      no_image: require('@/assets/no_image.png'),
      messages: [],
      pagination: {
        page: 1,
        per_page: 10
      },
      total: 0,
      processes: {
        list_message: {
          in_progress: false
        },
        create_message: {
          in_progress: false
        }
      },
      new_message_text: ''
    }),
    mounted () {
      this.list_message()
    },
    methods: {
      handle_keypress (e) {
        if (e.key !== 'Enter') return
        if (e.shiftKey) return
        this.create_message()
      },
      reset_text_box () {
        let text_box = this.$refs.text_box
        text_box.reset()
        this.new_message_text = ''
      },
      scroll_to_message_list_bottom () {
        let message_list = this.$refs.message_list
        message_list.scrollTop = message_list.offsetHeight
      },
      async list_message () {
        let process = this.processes.list_message
        if (process.in_progress) return
        process.in_progress = true
        let payload = {
          object_type: this.object_type,
          object_id: this.object_id,
          ...this.pagination
        }
        const response = await this.$services.message.list(payload)
        process.in_progress = false
        if (response.status === 200) {
          this.messages = response.data.result.reverse()
          this.total = response.data.total
        }
      },
      async create_message () {
        let process = this.processes.create_message
        if (process.in_progress) return
        if (!this.new_message_text.trim()) return
        process.in_progress = true
        let payload = {
          object_type: this.object_type,
          object_id: this.object_id,
          content_type: 'text',
          content: {
            text: this.new_message_text.trim()
          }
        }
        const response = await this.$services.message.create(payload)
        process.in_progress = false
        if (response.status === 200) {
          this.messages.push(response.data)
          this.total++
          this.reset_text_box()
          this.$refs.message_list.scroll_to_bottom()
        }
      }
    }
  }
</script>