<template>

</template>
<script>
  import {mapState} from 'vuex'

  export default {
    computed: {
      ...mapState('User', ['signing_in']),
    },
    methods: {
      sign_in () {
        if (this.signing_in) return
        this.$store.dispatch('User/start_signing_in', 'facebook')
        const fields = 'email,name'
        const login_callback = response => {
          if (response.authResponse) {
            // login success
            const access_token = response.authResponse.accessToken
            this.$facebook.api('/me?fields=' + fields, async response => {
              const user_data = {
                access_token,
                email: response.email,
                avatar_url: `https://graph.facebook.com/${response.id}/picture?type=normal`,
                uid: response.id,
                name: response.name
              }

              if (response.birthday) {
                user_data.birthday = response.birthday
              }

              const auth_response = await this.$services.user.fb_auth(user_data)
              this.$store.dispatch('User/stop_signing_in')
              if (auth_response.status !== 200) {
                // error
              } else {
                // success
                this.$store.commit('User/signed_in', auth_response.data)
              }
            })
          } else {
            // failed
            this.$store.dispatch('User/stop_signing_in')
          }
        }
        this.$facebook.login(login_callback, {
          scope: 'public_profile,email',
          return_scopes: true
        })
      },
      sign_out () {
        this.$facebook.logout()
        if (this.$route.meta.auth) {
          this.$router.push('/home')
        }
        this.$store.commit('User/signed_out')
      }
    }
  }
</script>
