<template>

</template>
<script>
  import {mapState} from 'vuex'

  export default {
    computed: {
      ...mapState('User', ['signing_in']),
    },
    methods: {
      sign_in () {
        if (this.signing_in) return
        this.handle_start_signing_in()
        let auth2 = this.$gapi.auth2.getAuthInstance()
        auth2.signIn().then(async google_response => {
          let auth_user = auth2.currentUser
          let profile = auth_user.get().getBasicProfile()

          let payload = {
            uid: profile.getId(),
            name: profile.getName(),
            email: profile.getEmail(),
            avatar_url: profile.getImageUrl(),
            token: google_response.getAuthResponse().id_token
          }
          const response = await this.$services.user.gg_auth(payload)
          if (response.status === 200) {
            this.$store.commit('User/signed_in', response.data)
          }
          this.$store.dispatch('User/stop_signing_in')
        }).catch(e => {
          this.$store.dispatch('User/stop_signing_in')
        })
      },
      sign_out () {

      },
      handle_start_signing_in () {
        this.$store.dispatch('User/start_signing_in', 'google')
      }
    }
  }
</script>
