<template>
  <v-layout row wrap>
    <template v-if="mode === 'view'">
      <v-flex xs6 sm6 md4 lg3 v-if="event.price > 0">
        <div class="text--disabled">Price</div>
        <div>
          <template v-if="event.price > 0">
            <b class="mr-1">{{Number(event.price).toLocaleString('en-GB')}}</b>
            <span>{{event.currency}}</span>
          </template>
          <template v-else>
            <b>Free</b>
          </template>
        </div>
      </v-flex>
      <v-flex xs6 sm6 md4 lg3 v-if="event.meta[field.id]"
              v-for="field in event.category.meta_fields"
              :key="field.id">
        <div class="text--disabled">{{$trans.common[field.id][locale]}}</div>
        <div>
          <b>{{event.meta[field.id] ? event.meta[field.id] : '-/-'}}</b>
        </div>
      </v-flex>
      <v-flex xs6 sm6 md4 lg3 v-if="event.meta[field.id]"
              v-for="field in event.sub_category.meta_fields"
              :key="field.id">
        <div class="text--disabled">{{$trans.common[field.id][locale]}}</div>
        <div>
          <b>{{event.meta[field.id] ? event.meta[field.id] : '-/-'}}</b>
        </div>
      </v-flex>
    </template>
    <template v-else>
      <v-flex xs6 sm6 md4 lg3>
        <v-text-field label="Price" height="30" hide-details
                      placeholder="e.g, 123.123" length="10"
                      @input="handle_currency" :suffix="event.currency"
                      :value="Number(event.price).toLocaleString('en-GB')"/>
      </v-flex>
      <v-flex xs6 sm6 md4 lg3
              v-for="field in event.category.meta_fields">
        <v-text-field :label="$trans.common[field.id][locale]" height="30" hide-details
                      :placeholder="field.placeholder"
                      v-model="event.meta[field.id]"/>
      </v-flex>
      <v-flex xs6 sm6 md4 lg3
              v-for="field in event.sub_category.meta_fields">
        <v-text-field :label="$trans.common[field.id][locale]" height="30" hide-details
                      :placeholder="field.placeholder"
                      v-model="event.meta[field.id]"/>
      </v-flex>
    </template>
  </v-layout>
</template>
<script>
  export default {
    props: {
      event: {type: Object, required: true},
      mode: {type: String, default: 'view'}
    },
    methods: {
      handle_currency (val) {
        val = val.split(',').join('')
        this.event.price = Number(val)
      }
    }
  }
</script>
