<template>
  <v-container grid-list-md>
    <v-layout column>
      <v-flex>
        <v-toolbar card flat dark height="35"
                   class="mb-2"
                   dense color="secondary">
          <v-toolbar-title>{{$trans.common.group_list[locale]}}</v-toolbar-title>
          <v-spacer/>
          <v-tooltip top>
            <template v-slot:activator="{on}">
              <v-btn small
                     @click="$refs.create_dialog.show()"
                     icon v-on="on" class="ma-0">
                <v-icon>add</v-icon>
              </v-btn>
            </template>
            <span>{{$trans.group.add_group[locale]}}</span>
          </v-tooltip>
        </v-toolbar>
        <template v-if="processes.list_group.in_progress">
          <v-layout column>
            <v-flex text-xs-center>
              <v-progress-circular color="secondary" indeterminate/>
            </v-flex>
          </v-layout>
        </template>
        <template v-else>
          <template v-if="total > 0">
            <v-layout row wrap>
              <v-flex xs12 sm6 md4
                      v-for="group in groups"
                      :key="group.id">
                <group-item :group="group"
                            @deleted="handle_group_deleted"/>
              </v-flex>
            </v-layout>
          </template>
          <template v-else>
            <v-layout column>
              <v-flex text-xs-center>
                <div class="caption text--disabled">{{$trans.group.no_group[locale]}}</div>
                <v-btn small flat style="text-transform: none"
                       class="ma-0"
                       @click="$refs.create_dialog.show()"
                       color="primary">
                  <v-icon small class="mr-1">add</v-icon>
                  <span>{{$trans.group.add_group[locale]}}</span>
                </v-btn>
              </v-flex>
            </v-layout>
          </template>
        </template>
      </v-flex>
      <create-dialog ref="create_dialog"
                     @created="handle_group_created"/>
    </v-layout>
  </v-container>
</template>
<script>
  import CreateDialog from '@/components/group/list/create-dialog'
  import GroupItem from '@/components/group/list/item'

  import debounce from 'lodash/debounce'

  export default {
    components: {GroupItem, CreateDialog},
    data () {
      return {
        groups: [],
        total: 0,
        pagination: {
          descending: false,
          page: 1,
          per_page: 1000,
          order: 'name'
        },
        processes: {
          list_group: {
            in_progress: false
          }
        },
        query: {
          search_text: ''
        }
      }
    },
    created () {
      this.list_group()
    },
    watch: {
      'pagination': {
        deep: true,
        handler () {
          this.list_group()
        }
      }
    },
    methods: {
      handle_group_created (group) {
        this.groups.push(group)
        this.total++
      },
      handle_group_deleted (group) {
        const index = this.groups.indexOf(group)
        if (index >= 0) {
          this.groups.splice(index, 1)
          this.total--
        }
      },
      search: debounce(function () {
        this.list_group(1)
      }, 500),
      async list_group (page) {
        let process = this.processes.list_group
        if (process.in_progress) return
        process.in_progress = true
        if (page) this.pagination.page = page
        let payload = {
          page: this.pagination.page,
          per_page: this.pagination.per_page,
          order: this.pagination.descending ? `-${this.pagination.sortBy}` : this.pagination.sortBy,
          ...this.query
        }
        const response = await this.$services.group.list(payload)
        process.in_progress = false
        if (response.status === 200) {
          // success
          this.groups = response.data.result
          this.total = response.data.total
        }
      }
    }
  }
</script>